<!-- Modal Definitions -->
<div class="modal fade" id="StartEmailCampaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Start Email Campaign</h4>
      </div>
      <div class="modal-body">
        <% if templates.count > 0 %>
        <form role="form">
          <div class="form-group">
            <label for="templateName">Select a email template to use: </label>
            <select name="TemplateName" id="TemplateNameSelected" class="form-control">
              <% templates.each do |template| %>
              <option><%= template.name %>|(<%= template.subject %>)</option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label>
              <input id="AllVendorsChecked" type="checkbox"> Send out to all vendors
            </label>
          </div>
          <div class="form-group">
            <label>
              <input id="RepliedVendorsOnlyChecked" type="checkbox"> Send out vendors who replied back
            </label>
          </div>
        </form>
        <p id="StartCampaignFormLabel" class="text-center"></p>
        <hr />
        <button id="SubmitCampaignBtn" name="SubmitBtn" class="btn btn-large btn-primary">Submit</button>
        <% else %>
        <p class='text-danger text-center'>No templates avaialbe, add some using 'Add Email Template'</p>
        <hr />
        <button id="SubmitCampaignBtn" name="SubmitBtn" class="btn btn-large btn-primary disabled">Submit</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Email Campaigning
      <p class="pull-right">
        <a id="AddNewEmailTemplate" class="btn btn-primary btn-md" data-toggle="modal" href="/campaign/templates" role="button">Manage Email Templates &raquo;</a>
        <a id="SendEmailCampaignBtn" class="btn btn-primary btn-md" data-toggle="modal" href="#StartEmailCampaign" role="button">Start New Campaign &raquo;</a>
      </p>
    </h2>
  </div>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div class="row">
  <% campaigns.each do |campaign| %>
    <div id="container-<%= campaign.campaign_id %>" class="col-md-6" style="width: 50%; height: 400px; margin: 0 auto"></div>
  <% end %>
</div>

<script>
$(document).ready(function() {
  $('#SubmitCampaignBtn').click(function() {
    var template_name = $('#TemplateNameSelected').val();
    var all_vendors = $('#AllVendorsChecked').prop('checked');
    var replied_vendors_only = $('#RepliedVendorsOnlyChecked').prop('checked');
    $.ajax({
      type: 'POST',
      dataType: "json",
      url: "/campaign/start",
      data: {'name': template_name, 'all_vendors': all_vendors, 'replied_vendors_only': replied_vendors_only},
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg);
          $('#StartCampaignFormLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg)
          $('#StartCampaignFormLabel').addClass('text-info').html(data.msg);
          $('#StartEmailCampaign').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        $('#AddCampaignTemplateFormLabel').addClass('text-danger').html('Something went wrong adding email template!!!');
      }
    });
  });
  // Charts KEWL
  <% campaigns.each do |campaign| %>
  $(function () {
    $('#container-<%= campaign.campaign_id %>').highcharts({
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        title: {
          text: '<%= campaign.campaign_id %>'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Email count',
            data: [
                ['Delivered', <%= campaign.total_delivered %>],
                ['Unique Opens', <%= campaign.unique_opens %>],
                ['Bounced', <%= campaign.total_bounced %>],
                {
                    name: 'Replied',
                    y: <%= campaign.replies && campaign.replies.count || 0 %>,
                    sliced: true,
                    selected: true
                },
                ['Unsubscribed', <%= campaign.total_unsubscribed %>],
                ['Dropped', <%= campaign.total_dropped %>],
            ]
        }]
    });
  });
  <% end %>
});
</script>
