<script src="/js/bootstrap-datepicker.js"></script>

<!-- Modal Definitions -->
<div class="modal fade" id="CreateCertificationRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create New Certification Request</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="CreateForm">
          <div class="form-group">
            <label for="FirstName">First Name:</label>
              <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name that should appear on certificate" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="LastName">Last Name:</label>
              <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name that should appear on certificate" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Certification">Certification:</label>
            <select class="form-control" id="Certification" name="Certification" required="required">
              <option selected value=''>Start typing the certification name</option>
              <% c_hash.each do |c| %>
                <option value="<%= c['short'] %>"><%= c['name'] %></option>
              <% end %>
            </select>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
             <label class="control-label" for="Date">Date: </label>
             <input type="text" class="form-control" name="Date" id="Date" placeholder="date you want to take certification on (mm/dd/yyyy)">
           </div>
          <div class="form-group">
            <label class="control-label" for="Flexible">Flexible? </label>
            <input type="checkbox" class="form-control" id="Flexible" name="Flexible" data-on-text="Yes" data-size="mini" /> &nbsp; (Are you flexible by 2 days ?)
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="TimePreference">Time Preference:</label>
            <select class="form-control" id="TimePreference" name="TimePreference" required="required">
              <option value="MNG">Morning (8AM-12PM)</option>
              <option value="NOON">Noon (12pM-5PM)</option>
            </select>
            <span class="help-block"></span>
          </div>
        </form>
        <p id="CreateCertificationRequestLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitCreateBtn" name="SubmitBtn" class="btn btn-large btn-primary">Submit Request</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Certification Request Portal
      <div class="btn-group pull-right">
        <div class="btn-group pull-right">
          <a id="NewRequest" class="btn btn-primary btn-md" data-toggle="modal" href="#CreateCertificationRequest" role="button">Create New Request &raquo;</a>
        </div>
      </div>
    </h2>
  </div>

  <p class="lead">
    Welcome to the certification request portal, from here you'll be able to request for booking of CDH/HDP/DSE/DS/Spark certifications.
  </p>

  <!-- Updates & Notifications -->
  <div class="page-header">
    <h3>Notifications</h3>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Current Requests</strong>
    </div>
    <% if pending_requests.empty? %>
      <div class="bs-callout bs-callout-info">
        <p class="lead">You don't have any current requests. To create one use the button 'Create New Request'</p>
      </div>
    <% else %>
      <ul class="list-group">
        <% pending_requests.each do |request| %>
        <li class="list-group-item">
          <span class="badge alert-info">Created At: <%= request.created_at %></a></span>
          <span>Request for certification <%= request.name %> on <%= request.booking_date %></span>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Previous Requests</strong>
    </div>
    <% if previous_requests.empty? %>
    <div class="bs-callout bs-callout-info">
      <p class="lead">You don't have any previous requests.</p>
    </div>
    <% else %>
    <ul class="list-group">
      <% previous_requests.each do |request| %>
      <li class="list-group-item">
        <% if request.status == 'approved' %>
        <span class="badge alert-success">Approved At: <%= request.approved_at %></a></span>
        <% else %>
        <span class="badge alert-warning">DisApproved At: <%= request.disapproved_at %></a></span>
        <% end %>
        <span>Request for certification <%= request.name %> on <%= request.booking_date %></span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#Certification').select2();
  $("#Flexible").bootstrapSwitch();
  $('#Date').datepicker({});

  $('#CreateForm').bootstrapValidator({
    feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      FirstName: {
        message: 'The first name is not valid',
        validators: {
          notEmpty: {
              message: 'The first name is required and cannot be empty'
          },
          stringLength: {
              min: 6,
              max: 100,
              message: 'The first name must be more than 6 and less than 100 characters long'
          },
        }
      },
      LastName: {
        message: 'The last name is not valid',
        validators: {
          notEmpty: {
              message: 'The last name is required and cannot be empty'
          },
          stringLength: {
              min: 6,
              max: 100,
              message: 'The last name must be more than 6 and less than 100 characters long'
          },
        }
      }
    }
  })

  $('#SubmitCreateBtn').click(function() {
    _this = $(this);
    _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/certifications/<%= consultant.email %>/request",
      data: $('#CreateForm').serialize(),
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg);
          _this.attr('disabled', false); // re-enable submit
          _this.html('Re-submit');
          $('#CreateCertificationRequestLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg);
          _this.html("Submitted");
          $('#CreateCertificationRequestLabel').addClass('text-info').html(data.msg);
          $('#CreateCertificationRequest').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        _this.attr('disabled', false); // re-enable submit
        _this.text('Re-submit');
        $('#CreateCertificationRequestLabel').addClass('text-danger').html('Something went wrong requesting air ticket!!!');
      }
    });
  });
});
</script>
