<!-- Constultant add Modal -->
<div class="modal fade" id="AddConsultant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Consultant</h4>
      </div>
      <div class="modal-body">
        <form id="AddForm" class="form-horizontal" autocomplete="off">
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="FirstName">First Name:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" value="" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="LastName">Last Name:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name" value="" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Email">Email Address:</label>
            <div class="col-md-5 col-xm-6">
              <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3 col-md-3" for="Team">Team:</label>
            <div class="col-md-5 col-xm-6">
              <input type="text" class="form-control" id="Team" name="Team" placeholder="Team" required="required" />
              <span class="help-block"></span>
            </div>
          </div>
          <p id="AddConsultantFormLabel" class="text-center"></p>
          <div class="form-group">
            <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-md-9">
              <button id="SubmitBtn" name="SubmitBtn" class="btn btn-large btn-primary">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Consultants
      <p class="pull-right">
        <a id="AddNewConsultant" class="btn btn-primary btn-md" data-toggle="modal" href="#AddConsultant" role="button">Add New &raquo;</a>
      </p>
    </h2>
  </div>
  <% if !consultants.empty? %>
  <table class="table table-hover">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team</th>
      <th>Jobs Tracking</th>
      <th></th>
    </tr>
    <% consultants.each_with_index do |consultant, count| %>
      <tr id="consultant<%= count+1 %>">
        <td><a href="/consultant/view/<%= consultant.email %>"><%= consultant.email %></a></td>
        <td><%= consultant.first_name %></td>
        <td><%= consultant.last_name %></td>
        <td><%= consultant.team %></td>
        <td><%= consultant.applications.count %></td>
        <td><a id="deletebutton<%= count+1 %>"></a></td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <h4 class="text-primary">No one's here create consultants using 'Add New'</h4>
  <% end %>
</div>

<script type="text/javascript">
// On load
$(document).ready(function(){
  <% consultants.each_with_index do |consultant, count| %>
  $('#consultant<%= count+1 %>').hover(
    function(){ // mouseenter
      $('#deletebutton<%= count+1 %>').html('x');
    },
    function(){ // mouseleave
      $('#deletebutton<%= count+1 %>').empty();
    }
  );

  $('#deletebutton<%= count+1 %>').click(function(){
    $.ajax({
      type: "POST",
      url: "/consultant/delete/<%= consultant.email %>",
      success: function(data){
        location.reload();
      },
      error: function(e){
        alert("Error occurred");
      }
    });
  });
  <% end %>
});
// Add new consultant
$(AddNewConsultant).click(function () {
  jQuery.validator.setDefaults({
    debug: true,
    errorClass: 'has-error',
    validClass: 'has-success',
    ignore: "",
    highlight: function (element, errorClass, validClass) {
      $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
      $(element).closest('.form-group').find('.help-block').text('');
    },
    errorPlacement: function (error, element) {
      $(element).closest('.form-group').find('.help-block').text(error.text());
    },
    submitHandler: function (form) {
      return true;
      // if ($(form).valid()) {
      //   form.submit();
      // }
    }
  });

  var firstName = $("#FirstName");
  var lastName = $("#LastName");
  var email = $("#Email");
  var team = $("#Team");
  var form = $('#AddForm');
  var submitBtn = $('#SubmitBtn');

  form.validate();

  firstName.rules("add", {
    required: true,
    rangelength: [3, 20],
    messages: {
      required: "You must provide consultants first name.",
      rangelength: "The first name must be between 3 and 20 characters in length."
    }
  });
  lastName.rules("add", {
    required: true,
    rangelength: [3, 20],
    messages: {
      required: "You must provide consultants last name.",
      rangelength: "The last name must be between 3 and 20 characters in length."
    }
  });
  email.rules("add", {
    required: true,
    rangelength: [3, 50],
    messages: {
      required: "You must provide consultants email address.",
      rangelength: "The email must be between 3 and 20 characters in length."
    }
  });
  team.rules("add", {
    required: true,
    digits: true,
    max: 15,
    messages: {
      required: "You must provide consultants team.",
      rangelength: "The team number must be less than 15."
    }
  });

  form.submit(function () {
    console.log("Submitting data");
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/consultant/new",
      data: form.serialize(),
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg)
          $('#AddConsultantFormLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg)
          $('#AddConsultantFormLabel').addClass('text-info').html(data.msg);
          $('#AddConsultant').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        $('#AddConsultantFormLabel').addClass('text-danger').html('Something went wrong adding consultant!!!');
      }
    });
  });
});
</script>
