<div class="container theme-showcase" role="main">
  <div class="bs-callout bs-callout-info">
    <p class="lead">Hello <code><%= @userfullname.split.map(&:capitalize).join(' ') %></code>. Welcome to Cloudwick's SYNC Portal.</p>
  </div>

  <h3><strong>Sync</strong> is a centralized portal for:</h3> 
  <ul>
    <li>
      <h4>Accessing self-service <a href="/training">training portal</a></h4>
    </li>
    <li>
      <h4>Tracking Time using <a href="/timesheets/<%= @username %>/<%= Time.now.strftime('%Y') %>/<%= Time.now.strftime('%U') %>">timesheets</a> module</h4>
    </li>
    <li>
      <h4>Requesting <a href="/documents/<%= @username %>">documents</a>, <a href="/certifications/<%= @username %>">certifications</a>, <a href="/airtickets/<%= @username %>">air-tickets</a>, <a href="/cloudservers/requests/<%= @username %>">cloud servers</a></h4>
    </li>
  </ul>

  <br>

  <h3>Other tools:</h3>

  <div class="col-xs-3 spacer">
    <div class="well" style="height:250px; background-color: #337ab7;">
      <p align="center" class="font-responsive-large"><a href="https://cloudwick.atlassian.net/wiki"><font color="white">Cloudwick Athenaeum</font></a></p>
      <br>
      <p align="center"><font color="white">Centralized knowledge management. You will be able to sign in using your cloudwick email address.</font></p>
    </div>
  </div>
  <div class="col-xs-3 spacer">
    <div class="well" style="height:250px; background-color: #5bc0de;">
      <p align="center" class="font-responsive-large"><a href="https://cloudwick.atlassian.net/wiki/questions"><font color="white">Cloudwick Questions</font></a></p>
      <br>
      <p align="center"><font color="white">If you have any technical questions this is the place to ask. You will be able to sign in using your cloudwick email address.</font></p>
    </div>
  </div>
  <div class="col-xs-3 spacer">
    <div class="well" style="height:250px; background-color: #5cb85c;">
      <p align="center" class="font-responsive-large"><a href="https://cloudwick.slack.com"><font color="white">Slack</font></a></p>
      <br>
      <p align="center"><font color="white">Team collaboration and chat. To sign up to Slack use this <a href="https://cloudwick.slack.com/signup">link</a> and use your cloudwick email address when signing up. This is crucial as we send all notifications to Slack.</font></p>
    </div>
  </div>
  <div class="col-xs-3 spacer">
    <div class="well" style="height:250px; background-color: #f0ad4e;">
      <p align="center" class="font-responsive-large"><a href="https://github.com/cloudwicklabs"><font color="white">Cloudwick Github</font></a></p>
      <br>
      <p align="center"><font color="white">Code sharing.</font></p>
    </div>
  </div>

  <br>

  <p><code>Feedback</code>: We will be happy to hear back from you on how to better build this platform. Contact Sync <a href="mailto:syncadmin@cloudwick.com?subject:Suggestion about Sync from <%= @userfullname %>">admin(s)</a> for more information or to send suggestions.</p>
</div>

<style type="text/css">
.spacer {
  margin-top: 20px;
}

.font-responsive-large {
  overflow:auto;
  font-size: 2.5vw;
}
.font-responsive-small {
  overflow:auto;
  font-size: 1.5vw;
}
</style>

<script src="/js/jquery.fittext.js"></script>
<script type="text/javascript">
$(".font-responsive-large").fitText();
$(".font-responsive-small").fitText();
</script>
