<!-- Modal definitions -->
<div class="modal fade" id="MakeRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a New Document Request</h4>
      </div>
      <div id="requestModal" class="modal-body">
        <script src="/js/bootstrap-datepicker.js"></script>
        <form class="form-horizontal" role="form" id="RequestForm">
          <!-- full name -->
           <div class="form-group">
             <label class="col-sm-offset-1 col-sm-2 control-label" for="FullName">FullName</label>
             <div class="col-sm-8">
               <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full Name as it should appear on document" required="required">
             </div>
           </div>
           <!-- company -->
           <div class="form-group">
             <label class="col-sm-offset-1 col-sm-2 control-label" for="Company">Company</label>
             <div class="col-sm-8">
               <select id="company" name="company" class="form-control">
                <option value="cloudwick">Cloudwick</option>
                <option value="jbmicro">JBMicro</option>
               </select>
             </div>
           </div>
           <!-- document type -->
           <div class="form-group">
             <label class="col-sm-offset-1 col-sm-2 control-label" for="DocumentType">Document</label>
             <div class="col-sm-8">
               <select id="documenttype" name="documenttype" class="form-control">
                <option value="none">Select document type to request</option>
                <option value="OL">Offer Letter</option>
                <option value="LL">Leave Letter</option>
                <option value="EVL">Employment Verification Letter</option>
                <!-- <option value="RL">Releaving Letter</option> -->
               </select>
             </div>
           </div>
           <!-- position -->
           <div class="form-group">
             <label class="col-sm-offset-1 col-sm-2 control-label" for="position">Position: </label>
             <div class="col-sm-8">
               <input type="text" class="form-control" name="position" id="position" placeholder="Enter your current position at the company" required="required">
             </div>
           </div>
           <!-- leave letter options -->
           <div id="LeaveLetterOptions" class="hide">
             <div class="form-group date">
               <label class="col-sm-offset-1 col-sm-2 control-label" for="StartDate">StartDate: </label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="llstartdate" id="LLStartDate" placeholder="leave start date in format (mm/dd/yyyy)">
               </div>
             </div>
             <div class="form-group date">
               <label class="col-sm-offset-1 col-sm-2 control-label" for="EndDate">EndDate: </label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="llenddate" id="LLEndDate" placeholder="leave end date in format (mm/dd/yyyy)">
               </div>
             </div>
             <div class="form-group date">
               <label class="col-sm-offset-1 col-sm-2 control-label" for="DatedAs">DatedAs: </label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="lldatedas" id="LLDatedAs" placeholder="Dated As in format (mm/dd/yyyy)">
               </div>
             </div>
           </div>
           <!-- offer letter options -->
           <div id="OfferLetterOptions" class="hide">
             <div class="form-group date">
               <label class="col-sm-offset-1 col-sm-2 control-label" for="StartDate">StartDate: </label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="olstartdate" id="OLStartDate" placeholder="offer letter start date in format (mm/dd/yyyy)">
               </div>
             </div>
             <div class="form-group date">
               <label class="col-sm-offset-1 col-sm-2 control-label" for="DatedAs">DatedAs: </label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="oldatedas" id="OLDatedAs" placeholder="Dated As in format (mm/dd/yyyy)">
               </div>
             </div>
           </div>
           <!-- employment verification letter options -->
           <div id="EmploymentLetterOptions" class="hide">
             <div class="form-group date">
               <label class="col-sm-offset-1 col-sm-2 control-label" for="StartDate">StartDate: </label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="elstartdate" id="ELStartDate" placeholder="employment letter start date in format (mm/dd/yyyy)">
               </div>
             </div>
             <div class="form-group date">
               <label class="col-sm-offset-1 col-sm-2 control-label" for="DatedAs">DatedAs: </label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="eldatedas" id="ELDatedAs" placeholder="Dated As in format (mm/dd/yyyy)">
               </div>
             </div>
           </div>
        </form>
        <p id="MakeRequestFormLabel" class="text-center"></p>
        <hr />
        <button id="SubmitRequestBtn" name="SubmitBtn" class="btn btn-large btn-primary center-block">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Document Request Portal
      <div class="btn-group pull-right">
        <a id="NewRequest" class="btn btn-primary btn-md" data-toggle="modal" href="#MakeRequest" role="button">Create New Request &raquo;</a>
      </div>
    </h2>
  </div>

  <p class="lead">
    Welcome to the document request portal, from here you'll be able to request for documents like Offer Letter, Employment Verification Letter &amp; Leave Letter.
  </p>

  <!-- Updates & Notifications -->
  <div class="page-header">
    <h3>Notifications</h3>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Current Requests</strong>
    </div>
    <% if pending_requests.empty? %>
    <div class="bs-callout bs-callout-info">
      <p class="lead">You don't have any current requests. To create one use the button 'Create New Request'</p>
    </div>
    <% else %>
    <ul class="list-group">
      <% pending_requests.each do |request| %>
      <li class="list-group-item">
        <span class="badge alert-info">Created At: <%= request.created_at %></a></span>
        <span>Type:
        <%=
          case request.document_type
          when 'OL'
            'OfferLetter'
          when 'LL'
            'LeaveLetter'
          when 'EVL'
            'EmploymentVerificationLetter'
          else
            request.document_type
          end
          %>
        </span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Previous Requests</strong>
    </div>
    <% if previous_requests.empty? %>
    <div class="bs-callout bs-callout-info">
      <p class="lead">You don't have any previous requests.</p>
    </div>
    <% else %>
    <ul class="list-group">
      <% previous_requests.each do |request| %>
      <li class="list-group-item">
        <% if request.status == 'approved' %>
        <span class="badge alert-success">Approved At: <%= request.approved_at %></a></span>
        <% else %>
        <span class="badge alert-warning">DisApproved At: <%= request.disapproved_at %></a></span>
        <% end %>
        <span class="badge alert-info"><%= request.company %></a></span>
        <span><i>Request Document Type:</i>
        <b>
        <%=
          case request.document_type
          when 'OL'
            'OfferLetter'
          when 'LL'
            'LeaveLetter'
          when 'EVL'
            'EmploymentVerificationLetter'
          else
            request.document_type
          end
          %>
          </b>
        </span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
  // show/hide options based on document type selected
  $(function() {
    $('#documenttype').change(function() {
      if($('#documenttype').val() == 'LL') {
        $('#LeaveLetterOptions').removeClass('hide');
        $('#OfferLetterOptions').addClass('hide');
        $('#EmploymentLetterOptions').addClass('hide');
        $('#LLStartDate').datepicker({});
        $('#LLEndDate').datepicker({});
        $('#LLDatedAs').datepicker({});
      } else if($('#documenttype').val() == 'OL') {
        $('#LeaveLetterOptions').addClass('hide');
        $('#OfferLetterOptions').removeClass('hide');
        $('#EmploymentLetterOptions').addClass('hide');
        $('#OLStartDate').datepicker({});
        $('#OLDatedAs').datepicker({});
      } else if($('#documenttype').val() == 'EVL') {
        $('#LeaveLetterOptions').addClass('hide');
        $('#OfferLetterOptions').addClass('hide');
        $('#EmploymentLetterOptions').removeClass('hide');
        $('#ELStartDate').datepicker({});
        $('#ELDatedAs').datepicker({});
      } else {
        $('#LeaveLetterOptions').addClass('hide');
        $('#OfferLetterOptions').addClass('hide');
        $('#EmploymentLetterOptions').addClass('hide');
      }
    })
  });

  $('#RequestForm').bootstrapValidator({
    feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
    fields: {
      fullname: {
        message: 'The name is not valid',
        validators: {
          notEmpty: {
              message: 'The name is required and cannot be empty'
          },
          stringLength: {
              min: 6,
              max: 30,
              message: 'The name must be more than 6 and less than 30 characters long'
          },
        }
      },
      position: {
        message: 'Position is not valid',
        validators: {
          notEmpty: {
              message: 'Position is required and cannot be empty'
          },
          stringLength: {
              min: 6,
              max: 30,
              message: 'Position must be more than 6 and less than 30 characters long'
          },
        }
      },
      company: {
        message: 'Company name is not valid',
        validators: {
          notEmpty: {
              message: 'Company name is required and cannot be empty'
          }
        }
      },
    }
  });

  $('#SubmitRequestBtn').click(function() {
    _this = $(this);
    _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit
    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/documents/<%= consultant.email %>/request",
      data: $('#RequestForm').serialize(),
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg);
          _this.attr('disabled', false); // re-enable submit
          _this.html('Re-submit');
          $('#MakeRequestFormLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg)
          _this.html("Submitted");
          $('#MakeRequestFormLabel').addClass('text-info').html(data.msg);
          $('#MakeRequest').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#MakeRequestFormLabel').addClass('text-danger').html('Something went wrong creating a new request!!!');
      }
    });
  });
});
</script>
