<script src="/js/bootstrap-datepicker.js"></script>

<!-- Modal Definitions -->
<!-- Leave letter -->
<div class="modal fade" id="CreateLeaveLetter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create/Send Leave Letter</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="LLCreateForm">
          <div class="form-group">
            <label for="LLConsultantName">Consultant Name:</label>
              <input type="text" class="form-control" id="LLConsultantName" name="LLConsultantName" placeholder="Name of the Consultant" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Email">Email Address of Consultant:</label>
            <input type="email" class="form-control" id="LLEmail" name="Email" placeholder="Email" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Position">Consultant position at the company:</label>
            <input type="text" class="form-control" id="LLPosition" name="Position" placeholder="Position" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="templateName">Select a company: </label>
            <select name="LLCompanyName" id="LLCompanyName" class="form-control">
              <option>JB Micro, INC</option>
              <option>Cloudwick Technologies, INC</option>
            </select>
          </div>
          <div class="form-group">
            <label for="templateName">Select a template to use: </label>
            <select name="LeaveLetterTemplateName" id="LeaveLetterTemplateNameSelected" class="form-control">
              <% templates.each do |template| %>
              <option><%= template.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="signatureName">Select a signature to use: </label>
            <select name="LeaveLetterSignatureName" id="LeaveLetterSignatureSelected" class="form-control">
              <% signatures.each do |signature| %>
              <option><%= signature.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="layoutName">Select a layout to use: </label>
            <select name="LeaveLetterLayoutName" id="LeaveLetterLayoutSelected" class="form-control">
              <% layouts.each do |layout| %>
              <option><%= layout.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group date">
            <label>Select start date: </label>
            <input type="text" class="form-control" id="LLStartDate" placeholder="mm/dd/yyyy">
          </div>
          <div class="form-group date">
            <label>Select end date: </label>
            <input type="text" class="form-control" id="LLEndDate" placeholder="mm/dd/yyyy">
          </div>
          <div class="form-group date">
            <label>Dated As date: </label>
            <input type="text" class="form-control" id="LLDatedAsDate" placeholder="mm/dd/yyyy">
          </div>
        </form>
        <p id="CreateLeaveLetterFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="PreviewCreateLLBtn" name="SubmitBtn" class="btn btn-large btn-primary">Preview</button>
            <button id="SubmitCreateLLBtn" name="SubmitBtn" class="btn btn-large btn-primary">Send Email</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Offer Letter -->
<div class="modal fade" id="CreateOfferLetter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create/Send Offer Letter</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="OLCreateForm">
          <div class="form-group">
            <label for="OLConsultantName">Consultant Name:</label>
              <input type="text" class="form-control" id="OLConsultantName" name="OLConsultantName" placeholder="Name of the Consultant" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Email">Email Address of Consultant:</label>
            <input type="email" class="form-control" id="OLEmail" name="Email" placeholder="Email" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Position">Consultant position at the company:</label>
            <input type="text" class="form-control" id="OLPosition" name="Position" placeholder="Position" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="templateName">Select a company: </label>
            <select name="OLCompanyName" id="OLCompanyName" class="form-control">
              <option>JB Micro, INC</option>
              <option>Cloudwick Technologies, INC</option>
            </select>
          </div>
          <div class="form-group">
            <label for="templateName">Select a template to use: </label>
            <select name="OfferLetterTemplateName" id="OfferLetterTemplateNameSelected" class="form-control">
              <% templates.each do |template| %>
              <option><%= template.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="signatureName">Select a signature to use: </label>
            <select name="OfferLetterSignatureName" id="OfferLetterSignatureSelected" class="form-control">
              <% signatures.each do |signature| %>
              <option><%= signature.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="layoutName">Select a layout to use: </label>
            <select name="OfferLetterLayoutName" id="OfferLetterLayoutSelected" class="form-control">
              <% layouts.each do |layout| %>
              <option><%= layout.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group date">
            <label>Select start date: </label>
            <input type="text" class="form-control" id="OLStartDate" placeholder="mm/dd/yyyy">
          </div>
          <div class="form-group date">
            <label>Dated As date: </label>
            <input type="text" class="form-control" id="OLDatedAsDate" placeholder="mm/dd/yyyy">
          </div>
        </form>
        <p id="CreateOfferLetterFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="PreviewCreateOLBtn" name="SubmitBtn" class="btn btn-large btn-primary">Preview</button>
            <button id="SubmitCreateOLBtn" name="SubmitBtn" class="btn btn-large btn-primary">Send Email</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Employment Letter -->
<div class="modal fade" id="CreateEmploymentLetter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create/Send Employment Letter</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="ELCreateForm">
          <div class="form-group">
            <label for="ELConsultantName">Consultant Name:</label>
              <input type="text" class="form-control" id="ELConsultantName" name="ELConsultantName" placeholder="Name of the Consultant" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Email">Email Address of Consultant:</label>
            <input type="email" class="form-control" id="ELEmail" name="Email" placeholder="Email" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Position">Consultant position at the company:</label>
            <input type="text" class="form-control" id="ELPosition" name="Position" placeholder="Position" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="templateName">Select a company: </label>
            <select name="ELCompanyName" id="ELCompanyName" class="form-control">
              <option>JB Micro, INC</option>
              <option>Cloudwick Technologies, INC</option>
            </select>
          </div>
          <div class="form-group">
            <label for="templateName">Select a template to use: </label>
            <select name="EmploymentLetterTemplateName" id="EmploymentLetterTemplateNameSelected" class="form-control">
              <% templates.each do |template| %>
              <option><%= template.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="signatureName">Select a signature to use: </label>
            <select name="EmploymentLetterSignatureName" id="EmploymentLetterSignatureSelected" class="form-control">
              <% signatures.each do |signature| %>
              <option><%= signature.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="layoutName">Select a layout to use: </label>
            <select name="EmploymentLetterLayoutName" id="EmploymentLetterLayoutSelected" class="form-control">
              <% layouts.each do |layout| %>
              <option><%= layout.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group date">
            <label>Select start date: </label>
            <input type="text" class="form-control" id="ELStartDate" placeholder="mm/dd/yyyy">
          </div>
          <div class="form-group date">
            <label>Dated As date: </label>
            <input type="text" class="form-control" id="ELDatedAsDate" placeholder="mm/dd/yyyy">
          </div>
        </form>
        <p id="CreateEmploymentLetterFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="PreviewCreateELBtn" name="SubmitBtn" class="btn btn-large btn-primary">Preview</button>
            <button id="SubmitCreateELBtn" name="SubmitBtn" class="btn btn-large btn-primary">Send Email</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dynamic Modals (Requests made by user) -->
<!-- dynamic leave letter modals -->
<% pending_requests.where(document_type: 'LL').each do |request| %>
  <div class="modal fade" id="CreateLeaveLetter-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Create/Send Leave Letter</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="LLCreateForm-<%= request.id %>">
            <div class="form-group">
              <label for="LLConsultantName">Consultant Name:</label>
                <input type="text" class="form-control" id="LLConsultantName-<%= request.id %>" name="LLConsultantName-<%= request.id %>" placeholder="Name of the Consultant" value="<%= request.consultant_name %>" required="required" />
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Email">Email Address of Consultant:</label>
              <input type="email" class="form-control" id="LLEmail-<%= request.id %>" name="Email-<%= request.id %>" placeholder="Email" value="<%= request.consultant_email %>" required="required" />
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Position">Consultant position at the company:</label>
              <input type="text" class="form-control" id="LLPosition-<%= request.id %>" name="Position-<%= request.id %>" placeholder="Position" value="<%= request.position %>" required="required" />
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="templateName">Select a company: </label>
              <select name="LLCompanyName-<%= request.id %>" id="LLCompanyName-<%= request.id %>" class="form-control">
                <% if request.company == 'cloudwick' %>
                  <option selected>Cloudwick Technologies, INC</option>
                  <option>JB Micro, INC</option>
                <% else %>
                  <option>Cloudwick Technologies, INC</option>
                  <option selected>JB Micro, INC</option>
                <% end %>
              </select>
            </div>
            <div class="form-group">
              <label for="templateName">Select a template to use: </label>
              <select name="LeaveLetterTemplateName-<%= request.id %>" id="LeaveLetterTemplateNameSelected-<%= request.id %>" class="form-control">
                <% templates.where(type: request.document_type).each do |template| %>
                <option><%= template.name %></option>
                <% end %>
              </select>
            </div>
            <div class="form-group">
              <label for="signatureName">Select a signature to use: </label>
              <select name="LeaveLetterSignatureName-<%= request.id %>" id="LeaveLetterSignatureSelected-<%= request.id %>" class="form-control">
                <% signatures.each do |signature| %>
                <option><%= signature.filename %></option>
                <% end %>
              </select>
            </div>
            <div class="form-group">
              <label for="layoutName">Select a layout to use: </label>
              <select name="LeaveLetterLayoutName-<%= request.id %>" id="LeaveLetterLayoutSelected-<%= request.id %>" class="form-control">
                <% layouts.each do |layout| %>
                <option><%= layout.filename %></option>
                <% end %>
              </select>
            </div>
            <div class="form-group date">
              <label>Select start date: </label>
              <input type="text" class="form-control" id="LLStartDate-<%= request.id %>" placeholder="mm/dd/yyyy" value="<%= request.start_date %>">
            </div>
            <div class="form-group date">
              <label>Select end date: </label>
              <input type="text" class="form-control" id="LLEndDate-<%= request.id %>" placeholder="mm/dd/yyyy" value="<%= request.end_date %>">
            </div>
            <div class="form-group date">
              <label>Dated As date: </label>
              <input type="text" class="form-control" id="LLDatedAsDate-<%= request.id %>" placeholder="mm/dd/yyyy" value="<%= request.dated %>">
            </div>
          </form>
          <p id="CreateLeaveLetterFormLabel-<%= request.id %>" class="text-center"></p>
          <hr />
          <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6 text-center">
              <button id="PreviewCreateLLBtn-<%= request.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Preview</button>
              <button id="SubmitCreateLLBtn-<%= request.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Send Email</button>
            </div>
            <div class="span3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- dynamic offer letter modals -->
<% pending_requests.where(document_type: 'OL').each do |request| %>
<div class="modal fade" id="CreateOfferLetter-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create/Send Offer Letter</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="OLCreateForm-<%= request.id %>">
          <div class="form-group">
            <label for="OLConsultantName">Consultant Name:</label>
              <input type="text" class="form-control" id="OLConsultantName-<%= request.id %>" name="OLConsultantName-<%= request.id %>" placeholder="Name of the Consultant" value="<%= request.consultant_name %>" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Email">Email Address of Consultant:</label>
            <input type="email" class="form-control" id="OLEmail-<%= request.id %>" name="Email" placeholder="Email" value="<%= request.consultant_email %>" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Position">Consultant position at the company:</label>
            <input type="text" class="form-control" id="OLPosition-<%= request.id %>" name="Position-<%= request.id %>" placeholder="Position" value="<%= request.position %>" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="templateName">Select a company: </label>
            <select name="OLCompanyName" id="OLCompanyName-<%= request.id %>" class="form-control">
              <% if request.company == 'cloudwick' %>
                <option selected>Cloudwick Technologies, INC</option>
                <option>JB Micro, INC</option>
              <% else %>
                <option>Cloudwick Technologies, INC</option>
                <option selected>JB Micro, INC</option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="templateName">Select a template to use: </label>
            <select name="OfferLetterTemplateName" id="OfferLetterTemplateNameSelected-<%= request.id %>" class="form-control">
              <% templates.where(type: request.document_type).each do |template| %>
              <option><%= template.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="signatureName">Select a signature to use: </label>
            <select name="OfferLetterSignatureName" id="OfferLetterSignatureSelected-<%= request.id %>" class="form-control">
              <% signatures.each do |signature| %>
              <option><%= signature.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="layoutName">Select a layout to use: </label>
            <select name="OfferLetterLayoutName" id="OfferLetterLayoutSelected-<%= request.id %>" class="form-control">
              <% layouts.each do |layout| %>
              <option><%= layout.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group date">
            <label>Select start date: </label>
            <input type="text" class="form-control" id="OLStartDate-<%= request.id %>" placeholder="mm/dd/yyyy" value="<%= request.start_date %>">
          </div>
          <div class="form-group date">
            <label>Dated As date: </label>
            <input type="text" class="form-control" id="OLDatedAsDate-<%= request.id %>" placeholder="mm/dd/yyyy" value="<%= request.dated %>">
          </div>
        </form>
        <p id="CreateOfferLetterFormLabel-<%= request.id %>" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="PreviewCreateOLBtn-<%= request.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Preview</button>
            <button id="SubmitCreateOLBtn-<%= request.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Send Email</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- dynamic employment letter modals -->
<% pending_requests.where(document_type: 'EVL').each do |request| %>
<div class="modal fade" id="CreateEmploymentLetter-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create/Send Employment Letter</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="ELCreateForm-<%= request.id %>">
          <div class="form-group">
            <label for="ELConsultantName">Consultant Name:</label>
              <input type="text" class="form-control" id="ELConsultantName-<%= request.id %>" name="ELConsultantName" placeholder="Name of the Consultant" value="<%= request.consultant_name %>" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Email">Email Address of Consultant:</label>
            <input type="email" class="form-control" id="ELEmail-<%= request.id %>" name="Email" placeholder="Email" value="<%= request.consultant_email %>" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Position">Consultant position at the company:</label>
            <input type="text" class="form-control" id="ELPosition-<%= request.id %>" name="Position-<%= request.id %>" placeholder="Position" value="<%= request.position %>" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="templateName">Select a company: </label>
            <select name="ELCompanyName" id="ELCompanyName-<%= request.id %>" class="form-control">
              <% if request.company == 'cloudwick' %>
                <option selected>Cloudwick Technologies, INC</option>
                <option>JB Micro, INC</option>
              <% else %>
                <option>Cloudwick Technologies, INC</option>
                <option selected>JB Micro, INC</option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="templateName">Select a template to use: </label>
            <select name="EmploymentLetterTemplateName" id="EmploymentLetterTemplateNameSelected-<%= request.id %>" class="form-control">
              <% templates.where(type: request.document_type).each do |template| %>
              <option><%= template.name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="signatureName">Select a signature to use: </label>
            <select name="EmploymentLetterSignatureName" id="EmploymentLetterSignatureSelected-<%= request.id %>" class="form-control">
              <% signatures.each do |signature| %>
              <option><%= signature.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="layoutName">Select a layout to use: </label>
            <select name="EmploymentLetterLayoutName" id="EmploymentLetterLayoutSelected-<%= request.id %>" class="form-control">
              <% layouts.each do |layout| %>
              <option><%= layout.filename %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group date">
            <label>Select start date: </label>
            <input type="text" class="form-control" id="ELStartDate-<%= request.id %>" placeholder="mm/dd/yyyy" value="<%= request.start_date %>">
          </div>
          <div class="form-group date">
            <label>Dated As date: </label>
            <input type="text" class="form-control" id="ELDatedAsDate-<%= request.id %>" placeholder="mm/dd/yyyy" value="<%= request.dated %>">
          </div>
        </form>
        <p id="CreateEmploymentLetterFormLabel-<%= request.id %>" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="PreviewCreateELBtn-<%= request.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Preview</button>
            <button id="SubmitCreateELBtn-<%= request.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Send Email</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Document Management
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Start Here <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a id="CreateOfferLetterBtn" data-toggle="modal" href="#CreateOfferLetter">
              Create/Send OfferLetter
            </a>
          </li>
          <li>
            <a id="CreateLeaveLetterBtn" data-toggle="modal" href="#CreateLeaveLetter">
              Create/Send LeaveLetter
            </a>
          </li>
          <li>
            <a id="CreateEmploymentLetterBtn" data-toggle="modal" href="#CreateEmploymentLetter">
              Create/Send EmploymentLetter
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/documents/templates">Manage Document Templates</a>
          </li>
        </ul>
      </div>
    </h2>
  </div>
  <!-- Notifications -->
  <h3>Notifications</h3>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Pending Requests</strong>
    </div>
    <% if pending_requests.empty? %>
    <div class="bs-callout bs-callout-info">
      <p class="lead">No new requests have been made. So, right now <code>chill!</code></p>
    </div>
    <% else %>
    <ul class="list-group">
      <% pending_requests.each do |request| %>
      <li class="list-group-item">
        <button type="button" id="DisapproveRequest-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove disapprovebutton" data-original-title="Disapprove this request"></span></button>
        <% if request.document_type == 'LL' %>
        <button type="button" data-toggle="modal" data-target="#CreateLeaveLetter-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok approvebutton" data-original-title="Approve this request"></span></button>
        <% elsif request.document_type == 'OL' %>
        <button type="button" data-toggle="modal" data-target="#CreateOfferLetter-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok approvebutton" data-original-title="Approve this request"></span></button>
        <% elsif request.document_type == 'EVL' %>
        <button type="button" data-toggle="modal" data-target="#CreateEmploymentLetter-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok approvebutton" data-original-title="Approve this request"></span></button>
        <% end %>
        <span><%= request.consultant_name %> has requested <%= request.document_type %></span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Previously Approved Requests</strong>
    </div>
    <% if approved_requests.empty? %>
    <div class="bs-callout bs-callout-info">
      <p class="lead">No requests have been so far marked as approved!</p>
    </div>
    <% else %>
    <ul class="list-group">
      <% approved_requests.each do |request| %>
      <li class="list-group-item">
        <span class="badge alert-info">Approved At: <%= request.approved_at %></a></span>
        <span class="badge alert-success">Approved By: <%= request.approved_by %></a></span>
        <span><%= request.consultant_name %> has requested <%= request.document_type %></span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Previously DisApproved Requests</strong>
    </div>
    <% if disapproved_requests.empty? %>
    <div class="bs-callout bs-callout-info">
      <p class="lead">No new requests have been so far marked as disapproved!</p>
    </div>
    <% else %>
    <ul class="list-group">
      <% disapproved_requests.each do |request| %>
      <li class="list-group-item">
        <span class="badge alert-info">DisApproved At: <%= request.disapproved_at %></a></span>
        <span class="badge alert-success">DisApproved By: <%= request.disapproved_by %></a></span>
        <span><%= request.consultant_name %> has requested <%= request.document_type %></span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$('.approvebutton').tooltip();
$('.disapprovebutton').tooltip();

$('#LLStartDate').datepicker({});
$('#LLEndDate').datepicker({});
$('#LLDatedAsDate').datepicker({});
$('#SubmitCreateLLBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#LLConsultantName").val();
  var email = $("#LLEmail").val();
  var company = $("#LLCompanyName").val();
  var sdate = $("#LLStartDate").val();
  var edate = $("#LLEndDate").val();
  var position = $("#LLPosition").val();
  var dated = $("#LLDatedAsDate").val();
  var tname = $('#LeaveLetterTemplateNameSelected').val();
  var sname = $('#LeaveLetterSignatureSelected').val();
  var layout = $('#LeaveLetterLayoutSelected').val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/leaveletter",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'edate': edate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateLeaveLetterFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#CreateLeaveLetterFormLabel').addClass('text-info').html(data.msg);
        $('#CreateLeaveLetter').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateLeaveLetterFormLabel').addClass('text-danger').html('Something went wrong adding email template!!!');
    }
  });
});
$('#PreviewCreateLLBtn').click(function() {
  _this = $(this);
  _this.html('<em>Rendering</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#LLConsultantName").val();
  var email = $("#LLEmail").val();
  var company = $("#LLCompanyName").val();
  var sdate = $("#LLStartDate").val();
  var edate = $("#LLEndDate").val();
  var position = $("#LLPosition").val();
  var dated = $("#LLDatedAsDate").val();
  var tname = $('#LeaveLetterTemplateNameSelected').val();
  var sname = $('#LeaveLetterSignatureSelected').val();
  var layout = $('#LeaveLetterLayoutSelected').val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/leaveletter/admin",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'edate': edate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Try Again!');
        $('#CreateLeaveLetterFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Sent");
        $('#CreateLeaveLetterFormLabel').addClass('text-info').html(data.msg);
        // $('#CreateLeaveLetter').modal('hide');
        // location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Render Again!');
      $('#CreateLeaveLetterFormLabel').addClass('text-danger').html('Something went wrong rendering document!!!');
    }
  });
});


$('#OLStartDate').datepicker({});
$('#OLDatedAsDate').datepicker({});
$('#SubmitCreateOLBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#OLConsultantName").val();
  var email = $("#OLEmail").val();
  var position = $("#OLPosition").val();
  var company = $("#OLCompanyName").val();
  var sdate = $("#OLStartDate").val();
  var dated = $("#OLDatedAsDate").val();
  var tname = $('#OfferLetterTemplateNameSelected').val();
  var sname = $('#OfferLetterSignatureSelected').val();
  var layout = $('#OfferLetterLayoutSelected').val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/offerletter",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg)
        _this.attr('disabled', false); // re-enable submit
        _this.html('Try Again!');
        $('#CreateOfferLetterFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Sent");
        $('#CreateOfferLetterFormLabel').addClass('text-info').html(data.msg);
        $('#CreateOfferLetter').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-send');
      $('#CreateOfferLetterFormLabel').addClass('text-danger').html('Something went wrong sending offer letter!!!');
    }
  });
});
$('#PreviewCreateOLBtn').click(function() {
  _this = $(this);
  _this.html('<em>Rendering</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#OLConsultantName").val();
  var email = $("#OLEmail").val();
  var position = $("#OLPosition").val();
  var company = $("#OLCompanyName").val();
  var sdate = $("#OLStartDate").val();
  var dated = $("#OLDatedAsDate").val();
  var tname = $('#OfferLetterTemplateNameSelected').val();
  var sname = $('#OfferLetterSignatureSelected').val();
  var layout = $('#OfferLetterLayoutSelected').val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/offerletter/admin",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg)
        _this.attr('disabled', false); // re-enable submit
        _this.html('Try Again!');
        $('#CreateOfferLetterFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Sent");
        $('#CreateOfferLetterFormLabel').addClass('text-info').html(data.msg);
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateOfferLetterFormLabel').addClass('text-danger').html('Something went wrong sending offer letter!!!');
    }
  });
});


$('#ELStartDate').datepicker({});
$('#ELDatedAsDate').datepicker({});
$('#SubmitCreateELBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#ELConsultantName").val();
  var email = $("#ELEmail").val();
  var position = $("#ELPosition").val();
  var company = $("#ELCompanyName").val();
  var sdate = $("#ELStartDate").val();
  var dated = $("#ELDatedAsDate").val();
  var tname = $('#EmploymentLetterTemplateNameSelected').val();
  var sname = $('#EmploymentLetterSignatureSelected').val();
  var layout = $('#EmploymentLetterLayoutSelected').val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/employmentletter",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateEmploymentLetterFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#CreateEmploymentLetterFormLabel').addClass('text-info').html(data.msg);
        $('#CreateEmploymentLetter').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateEmploymentLetterFormLabel').addClass('text-danger').html('Something went wrong sending employment letter!!!');
    }
  });
});
$('#PreviewCreateELBtn').click(function() {
  _this = $(this);
  _this.html('<em>Rendering</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#ELConsultantName").val();
  var email = $("#ELEmail").val();
  var position = $("#ELPosition").val();
  var company = $("#ELCompanyName").val();
  var sdate = $("#ELStartDate").val();
  var dated = $("#ELDatedAsDate").val();
  var tname = $('#EmploymentLetterTemplateNameSelected').val();
  var sname = $('#EmploymentLetterSignatureSelected').val();
  var layout = $('#EmploymentLetterLayoutSelected').val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/employmentletter/admin",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Try Again!');
        $('#CreateEmploymentLetterFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Sent");
        $('#CreateEmploymentLetterFormLabel').addClass('text-info').html(data.msg);
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateEmploymentLetterFormLabel').addClass('text-danger').html('Something went wrong sending employment letter!!!');
    }
  });
});


<% pending_requests.where(document_type: 'LL').each do |request| %>
$('#LLStartDate-<%= request.id %>').datepicker({});
$('#LLEndDate-<%= request.id %>').datepicker({});
$('#LLDatedAsDate-<%= request.id %>').datepicker({});
$('#SubmitCreateLLBtn-<%= request.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#LLConsultantName-<%= request.id %>").val();
  var email = $("#LLEmail-<%= request.id %>").val();
  var position = $("#LLPosition-<%= request.id %>").val();
  var company = $("#LLCompanyName-<%= request.id %>").val();
  var dated = $("#LLDatedAsDate-<%= request.id %>").val();
  var sdate = $("#LLStartDate-<%= request.id %>").val();
  var edate = $("#LLEndDate-<%= request.id %>").val();
  var tname = $('#LeaveLetterTemplateNameSelected-<%= request.id %>').val();
  var sname = $('#LeaveLetterSignatureSelected-<%= request.id %>').val();
  var layout = $('#LeaveLetterLayoutSelected-<%= request.id %>').val();
  var rid = '<%= request.id %>';

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/leaveletter",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'edate': edate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout, 'rid': rid},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateLeaveLetterFormLabel-<%= request.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#CreateLeaveLetterFormLabel-<%= request.id %>').addClass('text-info').html(data.msg);
        $('#CreateLeaveLetter-<%= request.id %>').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateLeaveLetterFormLabel-<%= request.id %>').addClass('text-danger').html('Something went wrong adding email template!!!');
    }
  });
});
$('#PreviewCreateLLBtn-<%= request.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Rendering</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#LLConsultantName-<%= request.id %>").val();
  var email = $("#LLEmail-<%= request.id %>").val();
  var position = $("#LLPosition-<%= request.id %>").val();
  var company = $("#LLCompanyName-<%= request.id %>").val();
  var dated = $("#LLDatedAsDate-<%= request.id %>").val();
  var sdate = $("#LLStartDate-<%= request.id %>").val();
  var edate = $("#LLEndDate-<%= request.id %>").val();
  var tname = $('#LeaveLetterTemplateNameSelected-<%= request.id %>').val();
  var sname = $('#LeaveLetterSignatureSelected-<%= request.id %>').val();
  var layout = $('#LeaveLetterLayoutSelected-<%= request.id %>').val();
  var rid = '<%= request.id %>';

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/leaveletter/admin",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'edate': edate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout, 'rid': rid},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Try Again!');
        $('#CreateLeaveLetterFormLabel-<%= request.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Sent");
        $('#CreateLeaveLetterFormLabel-<%= request.id %>').addClass('text-info').html(data.msg);
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateLeaveLetterFormLabel-<%= request.id %>').addClass('text-danger').html('Something went wrong adding email template!!!');
    }
  });
});
<% end %>

<% pending_requests.where(document_type: 'OL').each do |request| %>
$('#OLStartDate-<%= request.id %>').datepicker({});
$('#OLDatedAsDate-<%= request.id %>').datepicker({});
$('#SubmitCreateOLBtn-<%= request.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#OLConsultantName-<%= request.id %>").val();
  var email = $("#OLEmail-<%= request.id %>").val();
  var position = $("#OLPosition-<%= request.id %>").val();
  var company = $("#OLCompanyName-<%= request.id %>").val();
  var dated = $("#OLDatedAsDate-<%= request.id %>").val();
  var sdate = $("#OLStartDate-<%= request.id %>").val();
  var tname = $('#OfferLetterTemplateNameSelected-<%= request.id %>').val();
  var sname = $('#OfferLetterSignatureSelected-<%= request.id %>').val();
  var layout = $('#OfferLetterLayoutSelected-<%= request.id %>').val();
  var rid = '<%= request.id %>';

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/offerletter",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout, 'rid': rid},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateOfferLetterFormLabel-<%= request.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#CreateOfferLetterFormLabel-<%= request.id %>').addClass('text-info').html(data.msg);
        $('#CreatOfferLetter-<%= request.id %>').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateOfferLetterFormLabel-<%= request.id %>').addClass('text-danger').html('Something went wrong sending offer letter!!!');
    }
  });
});
$('#PreviewCreateOLBtn-<%= request.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Rendering</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#OLConsultantName-<%= request.id %>").val();
  var email = $("#OLEmail-<%= request.id %>").val();
  var position = $("#OLPosition-<%= request.id %>").val();
  var company = $("#OLCompanyName-<%= request.id %>").val();
  var dated = $("#OLDatedAsDate-<%= request.id %>").val();
  var sdate = $("#OLStartDate-<%= request.id %>").val();
  var tname = $('#OfferLetterTemplateNameSelected-<%= request.id %>').val();
  var sname = $('#OfferLetterSignatureSelected-<%= request.id %>').val();
  var layout = $('#OfferLetterLayoutSelected-<%= request.id %>').val();
  var rid = '<%= request.id %>';

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/offerletter/admin",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout, 'rid': rid},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Try Again!');
        $('#CreateOfferLetterFormLabel-<%= request.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Sent");
        $('#CreateOfferLetterFormLabel-<%= request.id %>').addClass('text-info').html(data.msg);
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateOfferLetterFormLabel-<%= request.id %>').addClass('text-danger').html('Something went wrong sending offer letter!!!');
    }
  });
});
<% end %>

<% pending_requests.where(document_type: 'EVL').each do |request| %>
$('#ELStartDate-<%= request.id %>').datepicker({});
$('#ELDatedAsDate-<%= request.id %>').datepicker({});
$('#SubmitCreateELBtn-<%= request.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#ELConsultantName-<%= request.id %>").val();
  var email = $("#ELEmail-<%= request.id %>").val();
  var position = $("#ELPosition-<%= request.id %>").val();
  var company = $("#ELCompanyName-<%= request.id %>").val();
  var dated = $("#ELDatedAsDate-<%= request.id %>").val();
  var sdate = $("#ELStartDate-<%= request.id %>").val();
  var tname = $('#EmploymentLetterTemplateNameSelected-<%= request.id %>').val();
  var sname = $('#EmploymentLetterSignatureSelected-<%= request.id %>').val();
  var layout = $('#EmploymentLetterLayoutSelected-<%= request.id %>').val();
  var rid = '<%= request.id %>';

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/employmentletter",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout, 'rid': rid},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateEmploymentLetterFormLabel-<%= request.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#CreateEmploymentLetterFormLabel-<%= request.id %>').addClass('text-info').html(data.msg);
        $('#CreatEmploymentLetter-<%= request.id %>').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.html('Re-submit');
      $('#CreateEmploymentLetterFormLabel-<%= request.id %>').addClass('text-danger').html('Something went wrong sending employment letter!!!');
    }
  });
});
$('#PreviewCreateELBtn-<%= request.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Rendering</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var consultantName = $("#ELConsultantName-<%= request.id %>").val();
  var email = $("#ELEmail-<%= request.id %>").val();
  var position = $("#ELPosition-<%= request.id %>").val();
  var company = $("#ELCompanyName-<%= request.id %>").val();
  var dated = $("#ELDatedAsDate-<%= request.id %>").val();
  var sdate = $("#ELStartDate-<%= request.id %>").val();
  var tname = $('#EmploymentLetterTemplateNameSelected-<%= request.id %>').val();
  var sname = $('#EmploymentLetterSignatureSelected-<%= request.id %>').val();
  var layout = $('#EmploymentLetterLayoutSelected-<%= request.id %>').val();
  var rid = '<%= request.id %>';

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/documents/send/employmentletter/admin",
    data: {'name': consultantName, 'email': email, 'position': position, 'company': company, 'sdate': sdate, 'dated': dated, 'tname': tname, 'sname': sname, 'layout': layout, 'rid': rid},
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Try Again!');
        $('#CreateEmploymentLetterFormLabel-<%= request.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Sent");
        $('#CreateEmploymentLetterFormLabel-<%= request.id %>').addClass('text-info').html(data.msg);
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.html('Re-submit');
      $('#CreateEmploymentLetterFormLabel-<%= request.id %>').addClass('text-danger').html('Something went wrong sending employment letter!!!');
    }
  });
});
<% end %>

// Disapprove requests
$(document).ready(function(){
  <% pending_requests.each do |request| %>
  $('#DisapproveRequest-<%= request.id %>').click(function() {
    console.log("Initializing call");
    _this = $(this);
    _this.html('<i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    $.ajax({
      type: "POST",
      url: "/documents/requests/deny/<%= request.id %>",
      success: function(data){
        location.reload();
      },
      error: function(e){
        alert("Error occurred!");
      }
    });
  });
  <% end %>
});
</script>
