<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Job Postings
      <small>(consolidated by date)</small>
      <p class="pull-right">
        <a href="/fetcher/fetch_now" class="btn btn-primary btn-md" role="button">Update Now &raquo;</a>
      </p>
    </h2>
  </div>
  <% jobs.each do |search_term, consolidated| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong><%= search_term %></strong>
      </div>
      <% consolidated.each do |jobs_info| %>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"><%= jobs_info[:count] %></span>
          <span class="badge alert-info">read: <%= jobs_info[:read] %></span>
          <span class="badge alert-success">new: <%= jobs_info[:unread] %></span>
          <% if jobs_info[:followup] > 0 %>
          <span class="badge alert-danger">attn_req: <%= jobs_info[:followup] %></span>
          <% end %>
          <a href="/jobs/<%= jobs_info[:date_url] %>"><%= jobs_info[:date] %></a>
        </li>
      </ul>
      <% end %>
    </div>
  <% end %>

  <% if !fetcher.nil? %>
  <div class="panel panel-default">
    <div class="panel-heading">Fetcher Stats</div>
    <div class="panel-body">
      <strong>Lasr run:</strong> <%= fetcher.init_time %>, <strong>Status:</strong> <%= fetcher.job_status %>, <strong>Processed:</strong> <%= fetcher.jobs_processed %>, <strong>Filtered:</strong> <%= fetcher.jobs_filtered %>, <strong>Inserted:</strong> <%= fetcher.jobs_inserted %>
    </div>
  </div>
  <% end %>
</div>
