<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Job Postings: for <%= date %></h2>
  </div>

  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#dice">Dice</a></li>
    <li><a data-toggle="tab" href="#indeed">Indeed</a></li>
  </ul>

  <br/>

  <div class="tab-content">
    <% categorized_jobs.each do |source, categorized| %>
    <% if source == 'DICE' %>
    <div id="<%= source.downcase %>" class="tab-pane active">
    <% else %>
    <div id="<%= source.downcase %>" class="tab-pane">
    <% end %>
      <% categorized.each do |search_term, category| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <strong><%= search_term.capitalize %></strong>
        </div>

        <div class="panel-body">
          <p class="text-left">New Job listings found: <%= category[:unread_jobs].count %></p>
          <ul class="list-group">
            <% category[:unread_jobs].each do |job| %>
            <li class="list-group-item">
              <div class="pull-right button-group">
                <!-- Initials of users who are tracking it -->
                <% if tracking.keys.include?(job.url) %>
                <% tracking[job.url].uniq.each do |user| %>
                <span class="badge alert-default"><%= user %></span>
                <% end %>
                <% end %>
                <% if Job.where(url: job.url).count > 1 %>
                <span class="badge alert-warning">repeated</span>
                <% end %>
                <span class="badge alert-info"><%= job.location %></span>
                <span class="badge alert-success"><%= job.company %></span>
                <button id="deletebtn<%= job.id %>" class="btn btn-xs btn-default">x</button>
              </div>
              <a href="/job/<%= job._id %>">
                <%= job.title %>
              </a>
            </li>
            <% end %>
          </ul> <!-- list-group (unread) -->
          <p class="text-left">Read Job listings found: <%= category[:read_jobs].count %></p>
          <ul class="list-group">
            <% category[:read_jobs].each do |job| %>
            <% if category[:atten_req_jobs].include?(job) %>
            <li class="list-group-item list-group-item-danger">
            <% else %>
            <li class="list-group-item" href="/job/<%= job._id %>">
            <% end %>
              <div class="pull-right button-group">
                <!-- Initials of users who are tracking it -->
                <% if tracking.keys.include?(job.url) %>
                <% tracking[job.url].uniq.each do |user| %>
                <span class="badge alert-info"><%= user %></span>
                <% end %>
                <% end %>
                <span class="badge"><%= job.location %></span>
                <span class="badge"><%= job.company %></span>
                <% if Job.where(id: job.id).count > 1 %>
                <span class="badge alert-warning">repeated</span>
                <% end %>
                <button id="deletebtn<%= job.id %>" class="btn btn-xs btn-default">x</button>
              </div>
              <a  href="/job/<%= job._id %>">
                <%= job.title %>
              </a>
            </li>
            <% end %>
          </ul> <!-- list-group (read) -->
        </div> <!-- panel-body -->
      </div> <!-- panel-info -->
      <% end %>
    </div> <!-- <%= source.downcase %> -->
    <% end %>
  </div> <!-- tab-content -->
</div> <!-- container -->

<script type="text/javascript">
$(document).ready(function(){
  <% categorized_jobs.each do |source, categorized| %>
    <% categorized.each do |search_term, jobs_info| %>
      <% jobs_info[:read_jobs].each do |job| %>
      $('#deletebtn<%= job.id %>').hover(
        function(){ // mouseenter
          // $('#delete-<%= job.id %>').removeClass('btn-default').addClass('btn-danger');
          $("#deletebtn<%= job.id %>").removeClass('btn-default').addClass('btn-danger');
        },
        function(){ // mouseleave
          $('#deletebtn<%= job.id %>').removeClass('btn-danger').addClass('btn-default');
        }
      );

      $('#deletebtn<%= job.id %>').click(function(){
        $.ajax({
          type: "POST",
          url: "/job/<%= job.id %>/forget",
          success: function(data){
            location.reload();
          },
          error: function(e){
            alert("Error occurred");
          }
        });
      });
      <% end %>

      <% jobs_info[:unread_jobs].each do |job| %>
      $('#deletebtn<%= job.id %>').hover(
        function(){ // mouseenter
          // $('#delete-<%= job.id %>').removeClass('btn-default').addClass('btn-danger');
          $("#deletebtn<%= job.id %>").removeClass('btn-default').addClass('btn-danger');
        },
        function(){ // mouseleave
          $('#deletebtn<%= job.id %>').removeClass('btn-danger').addClass('btn-default');
        }
      );

      $('#deletebtn<%= job.id %>').click(function(){
        $.ajax({
          type: "POST",
          url: "/job/<%= job.id %>/forget",
          success: function(data){
            location.reload();
          },
          error: function(e){
            alert("Error occurred");
          }
        });
      });
      <% end %>
    <% end %>
  <% end %>
});
</script>
