<div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">Slides Overview</a>
      </li>
      <% thumbnails.each_with_index do |slide, index| %>
        <li><a href="#" class="slide-<%= index %>"><img src='data:image/png;base64,<%= slide[:data] %>' data-src="holder.js/200x200" class="img-rounded img-responsive" width="200" height="200"></a></li>
        <p></p>
      <% end %>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="container theme-showcase" role="main">
            <div id='slidecontent' style='text-align: center;'>
              <!-- content from slide.erb -->
            </div>
          </div>

          <div id="footer navbar-fixed-bottom">
            <div class="container">
              <p class="text-muted text-center">
                <b>Slides count:</b> <span id="slidecounter"></span>/<%= slides_count - 1 %> | <b>Navigation legend</b>: &#8594; (next slide), &#8592; (prev slide), &#8593; (first slide), &#8595; (last slide), ESC (go back to topics) | <b><a href="#menu-toggle" id="menu-toggle">Slider</a></b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  <% thumbnails.each_with_index do |slide, index| %>
  $(function(){
    $(".slide-<%= index %>").click(function(){
      $("#slidecontent").load("/training/topic/<%= tid %>/subtopic/<%= stid %>/ss/<%= index %>");
      $("#slidecounter").html(<%= index %>);
    });
  });
  <% end %>

  var cPos = 0

  var slidesCount = <%= slides_count %>

  var url = window.location.href

  console.log(cPos)

  // load the first slide of the slide deck
  $("#slidecontent").load("/training/topic/<%= tid %>/subtopic/<%= stid %>/ss/0");
  $("#slidecounter").html("0");

  document.onkeydown = function() {
    switch(window.event.keyCode) {
      case 37:
        // left key
        cPos -= 1
        if (cPos >= 0) {
          $("#slidecontent").load("/training/topic/<%= tid %>/subtopic/<%= stid %>/ss/" + cPos);
          $("#slidecounter").html(cPos);
          // window.location = url.substring(0,url.lastIndexOf("/")) + "/" + cPos
        } else {
          cPos = 0
          console.log("reached the beginning of the slidedeck")
        }
        break;
      case 38:
        // up key
        cPos = 0 // reset the current position
        $("#slidecontent").load("/training/topic/<%= tid %>/subtopic/<%= stid %>/ss/0");
        $("#slidecounter").html(cPos);
        break;
      case 39:
        // right key
        cPos += 1
        if (cPos < slidesCount) {
          $("#slidecontent").load("/training/topic/<%= tid %>/subtopic/<%= stid %>/ss/" + cPos);
          $("#slidecounter").html(cPos);
        } else {
          cPos = slidesCount - 1
          console.log("reached the end of the slidedeck")
        }
        break;
      case 40:
        // down key pressed
        cPos = slidesCount - 1
        $("#slidecontent").load("/training/topic/<%= tid %>/subtopic/<%= stid %>/ss/" + cPos);
        $("#slidecounter").html(cPos);
        break;
      case 27:
        // escape key
        window.location = url.substring(0, url.lastIndexOf("/"))
        break;
    }
  }

  window.onresize = function(){
    $('img').css({
      maxHeight: window.innerHeight * 0.8,
      maxWidth: window.innerWidth * 0.8
    });
  };
</script>
