<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>
      Trainee Portal
      <span class="pull-right">
        <a href="#notifications" type="button" class="btn btn-primary" type="button">
          Notifications <span class="badge"><%= notifications.count %></span>
        </a>
      </span>
    </h2>
  </div>
  
  <!-- Progress -->
  <div class="row-fluid">
  <!-- self progress -->
    <div class="col-xs-6 spacer">
      <div class="progress-container">
        <div class = "media">
           <div class = "pull-left">
              <div id="traineedp" class="dpcircle"><%= @username.to_s.split('@').first.split('.').map{ |a| a[0]}.join().upcase %></div>
           </div>
           
           <div class = "media-body">
              <% 
                # calculate user overall progress
                overall_progress_self = [] 
                self_progress.keys.each do |tt|
                  overall_progress_self << self_progress[tt][:overall]
                end
                overall_progress_percent_self = if overall_progress_self.empty?
                                                  0.0
                                                else
                                                  (overall_progress_self.inject(:+) / overall_progress_self.count) * 100
                                                end
              %>
              <h4 class = "media-heading">Your Overall Training Progress</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= overall_progress_percent_self.to_i %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= overall_progress_percent_self.to_i %>%;">
                  <!-- <span class="sr-only"> 60% Complete</span>-->
                  <%= overall_progress_percent_self.to_i %>%
                </div>
              </div>
              <% self_progress.keys.each do |track| %>
                <% overall_track_progress_percent = (self_progress[track][:overall] * 100).to_i %>
                <h5 class = "media-heading">Track <%= track.to_s %> Progress</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= overall_track_progress_percent %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= overall_track_progress_percent %>%;">
                    <%= overall_track_progress_percent %>%
                  </div>
                </div>
                <div class="pull-right" style="width: 90%;">
                  <% self_progress[track][:topics].each do |topic| %>
                  <% overall_topic_progress_percent = (self_progress[track][topic][:progress] * 100).to_i %>
                    <h5 class = "media-heading">Topic <%= topic.to_s %> Progress</h5>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= overall_topic_progress_percent %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= overall_topic_progress_percent %>%;">
                      <%= overall_topic_progress_percent %>%
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
           </div>  
        </div>
      </div>
    </div>
    <!-- team progress -->
    <div class="col-xs-6 spacer">
      <div class="progress-container">
        <h4>Team Progress</h4>
        <% if consultant.team.nil? %>
          You are not assigned to a team yet, please ask admin to associate you to a team to track your class/team progress.
        <% elsif team_progress.keys.empty? %>
          There are no members yet associated with your team.
        <% else %>
          <% team_progress.keys.each_with_index do |member, i| %>
            <%
              # calculate each user progress
              overall_progress = []
              team_progress[member].keys.map { |tt|
                overall_progress << team_progress[member][tt][:overall] 
              }
              overall_progress_percent =  if overall_progress.empty?
                                            0.0
                                          else
                                            (overall_progress.inject(:+) / overall_progress.count) * 100
                                          end
            %>
            <% user_initials = member.to_s.split('@').first.split('.').map{ |a| a[0]}.join().upcase %>
            <div class = "media">
              <div class = "pull-left">
                <div id="traineedp-<%= i %>" class="dpcircle"><%= user_initials %></div>
              </div>

              <div class = "media-body">
                <h4 class = "media-heading"><%= member.to_s.split('@').first.split('.').first.capitalize %>'s Overall Progress</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= overall_progress_percent.to_i %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= overall_progress_percent.to_i %>%;">
                    <%= overall_progress_percent.to_i %>%
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div> <!-- end progress -->
  <!-- Tracks -->
  <div class="row-fluid">
    <h3>Tracks</h3>
    <hr>

    <% training_tracks.each do |track| %>
      <a class="button hvr-float" style="display:block" href="/training/track/<%= track.id %>">
      <div class="col-xs-3 spacer">
        <div id="track-<%= track.id %>" class="well" style="height:150px; background-color: black;">
          <p align="center" class="font-responsive-large"><font color="white"><%= track.name %></font></p>
          <p align="center" class="font-responsive-small"><font color="white"><%= track.code %></font></p>
        </div>
      </div>
      </a>
    <% end %>
  </div>
  <!-- Notifications -->
  <div class="row-fluid">
    <h3><a name="notifications">Notifications</a>
      <span class="pull-right">
        <small>occurred in last 30 days</small>
      </span>
    </h3>
    
    <hr>
    <% if consultant.team.nil? %>
      You are not assigned to a team yet, please ask admin to associate you to a team to get team notifications.
    <% else %>
      <div class="notifications">
        <% if notifications.empty? %>
          There are currently 0 notifications.
        <% else %>
          <ul id="notifications-ul" class="list-group">
            <% notifications.each do |notification| %>
              <li class="list-group-item">
                <span class="pull-right">
                  <!-- Add a new badge if the notification is created 48 hours ago -->
                  <% if notification.created_at > DateTime.now-48.hours %>
                  <span class="badge progress-bar-info">New</span>
                  <% end %>
                </span>
                <strong><%= notification.name %></strong>
                <div>
                  <small><%= time_ago_in_words(Time.now, notification.created_at) %> ago</small>
                </div>
                <div>
                  <%= notification.message %>
                </div>
              </li>
            <% end %>
          </ul>
          <% if notifications.count > 10 %>
            <span class="pull-right">
              <a id="loadmore" href="#" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-collapse-down"></span> Load More</a>
              <a id="showless" href="#" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-collapse-up"></span> Show less</a>
            </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<link href="/css/hover-min.css" rel="stylesheet" media="all">
<style type="text/css">
.spacer {
  margin-top: 20px;
}  
.notifications {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #0160B4;
  height: 400px;
  overflow:scroll;
  overflow-x:hidden;
}
.progress-container {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #0160B4;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.dpcircle{
  width:50px;
  height:50px;
  border-radius:50px;
  font-size:20px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background:#000
}
</style>


<script src="/js/jquery.fittext.js"></script>
<script src="/js/randomColor.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  console.log('<%= self_progress %>');
  console.log('<%= team_progress %>');

  $('.editbutton').tooltip();

  $(".font-responsive-large").fitText(0.7);
  $(".font-responsive-small").fitText();

  <% training_tracks.each do |track| %>
  document.querySelector('#track-<%= track.id %>').style.background = randomColor({hue: 'blue', luminosity: 'dark'});
  <% end %>

  document.querySelector('#traineedp').style.background = randomColor({hue: 'random',luminosity: 'random'});
  <% team_progress.keys.each_with_index do |member, i| %>
  document.querySelector('#traineedp-<%= i %>').style.background = randomColor({hue: 'random',luminosity: 'random'});
  <% end %>

  // limit number of notifications shown to 10 and then render based on 'Load more' & 'Show less'
  notifications_size = $("#notifications-ul li").size();
  show_size = 10;
  increment = 10;
  decrement = 10
  $('#notifications-ul li:lt('+show_size+')').show();
  // load 10 more
  $('#loadmore').click(function () {
    show_size = (show_size+increment <= notifications_size) ? show_size+increment : notifications_size;
    $('#notifications-ul li:lt('+show_size+')').show();
  });
  $('#showless').click(function () {
    show_size = (show_size-decrement<5) ? show_size : show_size-decrement;
    $('#notifications-ul li').not(':lt('+show_size+')').hide();
  });
});
</script>