<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Training Content Management (Topic: <a href="/training/topic/<%= topic.id %>"><%= topic.name.tr('_', ' ').split.map(&:capitalize).join(' ') %></a>)
    </h2>
  </div>

  <h3>Sub Topic: <a href="/training/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>"><%= sub_topic.name.tr('_', ' ').split.map(&:capitalize).join(' ') %></a></h3>

  <% if @admin_user %>
    <div class="row-fluid">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <strong>Presentation</strong>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge alert-info">Slides count: <%= sub_topic.content_slides.count %></span>
                <span class="badge alert-info">Status: <%= sub_topic.state %></span>
                <% if sub_topic.state == 'PROCESSING' %>
                  <i class="fa fa-circle-o-notch fa-spin fa-lg"></i>
                <% elsif sub_topic.state == 'SUCCESS' %>
                  <i class="fa fa-check-square fa-lg"></i>
                <% end %>
                <span>Presentation conversion status</span>
              </li>
              <li class="list-group-item">
                <span class="badge alert-info"><%= sub_topic.et %></span>
                <span>Duration (in minutes)</span>
              </li>
            </ul>
            <% if sub_topic.state == 'SUCCESS' %>
            <a class="btn btn-primary center-block" href="/training/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/ss/first">Start Presentation</a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <% if sub_topic.file == 'NIL' %>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <strong>Link a presentation to this sub topic</strong>
            </div>
            <div class="panel-body">
              <!-- upload new resumes -->
              <form role="form" id="upload" method="post" action="/training/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/upload" enctype="multipart/form-data">
                <input type="file" class="form-control" title="Select pdf to upload" name="file" data-filename-placement="inside"/>
                <ul id="fileList"></ul>
                <button type="submit" class="btn btn-primary center-block" id="SubmitBtn"><i class="fa fa-cloud-upload fa-lg"></i> Upload Presentation</button>
              </form>
            </div>
          </div>
        <% else %>
          <div class="panel panel-success">
            <div class="panel-heading">
              <a><strong>Presentation already linked to this topic</strong></a>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Linked file: <%= sub_topic.pdf_file.filename %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <strong>Presentation</strong>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge alert-info">Slides count: <%= sub_topic.content_slides.count %></span>
                <span class="badge alert-info">Status: <%= sub_topic.state %></span>
                <% if sub_topic.state == 'PROCESSING' %>
                  <i class="fa fa-circle-o-notch fa-spin fa-lg"></i>
                <% elsif sub_topic.state == 'SUCCESS' %>
                  <i class="fa fa-check-square fa-lg"></i>
                <% end %>
                <span>Presentation conversion status</span>
              </li>
              <li class="list-group-item">
                <span class="badge alert-info"><%= sub_topic.et %></span>
                <span>Duration (in minutes)</span>
              </li>
            </ul>
            <% if sub_topic.state == 'SUCCESS' %>
            <a class="btn btn-primary center-block" href="/training/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/ss/first">Start Presentation</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script src="/js/bootstrap.file-input.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('input[type=file]').bootstrapFileInput();
  $('.file-inputs').bootstrapFileInput();

  // validate resume upload
  $('#upload').bootstrapValidator({
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      'pdf': {
        validators: {
          notEmpty: {
            message: 'The presentation file is required'
          },
          file: {
            extension: 'pdf',
            type: 'application/pdf',
            maxSize: 10 * 1024 * 1024,   // 10 MB
            message: 'Currently we only accept pdf format with size limit of 10MB'
          }
        }
      },
    }
  });
});
</script>
