<!-- Modal Definitions -->
<!-- Create a topic -->
<div class="modal fade" id="CreateTrack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a new Training Track</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="TrackName">Track Name:</label>
              <input type="text" class="form-control" id="TrackName" name="TrackName" placeholder="Training track to create (ex: devops, data engineer, etc.)" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="TrackCode">Track Short Code:</label>
              <input type="text" class="form-control" id="TrackCode" name="TrackCode" placeholder="Unique code name for track name (ex: DOPS, DE, etc.)" value="" required="required" />
              <span class="help-block"></span>
          </div>
        </form>
        <p id="CreateTrackFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitCreateTrackBtn" name="SubmitBtn" class="btn btn-large btn-primary">Create Training Track</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create a trainer -->
<div class="modal fade" id="AssociateTrainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Associate trainer</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="TrainerEmail">Trainer email:</label>
            <select class="form-control" id="TrainerEmail" name="TrainerEmail" required="required">
              <option selected value=''>Start typing the trainer name</option>
              <% users.each do |u| %>
                <option value="<%= u.email %>"><%= u.first_name %> <%= u.last_name %></option>
              <% end %>
            </select>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="TrainerTrack">Trainers Track:</label>
            <select class="form-control" id="TrainerTrack" name="TrainerTrack" required="required">
              <option selected value=''>Start typing the track name</option>
              <% training_tracks.each do |tt| %>
                <% tt.training_topics.each do |tp| %>
                <option value="<%= tt.code %>|<%= tp.code %>"><%= tt.name %> - <%= tp.name %></option>
                <% end %>
              <% end %>
            </select>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="TrainerTeam">Trainer Team:</label>
            <input type="text" class="form-control" id="TrainerTeam" name="TrainerTeam" placeholder="Team to which trainer will teach this topic" value="" required="required" />
            <span class="help-block"></span>
          </div>
        </form>
        <p id="AssociateTrainerFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitAssociateTrainerBtn" name="SubmitBtn" class="btn btn-large btn-primary">Associate Trainer</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Training Admin Portal
      <% if @admin_user %>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Start Here <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a id="CreateTrackBtn" data-toggle="modal" href="#CreateTrack">
                Create New Training Track
              </a>
            </li>
            <li>
              <a id="AssociateTrainerBtn" data-toggle="modal" href="#AssociateTrainer">
                Associate Trainer to Topic
              </a>
            </li>
          </ul>
        </div>
      <% end %>
    </h2>
  </div>
  <!-- Training Topics -->
  <div class="row-fluid">
    <% if training_tracks.empty? %>
      <h4>No content has yet been created. Go ahead create some training tracks by clicking on "Start Here" button.</h4>
    <% else %>
      <% training_tracks.each do |track| %>
        <% 
          subtopics_count = 0
          track.training_topics.each do |topic|
            subtopics_count += topic.training_sub_topics.count
          end
        %>
        <a style="display:block" href="/training/track/<%= track.id %>">
        <div class="col-xs-3 spacer">
          <div id="track-<%= track.id %>" class="well" style="height:175px; background-color: black;">
            <p align="center" class="font-responsive-large"><font color="white"><%= track.name %></font></p>
            <p align="center" class="font-responsive-small"><font color="white"><%= track.code %></font></p>
            <p align="center" class="font-responsive-small"><font color="white" size="1">Topics: <%= track.training_topics.count %> | SubTopics: <%= subtopics_count %><small></p>
          </div>
        </div>
        </a>
      <% end %>
    <% end %>
  </div>
</div>

<style type="text/css">
.spacer {
  margin-top: 20px;
}

.font-responsive-large {
  overflow:auto;
  font-size: 2.5vw;
}
.font-responsive-small {
  overflow:auto;
  font-size: 1.5vw;
}
</style>

<script src="/js/jquery.fittext.js"></script>
<script src="/js/randomColor.min.js"></script>
<script type="text/javascript">
$('.editbutton').tooltip();

$(".font-responsive-large").fitText(0.7);
$(".font-responsive-small").fitText();

<% training_tracks.each do |track| %>
document.querySelector('#track-<%= track.id %>').style.background = randomColor({hue: 'blue'});
<% end %>

$("#TrainerTrack").select2();
$("#TrainerEmail").select2();

$('#SubmitCreateTrackBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var tname = $("#TrackName").val();
  var tcode = $("#TrackCode").val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/track/create",
    data: { 'tname': tname, 'tcode': tcode },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateTrackFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#CreateTrackFormLabel').addClass('text-info').html(data.msg);
        $('#CreateTrack').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateTrackFormLabel').addClass('text-danger').html('Something went wrong adding creating new topic!!!');
    }
  });
});

$('#SubmitAssociateTrainerBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var temail = $("#TrainerEmail").val();
  var ttrack = $("#TrainerTrack").val();
  var tteam = $("#TrainerTeam").val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/trainer/associate",
    data: { 'temail': temail, 'ttrack': ttrack, 'tteam': tteam },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#AssociateTrainerFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#AssociateTrainerFormLabel').addClass('text-info').html(data.msg);
        $('#AssociateTrainer').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#AssociateTrainerFormLabel').addClass('text-danger').html('Something went wrong associating trainer topic!!!');
    }
  });
});
</script>
