<!-- Modal Definitions -->
<div class="modal fade" id="CreateCertificationRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create New Certification Request</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="CreateForm">
          <div class="form-group">
            <label for="FirstName">First Name:</label>
              <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name that should appear on certificate" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="LastName">Last Name:</label>
              <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name that should appear on certificate" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Email">Email Address of Consultant:</label>
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Certification">Certification:</label>
            <select class="form-control" id="Certification" name="Certification" required="required">
              <option selected value=''>Start typing the certification name</option>
              <% c_hash.each do |c| %>
                <option value="<%= c['short'] %>"><%= c['name'] %></option>
              <% end %>
            </select>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
             <label class="control-label" for="Date">Date: </label>
             <input type="text" class="form-control" name="Date" id="Date" placeholder="date you want to take certification on (mm/dd/yyyy)">
           </div>
          <div class="form-group">
            <label class="control-label" for="Flexible">Flexible? </label>
            <input type="checkbox" class="form-control" id="Flexible" name="Flexible" data-on-text="Yes" data-size="mini" /> &nbsp; (Are you flexible by 2 days ?)
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="TimePreference">Time Preference:</label>
            <select class="form-control" id="TimePreference" name="TimePreference" required="required">
              <option value="MNG">Morning (8AM-12PM)</option>
              <option value="NOON">Noon (12pM-5PM)</option>
            </select>
            <span class="help-block"></span>
          </div>
        </form>
        <p id="CreateCertificationRequestLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitCreateBtn" name="SubmitBtn" class="btn btn-large btn-primary">Submit Request</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dynamic Modals (Requests made by user) -->
<!-- dynamic certification request modals -->
<% pending_requests.each do |request| %>
  <div class="modal fade" id="ApproveCertificationRequest-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Approve Certification Request</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="CreateForm-<%= request.id %>">
            <div class="form-group">
              <label for="FirstName-<%= request.id %>">First Name:</label>
                <input type="text" class="form-control" id="FirstName-<%= request.id %>" name="FirstName-<%= request.id %>" placeholder="First Name that should appear on certificate" value="<%= request.consultant_first_name %>" required="required" />
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="LastName-<%= request.id %>">Last Name:</label>
                <input type="text" class="form-control" id="LastName-<%= request.id %>" name="LastName-<%= request.id %>" placeholder="Last Name that should appear on certificate" value="<%= request.consultant_last_name %>" required="required" />
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Email">Email Address of Consultant:</label>
              <input type="email" class="form-control" id="Email-<%= request.id %>" name="Email-<%= request.id %>" placeholder="Email" value="<%= request.consultant_email %>" required="required" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Certification">Certification:</label>
              <input type="text" class="form-control" id="Certification-<%= request.id %>" value="<%= request.name %>" disabled>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
               <label class="control-label" for="Date">Date: </label>
               <input type="text" class="form-control" name="Date-<%= request.id %>" id="Date-<%= request.id %>">
            </div>
            <div class="form-group">
              <label class="control-label" for="Flexible">Flexible? </label>
              <input type="text" class="form-control" id="Flexible-<%= request.id %>" name="Flexible-<%= request.id %>" value="<%= request.flexibility %>" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="TimePreference">Time Preference:</label>
              <input type="text" class="form-control" id="TimePreference-<%= request.id %>" name="TimePreference-<%= request.id %>" value="<%= request.time_preference %>" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Price">Price:</label>
              <input type="text" class="form-control" id="Price-<%= request.id %>" name="Price-<%= request.id %>" value="<%= request.amount %>"/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Notes">Notes:</label>
              <textarea rows="3" class="form-control" id="Notes-<%= request.id %>" name="Notes-<%= request.id %>" placeholder="Enter notes that will be sent to consultant"></textarea>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label>Link:</label>
              <a target="_blank" href="<%= c_hash.detect {|ele| ele['short'] == request.short}['url'] %>">Booking link</a>
              <span class="help-block"></span>
            </div>
          </form>
          <p id="ApproveCertificationRequestLabel-<%= request.id %>" class="text-center"></p>
          <hr />
          <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6 text-center">
              <button id="ApproveBtn-<%= request.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Approve</button>
            </div>
            <div class="span3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Dynamic Modals -->
<!-- approved certification request modals -->
<% approved_requests.each do |request| %>
  <div class="modal fade" id="ApprovedCertificationRequest-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Approved Certification Request</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="CreateForm-<%= request.id %>">
            <div class="form-group">
              <label for="FirstName">First Name:</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name that should appear on certificate" value="<%= request.consultant_first_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="LastName">Last Name:</label>
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name that should appear on certificate" value="<%= request.consultant_last_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Email">Email Address of Consultant:</label>
              <input type="email" class="form-control" id="Email-<%= request.id %>" name="Email-<%= request.id %>" placeholder="Email" value="<%= request.consultant_email %>" required="required" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Certification">Certification:</label>
              <input type="text" class="form-control" id="Certification-<%= request.id %>" value="<%= request.name %>" disabled>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
               <label class="control-label" for="Date">Date: </label>
               <input type="text" class="form-control" name="Date-<%= request.id %>" id="Date-<%= request.id %>" value="<%= request.booking_date %>" disabled>
            </div>
            <div class="form-group">
              <label for="Price">Price:</label>
              <input type="text" class="form-control" id="Price-<%= request.id %>" name="Price-<%= request.id %>" value="<%= request.amount %>" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Notes">Notes:</label>
              <textarea rows="3" class="form-control" id="Notes-<%= request.id %>" name="Notes-<%= request.id %>" placeholder="Enter notes that will be sent to consultant" value="<%= request.notes %>" disabled></textarea>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label>Link:</label>
              <a target="_blank" href="<%= c_hash.detect {|ele| ele['short'] == request.short}['url'] %>">Booking link</a>
              <span class="help-block"></span>
            </div>
          </form>
          <hr />
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- dis-approved certification request modals -->
<% disapproved_requests.each do |request| %>
  <div class="modal fade" id="DisApprovedCertificationRequest-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">DisApproved Certification Request</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="CreateForm-<%= request.id %>">
            <div class="form-group">
              <label for="FirstName">First Name:</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name that should appear on certificate" value="<%= request.consultant_first_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="LastName">Last Name:</label>
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name that should appear on certificate" value="<%= request.consultant_last_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Email">Email Address of Consultant:</label>
              <input type="email" class="form-control" id="Email-<%= request.id %>" name="Email-<%= request.id %>" placeholder="Email" value="<%= request.consultant_email %>" required="required" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Certification">Certification:</label>
              <input type="text" class="form-control" id="Certification-<%= request.id %>" value="<%= request.name %>" disabled>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
               <label class="control-label" for="Date">Date: </label>
               <input type="text" class="form-control" name="Date-<%= request.id %>" id="Date-<%= request.id %>" value="<%= request.booking_date %>" disabled>
            </div>
            <div class="form-group">
              <label for="Price">Price:</label>
              <input type="text" class="form-control" id="Price-<%= request.id %>" name="Price-<%= request.id %>" value="<%= request.amount %>" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Notes">Notes:</label>
              <textarea rows="3" class="form-control" id="Notes-<%= request.id %>" name="Notes-<%= request.id %>" placeholder="Enter notes that will be sent to consultant" value="<%= request.notes %>" disabled></textarea>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label>Link:</label>
              <a target="_blank" href="<%= c_hash.detect {|ele| ele['short'] == request.short}['url'] %>">Booking link</a>
              <span class="help-block"></span>
            </div>
          </form>
          <hr />
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- passed certification request modals -->
<% passed_requests.each do |request| %>
  <div class="modal fade" id="PassedCertificationRequest-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Passed Certification Request</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="CreateForm-<%= request.id %>">
            <div class="form-group">
              <label for="FirstName">First Name:</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name that should appear on certificate" value="<%= request.consultant_first_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="LastName">Last Name:</label>
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name that should appear on certificate" value="<%= request.consultant_last_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Email">Email Address of Consultant:</label>
              <input type="email" class="form-control" id="Email-<%= request.id %>" name="Email-<%= request.id %>" placeholder="Email" value="<%= request.consultant_email %>" required="required" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Certification">Certification:</label>
              <input type="text" class="form-control" id="Certification-<%= request.id %>" value="<%= request.name %>" disabled>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
               <label class="control-label" for="Date">Date: </label>
               <input type="text" class="form-control" name="Date-<%= request.id %>" id="Date-<%= request.id %>" value="<%= request.booking_date %>" disabled>
            </div>
            <div class="form-group">
              <label for="Price">Price:</label>
              <input type="text" class="form-control" id="Price-<%= request.id %>" name="Price-<%= request.id %>" value="<%= request.amount %>" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Notes">Notes:</label>
              <textarea rows="3" class="form-control" id="Notes-<%= request.id %>" name="Notes-<%= request.id %>" placeholder="Enter notes that will be sent to consultant" value="<%= request.notes %>" disabled></textarea>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label>Link:</label>
              <a target="_blank" href="<%= c_hash.detect {|ele| ele['short'] == request.short}['url'] %>">Booking link</a>
              <span class="help-block"></span>
            </div>
          </form>
          <hr />
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- failed certification request modals -->
<% failed_requests.each do |request| %>
  <div class="modal fade" id="FailedCertificationRequest-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Failed Certification Request</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="CreateForm-<%= request.id %>">
            <div class="form-group">
              <label for="FirstName">First Name:</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name that should appear on certificate" value="<%= request.consultant_first_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="LastName">Last Name:</label>
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name that should appear on certificate" value="<%= request.consultant_last_name %>" required="required" disabled/>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Email">Email Address of Consultant:</label>
              <input type="email" class="form-control" id="Email-<%= request.id %>" name="Email-<%= request.id %>" placeholder="Email" value="<%= request.consultant_email %>" required="required" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Certification">Certification:</label>
              <input type="text" class="form-control" id="Certification-<%= request.id %>" value="<%= request.name %>" disabled>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
               <label class="control-label" for="Date">Date: </label>
               <input type="text" class="form-control" name="Date-<%= request.id %>" id="Date-<%= request.id %>" value="<%= request.booking_date %>" disabled>
            </div>
            <div class="form-group">
              <label for="Price">Price:</label>
              <input type="text" class="form-control" id="Price-<%= request.id %>" name="Price-<%= request.id %>" value="<%= request.amount %>" disabled/>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label for="Notes">Notes:</label>
              <textarea rows="3" class="form-control" id="Notes-<%= request.id %>" name="Notes-<%= request.id %>" placeholder="Enter notes that will be sent to consultant" value="<%= request.notes %>" disabled></textarea>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label>Link:</label>
              <a target="_blank" href="<%= c_hash.detect {|ele| ele['short'] == request.short}['url'] %>">Booking link</a>
              <span class="help-block"></span>
            </div>
          </form>
          <hr />
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Modal Definitions -->
<div class="modal fade" id="GenerateReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Generate Report</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="GenerateReportForm">
          <div class="form-group">
             <label class="control-label" for="ReportStartDate">Start Date: </label>
             <input type="text" class="form-control" name="ReportStartDate" id="ReportStartDate">
          </div>
          <div class="form-group">
             <label class="control-label" for="ReportEndDate">Start Date: </label>
             <input type="text" class="form-control" name="ReportEndDate" id="ReportEndDate">
          </div>
        </form>
        <p id="GenerateReportLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitGenerateReportBtn" name="SubmitGenerateReportBtn" class="btn btn-large btn-primary">Generate</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Certification Request(s)
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Start Here <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a id="CreateCertificationRequestBtn" data-toggle="modal" href="#CreateCertificationRequest">
              Create New Certification Request
            </a>
          </li>
          <li>
            <a href="/certifications/report/generate" target="_blank" role="button">Generate report &raquo;</a>
          </li>
        </ul>
      </div>
    </h2>
  </div>
  <!-- Notifications -->
  <h3>Notifications</h3>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>Pending Requests - <%= pending_requests.count %></strong>
    </div>
    <% if pending_requests.empty? %>
      <ul class="list-group">
        <li class="list-group-item">
          There are no pending requests to show.
        </li>
      </ul>
    <% else %>
    <ul class="list-group">
      <% pending_requests.each do |request| %>
      <li class="list-group-item">
        <button type="button" id="DisapproveRequest-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove disapprovebutton" data-original-title="Disapprove this request"></span></button>
        <button type="button" data-toggle="modal" data-target="#ApproveCertificationRequest-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok approvebutton" data-original-title="Approve this request"></span></button>
        <span class="badge alert-info">Submitted At: <%= request.created_at.strftime("%m/%d/%Y") %></a></span>
        <span><%= request.consultant_first_name %> <%= request.consultant_last_name %> has requested certification (<%= request.name %>) booking</span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Approved Requests - <%= approved_requests.count %></strong>
    </div>
    <% if approved_requests.empty? %>
      <ul class="list-group">
        <li class="list-group-item">
          There are no approved requests to show.
        </li>
      </ul>
    <% else %>
    <ul class="list-group">
      <% approved_requests.each do |request| %>
      <li class="list-group-item">
        <button type="button" id="CertificationFail-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-thumbs-down failbutton" data-original-title="Consultant Failed!"></span></button>
        <button type="button" id="CertificationPass-<%= request.id %>" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-thumbs-up passbutton" data-original-title="Consultant passed!"></span></button>

        <span class="badge alert-info"><%= request.approved_at.strftime("%m/%d/%Y") %></a></span>
        <span class="badge alert-success"><%= request.approved_by %></a></span>
        <a href="#" data-toggle="modal" data-target="#ApprovedCertificationRequest-<%= request.id %>">
          <span><%= request.consultant_first_name %> <%= request.consultant_last_name %> has requested certification (<%= request.name %>) booking</span>
        </a>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>DisApproved Requests - <%= disapproved_requests.count %></strong>
    </div>
    <% if disapproved_requests.empty? %>
      <ul class="list-group">
        <li class="list-group-item">
          There are no dis-approved requests to show.
        </li>
      </ul>
    <% else %>
    <ul class="list-group">
      <% disapproved_requests.each do |request| %>
      <li class="list-group-item">
        <span class="badge alert-info"><%= request.disapproved_at.strftime("%m/%d/%Y") %></a></span>
        <span class="badge alert-success"><%= request.disapproved_by %></a></span>
        <a href="#" data-toggle="modal" data-target="#DisApprovedCertificationRequest-<%= request.id %>">
          <span><%= request.consultant_last_name %> <%= request.consultant_last_name %> has requested certification (<%= request.name %>) booking</span>
        </a>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="row-fluid">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <strong>Passed Requests - <%= passed_requests.count %></strong>
        </div>
        <% if passed_requests.empty? %>
          <ul class="list-group">
            <li class="list-group-item">
              There are no requests marked as passed to show.
            </li>
          </ul>
        <% else %>
        <ul class="list-group">
          <% passed_requests.each do |request| %>
            <li class="list-group-item">
              <a href="#" data-toggle="modal" data-target="#PassedCertificationRequest-<%= request.id %>">
                <%= request.consultant_first_name %> <%= request.consultant_last_name %> passed <%= request.name %>
              </a>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <strong>Failed Requests - <%= failed_requests.count %></strong>
        </div>
        <% if failed_requests.empty? %>
          <ul class="list-group">
            <li class="list-group-item">
              There are no requests marked as failed to show.
            </li>
          </ul>
        <% else %>
        <ul class="list-group">
          <% failed_requests.each do |request| %>
            <li class="list-group-item">
              <a href="#" data-toggle="modal" data-target="#FailedCertificationRequest-<%= request.id %>">
                <%= request.consultant_first_name %> <%= request.consultant_last_name %> failed <%= request.name %>
              </a>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.approvebutton').tooltip();
  $('.disapprovebutton').tooltip();
  $('.passbutton').tooltip();
  $('.failbutton').tooltip();
  $('#Certification').select2();
  $("#Flexible").bootstrapSwitch();
  $('#Date').datepicker({
    startDate: new Date()
  });
  $('#ReportStartDate').datepicker({
    format: 'dd-mm-yyyy'
  });
  $('#ReportEndDate').datepicker({
    format: 'mm-dd-yyyy'
  });

  $('#SubmitCreateBtn').click(function() {
    _this = $(this);
    _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/certifications/submit",
      data: $('#CreateForm').serialize(),
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg);
          _this.attr('disabled', false); // re-enable submit
          _this.html('Re-submit');
          $('#CreateCertificationRequestLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg);
          _this.html("Submitted");
          $('#CreateCertificationRequestLabel').addClass('text-info').html(data.msg);
          $('#CreateCertificationRequest').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        _this.attr('disabled', false); // re-enable submit
        _this.text('Re-submit');
        $('#CreateCertificationRequestLabel').addClass('text-danger').html('Something went wrong requesting air ticket!!!');
      }
    });
  });

  <% pending_requests.each do |request| %>
  $('#Date-<%= request.id %>').datepicker(
      "update","<%= Date.strptime(request.booking_date, '%m/%d/%Y').strftime('%m/%d/%Y') %>"
  );
  $('#ApproveBtn-<%= request.id %>').click(function() {
    _this = $(this);
    _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    var fName = $("#FirstName-<%= request.id %>").val();
    var lName = $("#LastName-<%= request.id %>").val();
    var date = $("#Date-<%= request.id %>").val();
    var price = $("#Price-<%= request.id %>").val();
    var notes = $("#Notes-<%= request.id %>").val();

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/certifications/approve/<%= request.id %>",
      data: {'fname': fName, 'lname': lName, 'date': date, 'price': price, 'notes': notes },
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg);
          _this.attr('disabled', false); // re-enable submit
          _this.html('Re-submit');
          $('#ApproveCertificationRequestLabel-<%= request.id %>').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg);
          _this.html("Submitted");
          $('#ApproveCertificationRequestLabel-<%= request.id %>').addClass('text-info').html(data.msg);
          $('#ApproveCertificationRequest-<%= request.id %>').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        _this.attr('disabled', false); // re-enable submit
        _this.text('Re-submit');
        $('#ApproveCertificationRequestLabel-<%= request.id %>').addClass('text-danger').html('Something went wrong requesting air ticket!!!');
      }
    });
  });
  <% end %>

  // Disapprove requests
  <% pending_requests.each do |request| %>
  $('#DisapproveRequest-<%= request.id %>').click(function() {
    console.log("Initializing call");
    _this = $(this);
    _this.html('<i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    $.ajax({
      type: "POST",
      url: "/certifications/deny/<%= request.id %>",
      success: function(data){
        location.reload();
      },
      error: function(e){
        alert("Error occurred!");
      }
    });
  });
  <% end %>

  <% approved_requests.each do |request| %>
  $('#CertificationPass-<%= request.id %>').click(function() {
    console.log("Initializing call");
    _this = $(this);
    _this.html('<i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    $.ajax({
      type: "POST",
      url: "/certifications/status/pass/<%= request.id %>",
      success: function(data){
        location.reload();
      },
      error: function(e){
        alert("Error occurred!");
      }
    });
  });

  $('#CertificationFail-<%= request.id %>').click(function() {
    console.log("Initializing call");
    _this = $(this);
    _this.html('<i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    $.ajax({
      type: "POST",
      url: "/certifications/status/fail/<%= request.id %>",
      success: function(data){
        location.reload();
      },
      error: function(e){
        alert("Error occurred!");
      }
    });
  });
  <% end %>
});
</script>
