<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Cloud Servers <small>(Powered by <a href="http://github.com/ashrithr/ankus">Ankus</a>)</small></h2>
  </div>
  <% if oc.empty? %>
  <div class="bs-callout bs-callout-danger">
    <p class="lead">
      There seems to be a connection issue with Openstack cluster. We are working on it. Visit back again!
    </p>
  </div>
  <% else %>
  <div class="row-fluid addBorder">
    <div id="instance_count" class="col-sm-3 col-md-3"></div>
    <div id="cores_count" class="col-sm-3 col-md-3"></div>
    <div id="ram_count" class="col-sm-3 col-md-3"></div>
    <div id="secgroup_count" class="col-sm-3 col-md-3"></div>
  </div>
  <% end %>

  <hr />

  <!-- Servers / Clusters by user -->
  <div class="row-fluid">
    <div class="col-md-6">
      <!-- Servers by user -->
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <b>Servers by user</b>
          <div class="btn-group pull-right">
            <a class="btn btn-xs btn-info">Total: 54</a>
          </div>
        </div>
        <table class="table table-striped" style="table-layout: fixed; word-wrap: break-word">

        </table>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Clusters by user -->
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <b>Clusters by user</b>
          <div class="btn-group pull-right">
            <a class="btn btn-xs btn-info">Total: 5</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style media="screen" type="text/css">
  .addBorder {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
</style>

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script>
$(document).ready(function() {
  <% unless oc.empty? %>
  $(function () {
    $('#instance_count').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        height: 225
      },
      exporting: {
        enabled: false
      },
      title: {
        text: 'Instances'
      },
      // tooltip: {
      //   pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      // },
      credits: {
        enabled: false
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false,
          },
          // showInLegend: true
        }
      },
      series: [{
        type: 'pie',
        name: 'Instance Count',
        data: [
          ['Free', <%= oc[:max_instances] - oc[:current_instances] %>],
          {
            name: 'Used',
            // y: replace this with actual values,
            y: <%= oc[:current_instances] %>,
            sliced: true,
            selected: true
          }
        ]
      }]
    });
    $('#cores_count').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        height: 225
      },
      exporting: {
        enabled: false
      },
      title: {
        text: 'Cores'
      },
      credits: {
        enabled: false
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'Cores Count',
        data: [
          ['Free', <%= oc[:max_cores] - oc[:current_cores] %>],
          {
            name: 'Used',
            y: <%= oc[:current_cores] %>,
            sliced: true,
            selected: true
          }
        ]
      }]
    });
    $('#ram_count').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        height: 225
      },
      exporting: {
        enabled: false
      },
      title: {
        text: 'RAM'
      },
      credits: {
        enabled: false
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'RAM Count',
        data: [
          ['Free', <%= oc[:max_ram] - oc[:current_ram] %>],
          {
            name: 'Used',
            y: <%= oc[:current_ram] %>,
            sliced: true,
            selected: true
          }
        ]
      }]
    });
    $('#secgroup_count').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        height: 225
      },
      exporting: {
        enabled: false
      },
      title: {
        text: 'Sec Groups'
      },
      credits: {
        enabled: false
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          }
        }
      },
      series: [{
        type: 'pie',
        name: 'Sec Groups Count',
        data: [
          ['Free', <%= oc[:max_secgroups] - oc[:current_secgroups] %>],
          {
            name: 'Used',
            y: <%= oc[:current_secgroups] %>,
            sliced: true,
            selected: true
          }
        ]
      }]
    })
  });
<% end %>
})
</script>