<div class="row-fluid">
  <% request.cloud_instances.each do |instance| %>
    <div class="col-xs-4 spacer">
      <div class="well">
        <img style="position:absolute;bottom:0;right:0;" src="<%= asset_path "#{instance.os_flavor}-logo.png" %>" alt="folder" class="img-circle">
        <% if instance.state == 'NOTAPPROVED' || instance.state == 'BUILDING' %>
          <p>Instance: <b><%= instance.instance_name %></b> <i class="fa fa-circle-o-notch fa-spin fa-lg pull-right"></i></p>
          <hr \>
          <p>IP: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-spinner fa-spin"></i></p>
        <% elsif instance.state == 'ACTIVE' %>
          <p>Instance: <b><%= instance.instance_name %></b> <i class="fa fa-circle-thin fa-lg icon-green pull-right"></i></p>
          <hr \>
          <p>IP: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%= instance.ip_address %></b></p>
        <% elsif instance.state == 'ERROR' %>
          <p>Instance: <b><%= instance.instance_name %></b> <i class="fa fa-circle-thin fa-lg icon-red pull-right"></i></p>
          <hr \>
          <p>IP: <i>Error</i></p>
        <% else %>
          <p>Instance: <b><%= instance.instance_name %></b> <i class="fa fa-circle-thin fa-lg icon-yellow pull-right"></i></p>
          <hr \>
          <p>IP: <i><%= instance.ip_address || 'Error' %></i></p>
        <% end %>

        <p>Cores:     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%= instance.vcpus || '???' %></b></p>
        <p>RAM (MB):  &nbsp;<b><%= instance.mem || '???' %></b></p>
        <p>Disk (GB): &nbsp;&nbsp;<b><%= instance.disk || '???' %></b></p>
      </div>
    </div>
  <% end %>
</div>