<div class="container theme-showcase" role="main">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#timesheets"><i class="fa fa-calendar-o"></i> <b>TimeSheets</b></a></li>
    <li><a data-toggle="tab" href="#archives"><i class="fa fa-archive"></i><b> Archives</b></a></li>
  </ul>

  <br/>

  <div class="tab-content">
    <div id="timesheets" class="tab-pane active">
      <div class="container theme-showcase" role="main">
        <div class="page-header">
          <h2>Time Sheets (<%= weekdates.first.day %> <%= Date::ABBR_MONTHNAMES[weekdates.first.month] %> - <%= weekdates.last.day %> <%= Date::ABBR_MONTHNAMES[weekdates.last.month] %> <%= weekdates.first.year %>)
            <div class="btn-group pull-right">
              <button id="prevweek" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-left fa-2x"></i></button>
              <button id="nextweek" type="button" class="btn btn-default btn-xs"><i class="fa fa-chevron-right fa-2x"></i></button>
              <button id="showcalender" type="button" class="btn btn-default btn-xs"><i class="fa fa-calendar fa-2x"></i></button>
            </div>
          </h2>
        </div>
        <% if projects.empty? %>
          <div class="panel panel-info">
            <div class="panel-body">
              <div class="text-center">
                <h4>No projects have been assigned to you for yet. Contact admin, if this is a mistake.</h4>
              </div>
            </div>
          </div>
        <% elsif contains_none %>
          <div class="panel panel-info">
            <div class="panel-body">
              <div class="text-center">
                <h4>You have no project's assigned for this week. Contact admin, if this is a mistake.</h4>
                <p>Your project's and their start and end dates: </p>
                <% projects.each do |project| %>
                <p><%= project.id %> | <%= project.start_date %> | <%= project.end_date %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <!-- Begin projects -->
          <% projects.each do |project| %>
            <% date_range = project.start_date..project.end_date %>
            <% if date_range === week_start || date_range === week_end %>
            <div class="panel panel-primary">
              <!-- Default panel contents -->
              <%
                current_timesheet = project.timesheets.find_by(consultant: userid, week: date)
                current_timesheet_status = current_timesheet && current_timesheet.status || 'NOT SUBMITTED'
                current_timesheet_status_label = case current_timesheet_status
                when 'NOT SUBMITTED'
                  'label-default'
                when 'SAVED'
                  'label-info'
                when 'SUBMITTED'
                  'label-primary'
                when 'APPROVED'
                  'label-success'
                when 'REJECTED'
                  'label-warning'
                end
              %>

              <div class="panel-heading"><b>Project Name: <%= project.name %> (<%= project.project_code %>)</b><span class="label <%= current_timesheet_status_label %> pull-right"><%= current_timesheet_status %></span></div>
              <div class="panel-body">
                <form role="form" id="Form-<%= project.id %>">
                  <table class="table">
                    <thead class="header">
                      <tr>
                        <div class="row">
                          <td class="col-8 text-center"><b><%= Date::ABBR_DAYNAMES[weekdates[0].wday] %></b><br><%= weekdates[0].day %> <%= Date::ABBR_MONTHNAMES[weekdates[0].month] %></td>
                          <td class="col-8 text-center"><b><%= Date::ABBR_DAYNAMES[weekdates[1].wday] %></b><br><%= weekdates[1].day %> <%= Date::ABBR_MONTHNAMES[weekdates[1].month] %></td>
                          <td class="col-8 text-center"><b><%= Date::ABBR_DAYNAMES[weekdates[2].wday] %></b><br><%= weekdates[2].day %> <%= Date::ABBR_MONTHNAMES[weekdates[2].month] %></td>
                          <td class="col-8 text-center"><b><%= Date::ABBR_DAYNAMES[weekdates[3].wday] %></b><br><%= weekdates[3].day %> <%= Date::ABBR_MONTHNAMES[weekdates[3].month] %></td>
                          <td class="col-8 text-center"><b><%= Date::ABBR_DAYNAMES[weekdates[4].wday] %></b><br><%= weekdates[4].day %> <%= Date::ABBR_MONTHNAMES[weekdates[4].month] %></td>
                          <td class="col-8 text-center"><b><%= Date::ABBR_DAYNAMES[weekdates[5].wday] %></b><br><%= weekdates[5].day %> <%= Date::ABBR_MONTHNAMES[weekdates[5].month] %></td>
                          <td class="col-8 text-center"><b><%= Date::ABBR_DAYNAMES[weekdates[6].wday] %></b><br><%= weekdates[6].day %> <%= Date::ABBR_MONTHNAMES[weekdates[6].month] %></td>
                          <td class="col-8 text-center"><b>Total</b></td>
                        </div>
                      </tr>
                    </thead>
                    <tr>
                      <div class="row">
                        <% current_timesheet.timesheet_details.each_with_index do |detail, index| %>
                          <td class="col-8 text-center">
                            <% if @user.administrator? %>
                              <% if (project.start_date <= weekdates[index] && project.end_date >= weekdates[index]) %>
                                <input type="number" step="any" min="0" max="24" class="form-control count hours-<%= project.id %>" id="<%= Date::ABBR_DAYNAMES[weekdates[index].wday] %><%= project.id %>" name="<%= weekdates[index] %>" placeholder="00.00" onchange="sum<%= project.id %>();" value="<%= detail.hours %>">
                              <% else %>
                                <input type="number" step="any" min="0" max="24" class="form-control count hours-<%= project.id %>" id="<%= Date::ABBR_DAYNAMES[weekdates[index].wday] %><%= project.id %>" name="<%= weekdates[index] %>" placeholder="00.00" onchange="sum<%= project.id %>();" value="<%= detail.hours %>" disabled>
                              <% end %>
                            <% else %>
                              <!-- normal user -->
                              <% if (project.start_date <= weekdates[index] && project.end_date >= weekdates[index]) && (current_timesheet.status == 'NOT SUBMITTED' || current_timesheet.status == 'SAVED') %>
                                <input type="number" step="any" min="0" max="24" class="form-control count hours-<%= project.id %>" id="<%= Date::ABBR_DAYNAMES[weekdates[index].wday] %><%= project.id %>" name="<%= weekdates[index] %>" placeholder="00.00" onchange="sum<%= project.id %>();" value="<%= detail.hours %>">
                              <% else %>
                                <input type="number" step="any" min="0" max="24" class="form-control count hours-<%= project.id %>" id="<%= Date::ABBR_DAYNAMES[weekdates[index].wday] %><%= project.id %>" name="<%= weekdates[index] %>" placeholder="00.00" onchange="sum<%= project.id %>();" value="<%= detail.hours %>" disabled>
                              <% end %>
                            <% end %>
                          </td>
                        <% end %>
                        <td id="total<%= project.id %>" class="col-8 text-center">
                          <%= current_timesheet.total_hours %>
                        </td>
                      </div>
                    </tr>
                  </table>
                </form>
                <div class="panel-footer clearfix">
                  <div class="pull-right">
                    <button id="SaveBtn-<%= project.id %>" type="button" class="btn btn-default" disabled>Save</button>
                    <% if current_timesheet.status == 'SAVED' %>
                      <button id="SubmitBtn-<%= project.id %>" type="button" class="btn btn-primary">Submit</button>
                    <% else %>
                      <button id="SubmitBtn-<%= project.id %>" type="button" class="btn btn-primary" disabled>Submit</button>
                    <% end %>
                  </div>
                </div>
              </div>
              <br>
              <!-- Upload attachment's related to timesheet -->
              <div class="row-fluid">
                <div class="col-md-6">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <a><strong>Exiting Attachment's</strong></a>
                    </div>
                    <div class="panel-body">
                      <ul class="list-group">
                        <% if current_timesheet.timesheet_attachments.empty? %>
                          <li class="list-group-item">
                            <span>No attachment's added yet</span>
                          </li>
                        <% else %>
                          <% current_timesheet.timesheet_attachments.each do |attachment| %>
                          <li class="list-group-item">
                            <a href="/download/<%= attachment.id %>"><%= attachment.filename.split('_', 5).last %></a>
                          </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div> <!-- col-md-6 -->
                <div class="col-md-6">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <a><strong>Upload Attachment</strong></a>
                    </div>
                    <div class="panel-body">
                      <!-- upload new resumes -->
                      <form role="form" id="upload-<%= project.id %>" method="post" action="/upload/timesheet/<%= project.id %>/<%= @session_username %>/<%= year %>/<%= weeknum %>" enctype="multipart/form-data">
                        <input type="file" class="form-control" title="Select timesheet approvals to upload" name="timesheets[]" data-filename-placement="inside" multiple />
                        <ul id="fileList"></ul>
                        <button type="submit" class="btn btn-primary center-block" id="UploadBtn-<%= project.id %>"><i class="fa fa-cloud-upload fa-lg"></i> Upload Timesheet</button>
                      </form>
                    </div>
                  </div>
                </div> <!-- col-md-6 -->
              </div> <!-- row-fluid for attachments -->
            </div>
            <% else %>
            <!-- project is not in range of this date range -->
            <% end %>
          <% end %> <!-- end projects.each -->
        <% end %>
      </div>

        <div id="archives" class="tab-pane">
        </div>
      </div> <!-- timesheets tab contents -->
    </div> <!-- timesheets tab -->
  </div> <!-- Main tab contents -->
</div> <!-- Main Container -->

<style>
.panel-footer {
  color: #FFF;
  background-color: #FFF;
  border-color: #FFF;
}
input{
  text-align:center;
}
</style>

<script src="<%= asset_path 'moment.min.js' %>"></script>
<script type="text/javascript">
$('input[type=file]').bootstrapFileInput();
$('.file-inputs').bootstrapFileInput();

// enable the submit button if the user has changed the value of any of the input's
<% projects.each do |project| %>
$('.hours-<%= project.id %>').change(function() {
  if ($(this).val()) {
    $('#SaveBtn-<%= project.id %>').removeAttr('disabled')
  }
})
// validate timesheet upload
$('#upload-<%= project.id %>').bootstrapValidator({
  feedbackIcons: {
    valid: 'glyphicon glyphicon-ok',
    invalid: 'glyphicon glyphicon-remove',
    validating: 'glyphicon glyphicon-refresh'
  },
  fields: {
    'timesheets[]': {
      validators: {
        notEmpty: {
          message: 'The timesheet is required'
        },
        file: {
          extension: 'pdf,doc,docx,jpeg,png',
          type: 'application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/png,image/jpeg',
          maxSize: 2048 * 1024,   // 2 MB
          message: 'Currently we only accept pdf, doc, docx, jpeg, png files with size limit of 2MB'
        }
      }
    },
  }
});
<% end %>

$('#showcalender').datepicker({format: 'mm/dd/yyyy'}).on('changeDate', function(e){
  console.log('Date selected');
  var weekNum = moment(e.date).week();
  var year = moment(e.date).year();
  console.log(weekNum);
  window.location.href='/timesheets/<%= userid %>/' + year + '/' + weekNum;
});

<% projects.each do |project| %>
function sum<%= project.id %>() {
  var mon = $("#Mon<%= project.id %>").val();
  var tue = $("#Tue<%= project.id %>").val();
  var wed = $("#Wed<%= project.id %>").val();
  var thu = $("#Thu<%= project.id %>").val();
  var fri = $("#Fri<%= project.id %>").val();
  var sat = $("#Sat<%= project.id %>").val();
  var sund = $("#Sun<%= project.id %>").val();

  var result = parseFloat(mon) + parseFloat(tue) + parseFloat(wed) + parseFloat(thu) + parseFloat(fri) + parseFloat(sat) + parseFloat(sund);

  if (!isNaN(result)) {
    $('#total<%= project.id %>').text(result.toFixed(2));
    // totalsum();
  }
}
<% end %>

// function totalsum() {
//   var totals = $('td[id^="total"]');
//   var result = 0;
//   totals.each(function(index) {
//     result += parseFloat($(this).text());
//   })
//   if (!isNaN(result)) {
//     $('#totcol').text(result.toFixed(2));
//   }
// }

$(document).ready(function() {
  var now = moment();
  // this week
  var currentStartOfWeek = now.startOf('isoWeek');
  var currentEndOfWeek = now.endOf('isoWeek');

  // $("#weekidentifier").text(
  //   now.startOf('isoWeek').get('date') + " - " +
  //   now.endOf('isoWeek').get('date') + " " +
  //   moment.months(now.get('month')) + " " +
  //   now.get('year')
  // );
});

$('#nextweek').click(function(){
  var urlSegment = window.location.pathname
  var urlSegmentArray = urlSegment.split('/')

  console.log(urlSegmentArray)

  var currentUrlWeek = parseInt(urlSegmentArray[urlSegmentArray.length - 1])
  var currentUrlYear = parseInt(urlSegmentArray[urlSegmentArray.length - 2])

  console.log(currentUrlWeek)
  console.log(currentUrlYear)

  var nextUrlWeek = currentUrlWeek
  var nextUrlYear = currentUrlYear

  if (currentUrlWeek == 53) {
    nextUrlYear = nextUrlYear + 1
    nextUrlWeek = 1
  } else {
    nextUrlWeek = nextUrlWeek + 1
  }

  window.location.href='/timesheets/<%= userid %>/' + nextUrlYear + '/' + nextUrlWeek;
})
$('#prevweek').click(function(){
  var urlSegment = window.location.pathname
  var urlSegmentArray = urlSegment.split('/')
  var currentUrlWeek = parseInt(urlSegmentArray[urlSegmentArray.length - 1])
  var currentUrlYear = parseInt(urlSegmentArray[urlSegmentArray.length - 2])

  var nextUrlWeek = currentUrlWeek
  var nextUrlYear = currentUrlYear

  if (currentUrlWeek == 1) {
    nextUrlYear = nextUrlYear - 1
    nextUrlWeek = 53
  } else {
    nextUrlWeek = nextUrlWeek - 1
  }
  window.location.href='/timesheets/<%= userid %>/' + nextUrlYear + '/' + nextUrlWeek;
})

<% projects.each do |project| %>
$('#SaveBtn-<%= project.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Saving</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/timesheets/save/<%= project.id %>/<%= userid %>/<%= year %>/<%= weeknum %>",
    data: $('#Form-<%= project.id %>').serialize(),
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
      } else {
        console.log("Sucess: " + data.msg)
        _this.html("Submitted");
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.html('Re-submit');
    }
  });
});

$('#SubmitBtn-<%= project.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/timesheets/submit/<%= project.id %>/<%= userid %>/<%= year %>/<%= weeknum %>",
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
      } else {
        console.log("Sucess: " + data.msg)
        _this.html("Submitted");
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.html('Re-submit');
    }
  });
});
<% end %>

</script>