<!-- Modal definitions -->
<% if details.has_projects? %>
  <% details.projects.each do |project| %>
    <div class="modal fade" id="AddFilesToProject<%= project.name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Document(s)/Illustration(s) to project (<%= project.name %>)</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="uploadfiles<%= project.name %>" method="post" action="/consultant/<%= consultant.email %>/projects/<%= project.name %>/add_files" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label">Illustration Upload</label>
                <div class="">
                  <input type="file" id="illustrations" class="form-control" name="illustrations[]" title="Select illustrations related to project" data-filename-placement="inside" multiple/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Documents Upload</label>
                <div class="">
                  <input type="file" id="docuemnts" class="form-control" name="documents[]" title="Select documents related to project" data-filename-placement="inside" multiple/>
                </div>
              </div>

              <button type="submit" class="btn btn-primary center-block" id="SubmitBtn"><i class="fa fa-cloud-upload fa-lg"></i> Upload Files</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Your Projects <small>(we appreciate if you could let us know what is that you are working on)</small>
      <% if @user.owner? || @user.administrator? && details.has_projects? %>
        <!-- <button id="GeneratorPDF" class="btn btn-primary btn-md pull-right" type="button">Generate Document &raquo;</button> -->
        <p class="pull-right">
          <a id="GeneratePDF" class="btn btn-primary btn-md" href="/consultant/<%= consultant.email %>/projects/generate" target="_blank" role="button">Generate PDF &raquo;</a>
        </p>
      <% else %>
        <p class="pull-right">
          <a id="AddProject" class="btn btn-primary btn-md" href="/consultant/<%= consultant.email %>/projects/add" role="button">Add Project &raquo;</a>
        </p>
      <% end %>
    </h2>
  </div>
  <div class="container-fluid">
    <!-- projects -->
    <% if details.has_projects? %>
      <% details.projects.each do |project| %>
        <div class="row-fluid">
          <div class="span12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <strong><%= project.name %></strong>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <div class="row-fluid"> <!-- container for table and resumes -->
                    <br \>
                    <div class="span7">
                      <!-- table for showing project details -->
                      <div class="panel panel-default">
                        <table id="projectDetails" class="table table-bordered table-striped" style="table-layout: fixed; word-wrap: break-word">
                          <tr>
                            <td width="35%"><strong>Client</strong></td>
                            <td width="65%">
                              <a href="#" id="<%= project.name %>client"><%= project.client %></a>
                            </td>
                          </tr>
                          <tr>
                            <td width="35%"><strong>Title</strong></td>
                            <td width="65%">
                              <a href="#" id="<%= project.name %>title"><%= project.title %></a>
                            </td>
                          </tr>
                          <tr>
                            <td width="35%"><strong>Duration</strong></td>
                            <td width="65%">
                              <a href="#" id="<%= project.name %>duration"><%= project.duration || 0 %></a>
                            </td>
                          </tr>
                          <tr>
                            <td width="35%"><strong>Software Used</strong></td>
                            <td width="65%">
                              <a href="#" id="<%= project.name %>software"><%= project.software.join(', ') %></a>
                            </td>
                          </tr>
                          <tr>
                            <td width="35%"><strong>Management Tools</strong></td>
                            <td width="65%">
                              <a href="#" id="<%= project.name %>management_tools"><%= project.management_tools.join(', ') %></a>
                            </td>
                          </tr>
                          <tr>
                            <td width="35%"><strong>Commercial Support</strong></td>
                            <td width="65%">
                              <a href="#" id="<%= project.name %>commercial_support"><%= project.commercial_support.join(', ') %></a>
                            </td>
                          </tr>
                          <tr>
                            <td width="35%"><strong>Point of contact</strong></td>
                            <td width="65%">
                              <a href="#" id="<%= project.name %>pointofcontact"><%= project.point_of_contact.join(', ') %></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div> <!-- span 7 -->
                    <div class="span4"> <!-- files -->
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <a>
                            <% document_count = ( project.illustrations.count || 0 ) + ( project.projectdocuments.count || 0 ) %>
                            <span class="badge pull-right uploadprojectfilescount" data-original-title="Number of files uploaded"><%= document_count %></span>
                            <a href="#AddFilesToProject<%= project.name %>" data-toggle="modal">
                              <span class="badge badge-important pull-right uploadprojectfiles" data-original-title="Upload files to the project"><i class="fa fa-cloud-upload"></i></span>
                            </a>
                            <strong><%= project.name %> Files</strong>
                          </a>
                        </div>
                        <% if document_count == 0 %>
                          <p class="text-center">No files have been uploaded yet.</p>
                        <% else %>
                          <ul class="list-group">
                            <% project.illustrations && project.illustrations.each do |illustartion| %>
                              <li class="list-group-item">
                                <a href="/download/<%= illustartion.file_id %>">
                                  <%= illustartion.filename && illustartion.filename.split('_', 4).last %>
                                </a>
                              </li>
                            <% end %>
                            <% project.projectdocuments && project.projectdocuments.each do |document| %>
                              <li class="list-group-item">
                                <a href="/download/<%= document.file_id %>">
                                  <%= document.filename && document.filename.split('_', 4).last %>
                                </a>
                              </li>
                            <% end %>
                          </ul>
                        <% end %>
                      </div> <!-- end files panel-->
                    </div> <!-- span4 -->
                  </div> <!-- end container for table and resumes -->
                </div> <!-- end span12 -->
              </div> <!-- row-fluid -->
              <div class="row-fluid">
                <div class="span12">
                  <hr>
                  <% if project.has_usecases? %>
                    <div class="col-xs-2"> <!-- required for floating -->
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-left">
                        <% project.usecases.each_with_index do |usecase, index| %>
                          <% if index == 0 %>
                            <li class="active"><a href="#<%= project.name + usecase.name %>" data-toggle="tab">usecase <%= index + 1 %></a></li>
                          <% else %>
                            <li><a href="#<%= project.name + usecase.name %>" data-toggle="tab">usecase <%= index + 1 %></a></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>

                    <div class="col-xs-9">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <% project.usecases.each_with_index do |usecase, index| %>
                          <% if index == 0 %>
                              <div class="tab-pane active" id="<%=  project.name + usecase.name %>">
                          <% else %>
                              <div class="tab-pane" id="<%=  project.name + usecase.name %>">
                          <% end %>
                          <div class="panel panel-default">
                            <table id="usecase<%= usecase.name %>" class="table table-bordered table-striped" style="table-layout: fixed; word-wrap: break-word">
                              <tr>
                                <td width="25%"><strong>Usecase Name</strong></td>
                                <td width="75%">
                                  <!-- <a href="#" id="usecasename"></a> -->
                                  <%= usecase.name %>
                                </td>
                              </tr>
                              <tr>
                                <td width="25%"><strong>Usecase Description</strong></td>
                                <td width="75%" style="white-space: nowrap">
                                  <span id="<%= project.name + usecase.name %>description" data-value="<%= usecase.description %>"><%= usecase.description %></span>
                                  <div id="<%= project.name + usecase.name %>editdescription">
                            <span class="badge pull-right editusecasedescription">
                              <i class="fa fa-pencil"></i>
                            </span>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <% usecase.requirements.each_with_index do |requirement, index| %>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <a><b>Requirement <%= index + 1 %></b></a>
                              </div>
                              <table id="requirement<%= requirement.id %>" class="table table-striped" style="table-layout: fixed; word-wrap: break-word">
                                <tr>
                                  <td width="25%">Requirement</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>requirement" data-value="<%= requirement.requirement %>"><%= requirement.requirement %></span>
                                    <div id="<%= requirement.id %>editrequirement">
                                      <span class="badge pull-right editrequirement">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%">Approach</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>approach" data-value="<%= requirement.approch %>"><%= requirement.approch %></span>
                                    <div id="<%= requirement.id %>editapproach">
                                      <span class="badge pull-right editapproach">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%">Effort (hours)</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>effort" data-value="<%= requirement.effort %>"><%= requirement.effort %></span>
                                    <div id="<%= requirement.id %>editeffort">
                                      <span class="badge pull-right editeffort">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%">Team Effort (hours)</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>teameffort" data-value="<%= requirement.teameffort %>"><%= requirement.teameffort %></span>
                                    <div id="<%= requirement.id %>editteameffort">
                                      <span class="badge pull-right editteameffort">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%">Tools</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>tools" data-value="<%= requirement.tools.join(', ') %>"><%= requirement.tools.join(', ') %></span>
                                    <div id="<%= requirement.id %>edittools">
                                      <span class="badge pull-right edittools">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%">Resources</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>resources" data-value="<%= requirement.resources %>"><%= requirement.resources %></span>
                                    <div id="<%= requirement.id %>editresources">
                                      <span class="badge pull-right editresources">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%">Insights</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>insights" data-value="<%= requirement.insights %>"><%= requirement.insights %></span>
                                    <div id="<%= requirement.id %>editinsights">
                                      <span class="badge pull-right editinsights">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td width="25%">Solution Benefits/Outcomes</td>
                                  <td width="75%">
                                    <span id="<%= requirement.id %>benefits" data-value="<%= requirement.benefits %>"><%= requirement.benefits %></span>
                                    <div id="<%= requirement.id %>editbenefits">
                                      <span class="badge pull-right editbenefits">
                                        <i class="fa fa-pencil"></i>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          <% end %>
                          </div> <!-- end tab pane -->
                        <% end %>
                        </div> <!-- end tab content -->
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %> <!-- end projects -->
    <% else %>
      <div class="bs-callout bs-callout-info">
        <p class="lead">You havn't added any projects. Add projects using <code>'Add Project'</code> button</p>
      </div>
    <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();

    // tooltip for project files upload
    $('.uploadprojectfiles').tooltip();
    $('.uploadprojectfilescount').tooltip();
    $('.editusecasedescription').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit usecase description'
    });
    $('.editrequirement').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit usecase requirement'
    });
    $('.editapproach').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit requirements approach'
    });
    $('.editeffort').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit requirements effort'
    });
    $('.editteameffort').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit requirements team effort'
    });
    $('.edittools').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit requirements tools'
    });
    $('.editresources').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit requirements resources'
    });
    $('.editinsights').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit requirements insights'
    });
    $('.editbenefits').tooltip({
      trigger: 'hover',
      'placement': 'bottom',
      'title': 'Edit requirements outcomes'
    });

    // inline editing
    $.fn.editable.defaults.mode = 'popup';
    $.fn.editable.defaults.ajaxOptions = {type: "POST"};

    <% if details.has_projects? %>
      <% details.projects.each do |project| %>
      $('#uploadfiles<%= project.name %>').bootstrapValidator({
        feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          'illustrations[]': {
            validators: {
              file: {
                extension: 'jpeg,png',
                type: 'image/jpeg,image/png',
                maxSize: 2048 * 1024,   // 2 MB
                message: 'Currently we only accept jpeg & png formats with size limit of 2MB'
              }
            }
          },
          'documents[]': {
            validators: {
              file: {
                extension: 'pdf,doc,docx',
                type: 'application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                maxSize: 5120 * 1024,   // 5 MB
                message: 'Currently we only accept pdf, doc, docx files with size limit of 5MB'
              }
            }
          }
        }
      });
      <% end %>
    <% end %>

    // projects inline editing
    <% if details.has_projects? %>
      <% details.projects.each do |project| %>
        $("#<%= project.name %>client").editable({
          type: 'text',
          title: 'Update the client name',
          placement: 'right',
          url: '/consultant/<%= details.consultant_id %>/projects/update',
          value: '<%= project.client %>',
          pk: '<%= project.name %>',
          name: 'client',
          success: function(response, newValue) {
            if (!response.status) return response.msg;
          }
        });
        $("#<%= project.name %>title").editable({
          type: 'text',
          title: 'Update the title',
          placement: 'right',
          url: '/consultant/<%= details.consultant_id %>/projects/update',
          value: '<%= project.title %>',
          pk: '<%= project.name %>',
          name: 'title',
          success: function(response, newValue) {
            if (!response.status) return response.msg;
          }
        });
        $("#<%= project.name %>duration").editable({
          type: 'text',
          title: 'Update the duration',
          placement: 'right',
          url: '/consultant/<%= details.consultant_id %>/projects/update',
          value: '<%= project.duration %>',
          pk: '<%= project.name %>',
          name: 'duration',
          success: function(response, newValue) {
            if (!response.status) return response.msg;
          }
        });
        $("#<%= project.name %>software").editable({
          type: 'select2',
          tpl: "<input type='text' style='width: 300px'>",
          inputclass: 'input-large',
          title: 'Update the software\'s used',
          placement: 'right',
          pk: '<%= project.name %>',
          value: '<%= project.software && project.software.join(', ') %>',
          url: '/consultant/<%= details.consultant_id %>/projects/update',
          name: 'software',
          select2: {
            tags: ["hadoop", "hbase", "cassandra", "mongodb", "spark", "kafka", "storm"]
          },
          success: function(response, newValue) {
            if (!response.status) return response.msg;
          }
        });
        $("#<%= project.name %>management_tools").editable({
          type: 'select2',
          tpl: "<input type='text' style='width: 300px'>",
          inputclass: 'input-large',
          title: 'Update the management_tool\'s used',
          placement: 'right',
          pk: '<%= project.name %>',
          value: '<%= project.management_tools && project.management_tools.join(', ') %>',
          url: '/consultant/<%= details.consultant_id %>/projects/update',
          name: 'management_tools',
          select2: {
            tags: ["cm", "ambari", "puppet", "chef", "ansible", "salt", "nagios", "ganglia", "zabbix", "logstash", "splunk"]
          },
          success: function(response, newValue) {
            if (!response.status) return response.msg;
          }
        });
        $("#<%= project.name %>commercial_support").editable({
          type: 'select2',
          tpl: "<input type='text' style='width: 300px'>",
          inputclass: 'input-large',
          title: 'Update the management_tool\'s used',
          placement: 'right',
          pk: '<%= project.name %>',
          value: '<%= project.commercial_support && project.commercial_support.join(', ') %>',
          url: '/consultant/<%= details.consultant_id %>/projects/update',
          name: 'commercial_support',
          select2: {
            tags: ["Cloudera", "HortonWorks", "DataStax", "MapR", "10Gen", "ElasticSearch", "DataBricks"]
          },
          success: function(response, newValue) {
            if (!response.status) return response.msg;
          }
        });
        $("#<%= project.name %>pointofcontact").editable({
          type: 'select2',
          tpl: "<input type='text' style='width: 300px'>",
          inputclass: 'input-large',
          title: 'Update the point of contact\'s from vendor',
          placement: 'right',
          pk: '<%= project.name %>',
          value: '<%= project.point_of_contact && project.point_of_contact.join(', ') %>',
          url: '/consultant/<%= details.consultant_id %>/projects/update',
          name: 'point_of_contact',
          select2: {
            tags: []
          },
          success: function(response, newValue) {
            if (!response.status) return response.msg;
          }
        });
        <% if project.has_usecases? %>
          <% project.usecases.each_with_index do |usecase, index| %>
            $('#<%= project.name + usecase.name %>editdescription').click(function(e){
              e.stopPropagation();
              $("#<%= project.name + usecase.name %>description").editable('toggle');
            });
            $("#<%= project.name + usecase.name %>description").editable({
              type: 'textarea',
              tpl: "<textarea style='width: 300px'>",
              title: 'Update the usecase description',
              pk: '<%= usecase.name %>',
              url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/update',
              name: 'description',
              toggle: 'manual',
              success: function(response, newValue) {
                if (!response.status) return response.msg;
              }
            });
            <% usecase.requirements.each do |requirement| %>
              $('#<%= requirement.id %>editrequirement').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>requirement").editable('toggle');
              });
              $("#<%= requirement.id %>requirement").editable({
                type: 'textarea',
                tpl: "<textarea style='width: 300px'>",
                title: 'Update the requirement',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'requirement',
                toggle: 'manual',
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });

              $('#<%= requirement.id %>editapproach').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>approach").editable('toggle');
              });
              $("#<%= requirement.id %>approach").editable({
                type: 'textarea',
                tpl: "<textarea style='width: 300px'>",
                title: 'Update the requirement approach',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'approch',
                toggle: 'manual',
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });

              $('#<%= requirement.id %>editeffort').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>effort").editable('toggle');
              });
              $("#<%= requirement.id %>effort").editable({
                type: 'textarea',
                tpl: "<textarea style='width: 300px'>",
                title: 'Update the requirement effort',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'effort',
                toggle: 'manual',
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });

              $('#<%= requirement.id %>editteameffort').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>teameffort").editable('toggle');
              });
              $("#<%= requirement.id %>teameffort").editable({
                type: 'textarea',
                tpl: "<textarea style='width: 300px'>",
                title: 'Update the requirement team effort',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'teameffort',
                toggle: 'manual',
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });

              $('#<%= requirement.id %>edittools').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>tools").editable('toggle');
              });
              $("#<%= requirement.id %>tools").editable({
                type: 'select2',
                tpl: "<input type='text' style='width: 300px'>",
                inputclass: 'input-large',
                title: 'Update the requirement tools',
                placement: 'right',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'tools',
                toggle: 'manual',
                select2: {
                  tags:["hive", "pig", "sqoop", "oozie", "flume", "mapreduce"]
                },
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });

              $('#<%= requirement.id %>editresources').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>resources").editable('toggle');
              });
              $("#<%= requirement.id %>resources").editable({
                type: 'textarea',
                tpl: "<textarea style='width: 300px'>",
                title: 'Update the requirement resources',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'resources',
                toggle: 'manual',
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });

              $('#<%= requirement.id %>editinsights').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>insights").editable('toggle');
              });
              $("#<%= requirement.id %>insights").editable({
                type: 'textarea',
                tpl: "<textarea style='width: 300px'>",
                title: 'Update the requirement insights',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'insights',
                toggle: 'manual',
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });
              $('#<%= requirement.id %>editbenefits').click(function(e){
                e.stopPropagation();
                $("#<%= requirement.id %>benefits").editable('toggle');
              });
              $("#<%= requirement.id %>benefits").editable({
                type: 'textarea',
                tpl: "<textarea style='width: 300px'>",
                title: 'Update the requirement benefits',
                pk: '<%= requirement.id %>',
                url: '/consultant/<%= details.consultant_id %>/projects/<%= project.name %>/usecases/<%= usecase.name %>/requirements/update',
                name: 'benefits',
                toggle: 'manual',
                success: function(response, newValue) {
                  if (!response.status) return response.msg;
                }
              });
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  });
</script>