<div class="container theme-showcase" role="main">
  <h2>Welcome to Cloudwick Sync.</h2>
  <hr>
  <h3><strong>Sync</strong> is a centralized portal for:</h3> 
  <ul>
    <li>
      <h4>Accessing self-service <a href="/training">training portal</a></h4>
    </li>
    <li>
      <h4>Tracking Time using <a href="/timesheets/<%= @session_username %>/<%= Time.now.strftime('%Y') %>/<%= Time.now.strftime('%U') %>">timesheets</a> module</h4>
    </li>
    <li>
      <h4>Requesting <a href="/documents/<%= @session_username %>">documents</a>, <a href="/certifications/<%= @session_username %>">certifications</a>, <a href="/airtickets/<%= @session_username %>">air-tickets</a>, <a href="/cloudservers/requests/<%= @session_username %>">cloud servers</a></h4>
    </li>
  </ul>

  <br>

  <h3>Tools we use @ Cloudwick:</h3>

  <div class="col-xs-3 spacer">
    <a class="button hvr-float" style="display:block" target="_blank" href="https://cloudwick.atlassian.net/wiki">
      <div class="well" style="height:250px; background-color: #337ab7;">
        <p align="center" class="font-responsive-large"><font color="white">Cloudwick Athenaeum</font></p>
        <br>
        <p align="center"><font color="white">Centralized knowledge management. You will be able to sign in using your cloudwick email address.</font></p>
      </div>
    </a>
  </div>
  <div class="col-xs-3 spacer">
    <a class="button hvr-float" style="display:block" target="_blank" href="https://cloudwick.atlassian.net/wiki/questions">
      <div class="well" style="height:250px; background-color: #5bc0de;">
        <p align="center" class="font-responsive-large"><font color="white">Cloudwick Questions</font></p>
        <br>
        <p align="center"><font color="white">If you have any technical questions this is the place to ask. You will be able to sign in using your cloudwick email address.</font></p>
      </div>
    </a>
  </div>
  <div class="col-xs-3 spacer">
    <a class="button hvr-float" style="display:block" target="_blank" href="https://cloudwick.slack.com">
      <div class="well" style="height:250px; background-color: #5cb85c;">
        <p align="center" class="font-responsive-large"><font color="white">Slack</font></p>
        <br>
        <p align="center"><font color="white">Team collaboration and chat. This is crucial as we send all notifications to Slack. To start using slack signup using your cloudwick email.</font></p>
      </div>
    </a>
  </div>
  <div class="col-xs-3 spacer">
    <% if @user.trainee? %>
      <a class="button hvr-float" style="display:block" target="_blank" href="http://git.cloudwick.com">
        <div class="well" style="height:250px; background-color: #f0ad4e;">
          <p align="center" class="font-responsive-large"><font color="white">Cloudwick Git</font></p>
          <br>
          <p align="center"><font color="white">Code sharing. This is where you'll manage your codebase required for assignments and projects.</font></p>
        </div>
      </a>
    <% else %>
      <a class="button hvr-float" style="display:block" target="_blank" href="https://github.com/cloudwicklabs">
        <div class="well" style="height:250px; background-color: #f0ad4e;">
          <p align="center" class="font-responsive-large"><font color="white">Cloudwick Github</font></p>
          <br>
          <p align="center"><font color="white">Code sharing. If you would like to contribute to existing projects or have new ideas for projects please let us know.</font></p>
        </div>
      </a>
    <% end %>
  </div>

  <br>

  <p><code>Feedback</code>: We will be happy to hear back from you on how to better build this platform. Contact Sync <a href="mailto:syncadmin@cloudwick.com?subject:Suggestion about Sync from <%= @user.name %>">admin(s)</a> for more information or to send suggestions.</p>
</div>

<style type="text/css">
.spacer {
  margin-top: 20px;
}

.font-responsive-large {
  overflow:auto;
  font-size: 2.5vw;
}
.font-responsive-small {
  overflow:auto;
  font-size: 1.5vw;
}
a:link    { color: #0F62B2 }  /* unvisited links */
a:visited { color: #0F62B2 }  /* visited links   */
a:hover   { color: #00c }  /* user hovers     */
a:active  { color: #ccc }  /* active links    */
</style>

<script src="<%= asset_path 'jquery.fittext.js' %>"></script>
<script type="text/javascript">
$(".font-responsive-large").fitText();
$(".font-responsive-small").fitText();
</script>
