<div class="modal fade" id="CreateProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Project</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="CreateProjectForm">
          <div class="form-group">
            <label for="ClientName">Client Name:</label>
            <% if clients.empty? %>
              <select name="ClientName" id="ClientName" class="form-control" disabled>
                <option value="">Please add clients before adding project</option>
              </select>
            <% else %>
              <select name="ClientName" id="ClientName" class="form-control">
                <% clients.each do |client| %>
                <option value="<%= client.id %>"><%= client.name %></option>
                <% end %>
              </select>
            <% end %>
          </div>
          <div class="form-group">
            <label for="VendorName">Vendor Name:</label>
            <% if vendors.empty? %>
              <select name="VendorName" id="VendorName" class="form-control" disabled>
                <option value="">Please add vendors before adding project</option>
              </select>
            <% else %>
              <select name="VendorName" id="VendorName" class="form-control">
                <% vendors.each do |vendor| %>
                <option value="<%= vendor.id %>"><%= vendor.name %></option>
                <% end %>
              </select>
            <% end %>
          </div>
          <div class="form-group">
            <label for="ProjectName">Name:</label>
              <input type="text" class="form-control" id="ProjectName" name="ProjectName" placeholder="Name of the project" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="ProjectCode">Project Code: (No special chars, spaces, symbols)</label>
              <input type="text" class="form-control" id="ProjectCode" name="ProjectCode" placeholder="Unique code for the project to identify it" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="ProjectType">Project Type: </label>
            <select class="form-control" id="ProjectType" name="ProjectType">
              <% TimeProject::TYPES.each do |project_type| %>
                <option value="<%= project_type %>"><%= project_type.to_s.upcase %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group date">
            <label for="StartDate">Date range: </label>
            <div class="input-daterange input-group" id="datepicker">
              <input type="text" class="input-sm form-control" name="StartDate" id="StartDate" />
              <span class="input-group-addon">to</span>
              <input type="text" class="input-sm form-control" name="EndDate" id="EndDate" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="Notes">Notes</label>
            <textarea rows="5" class="form-control" id="Notes" name="Notes" placeholder="Add an optional note" value=""></textarea>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Team">Team:</label>
            <select class="form-control" id="Team" name="Team[]" multiple="multiple">
              <% consultants.each do |consultant| %>
                <option value="<%= consultant.email %>"><%= consultant.first_name %> <%= consultant.last_name %></option>
              <% end %>
            </select>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Sales">Sales Associate:</label>
            <input type="text" class="form-control" id="Sales" name="Sales" placeholder="Email of the sales associate" value="" required="required" />
          </div>
          <div class="form-group">
            <label class="control-label" for="Billable">Billable? </label>
            <input type="checkbox" class="form-control" id="Billable" name="Billable" data-on-text="Yes" data-size="mini" />
            <span class="help-block"></span>
          </div>
          <div id="BillableOptions" class="hide">
            <div class="form-group">
              <label for="InvoiceMethod">This project is billable, and we invoice by:</label>
              <select class="form-control" id="InvoiceMethod" name="InvoiceMethod">
                <% TimeProject::INVOICE_TYPES.each do |invoice_type| %>
                  <option value="<%= invoice_type %>"><%= invoice_type.to_s.upcase %></option>
                <% end %>
              </select>
              <span class="help-block"></span>
            </div>
          </div>
          <div id="ProjectFlatRateOptions" class="hide">
            <div class="form-group">
              <label for="ProjectFlatRate">Project Flat Rate:</label>
              <input type="text" class="form-control" id="ProjectFlatRate" name="ProjectFlatRate" placeholder="Enter project flat rate" value="0.00" required="required" />
            </div>
          </div>
          <div id="MonthlyFlatRateOptions" class="hide">
            <div class="form-group">
              <label for="MonthlyFlatRate">Monthly Flat Rate:</label>
              <input type="text" class="form-control" id="MonthlyFlatRate" name="MonthlyFlatRate" placeholder="Enter project monthly flat rate" value="0.00" required="required" />
            </div>
          </div>
          <div id="PersonHourlyRateOptions" class="hide">
            <!--
            <% consultants.each do |consultant| %>
              <div id="<%= consultant.email.split('@').first.gsub('.', '') %>" class="form-group hide">
                <label for="<%= consultant.email.split('@').first.gsub('.', '')  %>Price"><%= consultant.first_name %> <%= consultant.last_name %> Price:</label>
                <input type="text" class="form-control" id="<%= consultant.email.split('@').first.gsub('.', '') %>Price" name="<%= consultant.email.split('@').first.gsub('.', '')  %>Price" placeholder="Price for this consultant" value="00.00" required="required" />
                <span class="help-block"></span>
              </div>
            <% end %>
            -->
            <p id="PersonHourlyRateOptionsLabel"></p>
          </div>
        </form>
        <p id="CreateProjectFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <button id="ProjectSubmitBtn" name="ProjectSubmitBtn" class="btn btn-large btn-primary center-block">Create Project</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container theme-showcase" role="main">
  <!-- page header -->
  <div class="page-header">
    <h2>
      Projects
      <div class="btn-group pull-right">
        <a id="CreateProject" class="btn btn-primary btn-md" data-toggle="modal" href="#CreateProjectModal" role="button">Add Project &raquo;</a>
      </div>
    </h2>
  </div>
  <!-- page body -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>Projects</strong>
    </div>

    <ul class="list-group">
      <% if projects.empty? %>
        <li class="list-group-item"><span>No projects added yet!!!</span></li>
      <% else %>
        <% projects.each do |project| %>
          <li class="list-group-item">
            <a href="/timesheets/projects/<%= project.id %>">
              <%= project.name %> (<%= project.project_code %>)
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  function parseEmail(email) {
    return email.split('@')[0].replace('.', '');
  }

  function parseEmailToId(email) {
    return email.split('@')[0].replace('.', '') + "Price";
  }

  // Adds a div for adding team member's price
  function addMember(e) {
    $("#PersonHourlyRateOptions").append(
      '<div id="' + parseEmail(e.val) + '" class="form-group>' +
        '<label for="' + parseEmailToId(e.val) + '">' + e.object.text + ' Price: </label>' +
        '<input type="text" class="form-control" id="' + parseEmailToId(e.val) + '" name="' + parseEmailToId(e.val) + '" placeholder="Price for this consultant" value="00.00" />' +
      '</div>'
    )
  }

  // Removes a div based on team members selection for entering price
  function removeMember(e) {
    $("#" + parseEmail(e.val)).remove();
  }

  function checkTeamMembers() {
    var teamMembers = $("#Team").find("option:selected").length;
    console.log(teamMembers);
    if (teamMembers == 0) {
      $('#PersonHourlyRateOptionsLabel').addClass('text-danger').html("select at least one member to be part of this project.");
    } else {
      $('#PersonHourlyRateOptionsLabel').html('');
    }
  }

  $('.input-daterange').datepicker({});

  $('#Team')
    .select2({ placeholder: "Start typing the name" })
    .on("select2-selecting", function(e) {
      console.log("select: " + e.val + " choice=" + e.object.text);
      addMember(e);
    })
    .on("select2-removed", function(e) {
      console.log("un-select: " + e.val + " choice=" + e.choice.text);
      removeMember(e);
    })
    ;

  $("#Billable")
    .bootstrapSwitch()
    .on('switchChange.bootstrapSwitch', function(event, state) {
      if (state) {
        $('#BillableOptions').removeClass('hide')
      } else {
        $('#BillableOptions').addClass('hide')
      }
    });
  $("#BillableOptions").change(function() {
    var billableOption = $("#BillableOptions").find("option:selected").text();
    if (billableOption == "PERSON_HOURLY_RATE") {
      $("#PersonHourlyRateOptions").removeClass('hide');
    } else {
      $("#PersonHourlyRateOptions").addClass('hide');
    }
    if (billableOption == 'PROJECT_FLAT_RATE') {
      $("#ProjectFlatRateOptions").removeClass('hide');
    } else {
      $("#ProjectFlatRateOptions").addClass('hide');
    }
    if (billableOption == 'MONTHLY_FLAT_RATE') {
      $("#MonthlyFlatRateOptions").removeClass('hide');
    } else {
      $("#MonthlyFlatRateOptions").addClass('hide');
    }
  });

$('#ProjectSubmitBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/timesheets/project/add",
    data: $('#CreateProjectForm').serialize(),
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateProjectFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg)
        _this.html("Submitted");
        $('#CreateProjectFormLabel').addClass('text-info').html(data.msg);
        $('#CreateProjectModal').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.html('Re-submit');
      $('#CreateProjectFormLabel').addClass('text-danger').html('Something went wrong processing request!!!');
    }
  });
});
</script>