<!-- Modals -->
<% project_submissions.keys.each_with_index do |_pid, index| %>
  <% (project_submissions[_pid].keys - [:heading, :name]).each do |_consultantid| %>
    <div class="modal fade" id="RedoProject-<%= project_submissions[_pid][_consultantid][:submissionid] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Redo Reason</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="Redo-<%= project_submissions[_pid][_consultantid][:submissionid] %>Reason">Reason/Notes/Comments:</label>
                <textarea rows="5" class="form-control" id="Redo-<%= project_submissions[_pid][_consultantid][:submissionid] %>Reason" name="Redo-<%= project_submissions[_pid][_consultantid][:submissionid] %>Reason"></textarea>
                <span class="help-block"></span>
              </div>
            </form>
            <p id="RedoProject<%= project_submissions[_pid][_consultantid][:submissionid] %>Label" class="text-center"></p>
            <hr />
            <div class="row-fluid">
              <div class="span3"></div>
              <div class="span6 text-center">
                <button id="RedoProject<%= project_submissions[_pid][_consultantid][:submissionid] %>Submit" name="SubmitBtn" class="btn btn-large btn-primary">Submit</button>
              </div>
              <div class="span3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% assignment_submissions.keys.each_with_index do |_subtopicid, index| %>
  <% assignment_submissions[_subtopicid][:assignments].keys.each_with_index do |_assignmentid, aindex| %>
    <% (assignment_submissions[_subtopicid][:assignments][_assignmentid].keys - [:heading, :name]).each do |_consultantid| %>
      <div class="modal fade" id="RedoAssignment-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Redo Reason</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="Redo-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Reason">Reason:</label>
                    <input type="text" class="form-control" id="Redo-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Reason" name="Redo-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Reason" placeholder="Reason for decling the request is ..." value="" required="required" />
                    <span class="help-block"></span>
                </div>
              </form>
              <p id="RedoAssignment<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Label" class="text-center"></p>
              <hr />
              <div class="row-fluid">
                <div class="span3"></div>
                <div class="span6 text-center">
                  <button id="RedoAssignment<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Submit" name="SubmitBtn" class="btn btn-large btn-primary">Submit</button>
                </div>
                <div class="span3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>
      <a href="/training">Trainers Portal</a> <small><%= track.code %> > <%= topic.name %> > Class Overview - Team <%= teamid %></small>
      <span class="pull-right">
        <a href="/training/track/<%= track.id %>/topic/<%= topic.id %>" type="button" class="btn btn-primary" type="button">
          Go to Course
        </a>
      </span>
    </h2>
  </div>

  <div class="row-fluid">
    <h3>Class Progress</h3>
    <hr>
    <% if team_progress.keys.empty? %>
      No members have been assigned to this team yet. You can do that from here: <a href="/consultants">Consultants Management Page.</a>
    <% else %>
        <% team_progress.keys.each_with_index do |member, i| %>
            <%
               # calculate each user progress
               overall_progress = []
               team_progress[member].keys.map { |tt|
                 overall_progress << team_progress[member][tt][:overall]
               }
               overall_progress_percent =  if overall_progress.empty?
                                             0.0
                                           else
                                             (overall_progress.inject(:+) / overall_progress.count) * 100
                                           end
            %>
            <% user_initials = member.to_s.split('@').first.split('.').map{ |a| a[0]}.join().upcase %>
            <div class = "media">
              <div class = "pull-left">
                <div id="traineedp-<%= i %>" class="dpcircle"><%= user_initials %></div>
              </div>

              <div class = "media-body">
                <h4 class = "media-heading"><%= member.to_s.split('@').first.split('.').first.capitalize %>'s Overall Progress</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= overall_progress_percent.to_i %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= overall_progress_percent.to_i %>%;">
                    <%= overall_progress_percent.to_i %>%
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>

  <div class="row-fluid">
    <h3>Project Submission Requests
      <span class="pull-right">
        <button type="button" id="ExpandProjects" class="btn btn-default btn-xs">
          <span class="tooltiplink" data-original-title="Expand project submissions">
            <i class="fa fa-expand"></i>
          </span>
        </button>
        <button type="button" id="CollapseProjects" class="btn btn-default btn-xs">
          <span class="tooltiplink" data-original-title="Collapse project submissions">
            <i class="fa fa-compress"></i>
          </span>
        </button>
      </span>
    </h3>
    <hr>
    <div class="notifications">
      <% if project_submissions.keys.empty? %>
        No project submissions have been made yet.
      <% else %>
        <div class="panel-group" id="projectsaccordion">
          <% project_submissions.keys.each_with_index do |_pid, index| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#projectsaccordion" href="#collapse-<%= _pid %>">
                    <%= project_submissions[_pid][:heading] %>
                  </a>
                  <span class="pull-right">
                    <span class="badge progress-bar-info">
                      <%= (project_submissions[_pid].keys - [:heading, :name]).count %>
                    </span>
                  </span>
                </h4>
              </div>
              <% if index == 0 %>
              <div id="collapse-<%= _pid %>" class="panel-collapse collapse in paccordion">
              <% else %>
              <div id="collapse-<%= _pid %>" class="panel-collapse collapse">
              <% end %>
                <div class="panel-body">
                  <ul class="list-group">
                    <% if (project_submissions[_pid].keys - [:heading, :name]).empty? %>
                      No project submissions have been made yet.
                    <% else %>
                      <% (project_submissions[_pid].keys - [:heading, :name]).each do |_consultantid| %>
                        <li class="list-group-item">
                          <span class="pull-right">
                            <% if project_submissions[_pid][_consultantid][:resubmission] %>
                              <span class="badge progress-bar-info">Re-submission</span>
                            <% end %>
                            <a target="_blank" href="<%= project_submissions[_pid][_consultantid][:link] %>" class="btn btn-xs notification-links tooltiplink" data-original-title="Submission link"><i class="fa fa-link fa-lg"></i></a>
                            <a id="approve-<%= project_submissions[_pid][_consultantid][:submissionid] %>" class="btn btn-xs notification-links tooltiplink" data-original-title="Approve submission"><i class="fa fa-thumbs-o-up fa-lg"></i></a>
                            <a href="#RedoProject-<%= project_submissions[_pid][_consultantid][:submissionid] %>" data-toggle="modal" class="btn btn-xs notification-links tooltiplink" data-original-title="Disapprove submission"><i class="fa fa-thumbs-o-down fa-lg"></i></a>
                          </span>
                          <strong><%= project_submissions[_pid][_consultantid][:consultantname] %></strong> <small><%= time_ago_in_words(Time.now, project_submissions[_pid][_consultantid][:date]) %> ago</small>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>  
          <% end %>
        </div> <!-- end accordion -->
      <% end %>
    </div>
  </div> <!-- end project validation requests -->
  
  <!-- assignment requests -->
  <div class="row-fluid">
    <h3>
      Assignment Submission Requests
    </h3>
    <hr>
    <!-- assignment submissions -->
    <div class="panel-group" id="subtopics-accordion">
      <% if assignment_submissions.keys.empty? %>
        No assignment submissions have been made yet.
      <% else %>
        <% assignment_submissions.keys.each_with_index do |_subtopicid, index| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#subtopics-accordion" href="#collapse-<%= _subtopicid %>">
                  <%= assignment_submissions[_subtopicid][:name] %>
                </a>
              </h4>
            </div> <!-- panel-heading -->
            <% if index == 0 %>
            <div id="collapse-<%= _subtopicid %>" class="panel-collapse collapse in">
            <% else %>
            <div id="collapse-<%= _subtopicid %>" class="panel-collapse collapse">
            <% end %>
              <div class="panel-body">
                <!-- nested accordion for each assignment -->
                <div class="panel-group" id="subtopics-assignments-<%= _subtopicid %>-accordion">
                  <% assignment_submissions[_subtopicid][:assignments].keys.each_with_index do |_assignmentid, aindex| %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#subtopics-assignments-<%= _subtopicid %>-accordion" href="#collapse-<%= _assignmentid %>">
                            <%= assignment_submissions[_subtopicid][:assignments][_assignmentid][:heading] %>
                          </a>
                          <span class="pull-right">
                            <span class="badge progress-bar-info">
                              <%= (assignment_submissions[_subtopicid][:assignments][_assignmentid].keys - [:heading, :name]).count %>
                            </span>
                          </span>
                        </h4>
                      </div> <!-- end panel-heading -->
                      <% if aindex == 0 %>
                      <div id="collapse-<%= _assignmentid %>" class="panel-collapse collapse in">
                      <% else %>
                      <div id="collapse-<%= _assignmentid %>" class="panel-collapse collapse">
                      <% end %>
                        <div class="panel-body">
                          <ul class="list-group">
                            <% if (assignment_submissions[_subtopicid][:assignments][_assignmentid].keys - [:heading, :name]).empty? %>
                              No assignment submissions have been made yet.
                            <% else %>
                              <% (assignment_submissions[_subtopicid][:assignments][_assignmentid].keys - [:heading, :name]).each do |_consultantid| %>
                                <li class="list-group-item">
                                  <span class="pull-right">
                                    <% if assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:resubmission] %>
                                      <span class="badge progress-bar-info">Re-submission</span>
                                    <% end %>
                                    <a target="_blank" href="<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:link] %>" class="btn btn-xs notification-links tooltiplink" data-original-title="Submission link"><i class="fa fa-link fa-lg"></i></a>
                                    <a id="approve-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>" class="btn btn-xs notification-links tooltiplink" data-original-title="Approve submission"><i class="fa fa-thumbs-o-up fa-lg"></i></a>
                                    <a href="#RedoAssignment-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>" data-toggle="modal" class="btn btn-xs notification-links tooltiplink" data-original-title="Disapprove submission"><i class="fa fa-thumbs-o-down fa-lg"></i></a>
                                  </span>
                                  <strong><%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:name] %></strong> <small><%= time_ago_in_words(Time.now, assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:date]) %> ago</small>
                                </li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div> <!-- end panel -->
                  <% end %>
                </div> <!-- end nested accordion -->
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<style type="text/css">
.table {
  border-bottom:0px !important;
}
.table th, .table td {
  border: 0px !important;
}
.notification-links {
  margin-left : 1px;
  margin-right : 1px;
}
.dpcircle{
  width:50px;
  height:50px;
  border-radius:50px;
  font-size:20px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background:#000
}
</style>

<script src="<%= asset_path 'randomColor.min.js' %>"></script>
<script type="text/javascript">
$(document).ready(function(){
  console.log('<%= project_submissions %>');
  console.log('<%= assignment_submissions %>');
  $('.tooltiplink').tooltip();
  $('#CollapseProjects').click(function(){
    $('.panel-collapse.in').collapse('hide');
  });
  $('#ExpandProjects').click(function(){
    $('.panel-collapse:not(".in")')
      .collapse('show');
  });

  <% team_progress.keys.each_with_index do |member, i| %>
  document.querySelector('#traineedp-<%= i %>').style.background = randomColor({hue: 'random',luminosity: 'random'});
  <% end %>

  <% project_submissions.keys.each_with_index do |_pid, index| %>
    <% (project_submissions[_pid].keys - [:heading, :name]).each do |_consultantid| %>
      $('#approve-<%= project_submissions[_pid][_consultantid][:submissionid] %>').click(function () {
        console.log("Initializing call");
        _this = $(this);
        _this.html('<i class="fa fa-spinner fa-spin"></i>');
        _this.attr('disabled', true); // no double submit

        $.ajax({
          type: "POST",
          url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/project/<%= _pid %>/<%= _consultantid %>/approve",
          success: function(data){
            location.reload();
          },
          error: function(e){
            alert("Error occurred!");
          }
        });
      });
    <% end %>
  <% end %>

  <% assignment_submissions.keys.each_with_index do |_subtopicid, index| %>
    <% assignment_submissions[_subtopicid][:assignments].keys.each_with_index do |_assignmentid, aindex| %>
      <% (assignment_submissions[_subtopicid][:assignments][_assignmentid].keys - [:heading, :name]).each do |_consultantid| %>
        $('#approve-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>').click(function () {
          console.log("Initializing call");
          _this = $(this);
          _this.html('<i class="fa fa-spinner fa-spin"></i>');
          _this.attr('disabled', true); // no double submit

          $.ajax({
            type: "POST",
            url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= _subtopicid %>/assignment/<%= _assignmentid %>/<%= _consultantid %>/approve",
            success: function(data){
              location.reload();
            },
            error: function(e){
              alert("Error occurred!");
            }
          });
        });
      <% end %>
    <% end %>
  <% end %>

  <% project_submissions.keys.each_with_index do |_pid, index| %>
    <% (project_submissions[_pid].keys - [:heading, :name]).each do |_consultantid| %>
      $('#RedoProject<%= project_submissions[_pid][_consultantid][:submissionid] %>Submit').click(function() {
        _this = $(this);
        _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
        _this.attr('disabled', true); // no double submit

        var reason = $("#Redo-<%= project_submissions[_pid][_consultantid][:submissionid] %>Reason").val();

        $.ajax({
          type: "POST",
          dataType: "json",
          url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/project/<%= _pid %>/<%= _consultantid %>/redo",
          data: { 'reason': reason },
          success: function(data) {
            if(!data.success) {
              console.log("Error: " + data.msg);
              _this.attr('disabled', false); // re-enable submit
              _this.html('Re-submit');
              $('#RedoProject<%= project_submissions[_pid][_consultantid][:submissionid] %>Label').addClass('text-danger').html(data.msg);
            } else {
              console.log("Sucess: " + data.msg);
              _this.html("Submitted");
              $('#RedoProject<%= project_submissions[_pid][_consultantid][:submissionid] %>Label').addClass('text-info').html(data.msg);
              $('#RedoProject-<%= project_submissions[_pid][_consultantid][:submissionid] %>').modal('hide');
              location.reload();
            }
          },
          error: function(data) {
            _this.attr('disabled', false); // re-enable submit
            _this.text('Re-submit');
            $('#RedoProject<%= project_submissions[_pid][_consultantid][:submissionid] %>Label').addClass('text-danger').html('Something went wrong adding creating new topic!!!');
          }
        });
      });
    <% end %>
  <% end %>

  <% assignment_submissions.keys.each_with_index do |_subtopicid, index| %>
    <% assignment_submissions[_subtopicid][:assignments].keys.each_with_index do |_assignmentid, aindex| %>
      <% (assignment_submissions[_subtopicid][:assignments][_assignmentid].keys - [:heading, :name]).each do |_consultantid| %>
        $('#RedoAssignment<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Submit').click(function() {
          _this = $(this);
          _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
          _this.attr('disabled', true); // no double submit

          var reason = $("#Redo-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Reason").val();

          $.ajax({
            type: "POST",
            dataType: "json",
            url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= _subtopicid %>/assignment/<%= _assignmentid %>/<%= _consultantid %>/redo",
            data: { 'reason': reason },
            success: function(data) {
              if(!data.success) {
                console.log("Error: " + data.msg);
                _this.attr('disabled', false); // re-enable submit
                _this.html('Re-submit');
                $('#RedoAssignment<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Label').addClass('text-danger').html(data.msg);
              } else {
                console.log("Sucess: " + data.msg);
                _this.html("Submitted");
                $('#RedoAssignment<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Label').addClass('text-info').html(data.msg);
                $('#RedoAssignment-<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>').modal('hide');
                location.reload();
              }
            },
            error: function(data) {
              _this.attr('disabled', false); // re-enable submit
              _this.text('Re-submit');
              $('#RedoAssignment<%= assignment_submissions[_subtopicid][:assignments][_assignmentid][_consultantid][:submissionid] %>Label').addClass('text-danger').html('Something went wrong adding creating new topic!!!');
            }
          });
        });
      <% end %>
    <% end %>
  <% end %>
});
</script>