<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2><a href="/training">Training Portal</a> <small> <a href="/training/track/<%= track.id %>"><%= track.code %></a> > <a href="/training/track/<%= track.id %>/topic/<%= topic.id %>"><%= topic.code %></a> > <a href="/training/track/<%= track.id %>"><%= track.code %></a> > <a href="/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>"><%= sub_topic.name %></a> > Scratch Pad</small>
    </h2>
  </div>

  <div id="epiceditor"></div>
  <br>
  <div style="height: 25px;">
    <a id="savebtn" type="button" class="btn btn-primary">Save</a>
    <p id="statuslabel" class="pull-right" style="line-height: 25px;">Last Saved: <%= time_ago_in_words(Time.now, sp.created_at) %> ago.</p>
  </div>
</div>

<script src="<%= asset_path 'marked.js' %>"></script>
<script src="/epiceditor/js/epiceditor.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var opts = {
      container: 'epiceditor',
      textarea: null,
      basePath: '/epiceditor',
      clientSideStorage: false,
      localStorageName: 'epiceditor',
      useNativeFullscreen: true,
      parser: marked,
      // file: {
      //   name: 'epiceditor',
      //   defaultContent: '',
      //   autoSave: 100
      // },
      theme: {
        base: '/themes/base/epiceditor.css',
        preview: '/themes/preview/github.css',
        editor: '/themes/editor/epic-dark.css'
      },
      button: {
        preview: true,
        fullscreen: true,
        bar: "auto"
      },
      focusOnLoad: true,
      shortcut: {
        modifier: 18,
        fullscreen: 70,
        preview: 80
      },
      string: {
        togglePreview: 'Toggle Preview Mode',
        toggleEdit: 'Toggle Edit Mode',
        toggleFullscreen: 'Enter Fullscreen'
      },
      autogrow: true
    }
    var editor = new EpicEditor(opts);
    editor.load();
    editor.importFile('epiceditor', <%= sp.contents.dump %>);

    $("#savebtn").click(function () {
      var content = editor.exportFile();

      _this = $(this);
      _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
      _this.attr('disabled', true); // no double submit

      $.ajax({
        type: "POST",
        dataType: "json",
        url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/<%= consultant %>/scratchpad",
        data: { 'content': content },
        success: function(data) {
          if(!data.success) {
            console.log("Error: " + data.msg);
            _this.attr('disabled', false); // re-enable submit
            _this.html('Re-submit');
          } else {
            console.log("Success: " + data.msg);
            _this.attr('disabled', false);
            _this.html('Save');
            $("#statuslabel").html("Last Saved: <%= time_ago_in_words(Time.now, sp.created_at) %> ago.");
          }
        },
        error: function(data) {
          _this.attr('disabled', false); // re-enable submit
          _this.text('Re-submit');
        }
      });
    });
  });
</script>