<!-- Modal Definitions -->
<!-- Create a topic -->
<div class="modal fade" id="CreateTrack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a new Training Track</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="TrackName">Track Name:</label>
              <input type="text" class="form-control" id="TrackName" name="TrackName" placeholder="Training track to create (ex: devops, data engineer, etc.)" value="" required="required" />
          </div>
          <div class="form-group">
            <label for="TrackCode">Track Short Code:</label>
              <input type="text" class="form-control" id="TrackCode" name="TrackCode" placeholder="Unique code name for track name (ex: DOPS, DE, etc.)" value="" required="required" />
          </div>
        </form>
        <p id="CreateTrackFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitCreateTrackBtn" name="SubmitBtn" class="btn btn-large btn-primary">Create Training Track</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create a trainer -->
<div class="modal fade" id="AssociateTrainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Associate trainer</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="TrainerEmail">Trainer email:</label>
            <select class="form-control" id="TrainerEmail" name="TrainerEmail" required="required">
              <option selected value=''>Start typing the trainer name</option>
              <% users.each do |u| %>
                <option value="<%= u.email %>"><%= u.first_name %> <%= u.last_name %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="TrainerTrack">Trainers Track:</label>
            <select class="form-control" id="TrainerTrack" name="TrainerTrack" required="required">
              <option selected value=''>Start typing the track name</option>
              <% training_tracks.each do |tt| %>
                <% tt.training_topics.each do |tp| %>
                <option value="<%= tt.code %>|<%= tp.code %>"><%= tt.name %> - <%= tp.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="TeamDomain">Team Domain:</label>
            <input type="text" class="form-control" id="TeamDomain" name="TeamDomain" placeholder="Team's domain, possible values: US, EU, IN" value="" required="required" />
          </div>
          <div class="form-group">
            <label for="TrainerTeam">Trainer Team:</label>
            <input type="text" class="form-control" id="TrainerTeam" name="TrainerTeam" placeholder="Team to which trainer will teach this topic" value="" required="required" />
          </div>
        </form>
        <p id="AssociateTrainerFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitAssociateTrainerBtn" name="SubmitBtn" class="btn btn-large btn-primary">Associate Trainer</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create slack integration for a team -->
<div class="modal fade" id="CreateSlackIntegration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Slack Integration</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="SlackTeamId">Team:</label>
            <input type="text" class="form-control" id="SlackTeamId" name="SlackTeamId" placeholder="Team for which slack integration needs to be created" value="" required="required" />
          </div>
          <div class="form-group">
            <label for="SlackDomain">Domain:</label>
            <select class="form-control" id="SlackDomain" name="SlackDomain" required="required">
              <option selected value='US'>US</option>
              <option value='EU'>EU</option>
              <option value='IN'>IN</option>
            </select>
          </div>
        </form>
        <p id="CreateSlackIntegrationFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitSlackIntegrationBtn" name="SubmitBtn" class="btn btn-large btn-primary">Create Slack Integration</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2>Training Admin Portal
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Start Here <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a id="CreateTrackBtn" data-toggle="modal" href="#CreateTrack">
              Create New Training Track
            </a>
          </li>
          <li>
            <a id="AssociateTrainerBtn" data-toggle="modal" href="#AssociateTrainer">
              Associate Trainer to Topic
            </a>
          </li>
          <li>
            <a id="ManageTrainers">
              Manage Trainers
            </a>
          </li>
          <li>
            <a id="CreateSlackIntegrationBtn" data-toggle="modal" href="#CreateSlackIntegration">
              Create Slack Integration for a Team
            </a>
          </li>
        </ul>
      </div>
    </h2>
  </div> <!-- page-header -->

  <!-- Training Topics -->
  <div class="row-fluid">
    <% if training_tracks.empty? %>
      <h4>No content has yet been created. Go ahead create some training tracks by clicking on "Start Here" button.</h4>
    <% else %>
      <% training_tracks.each do |track| %>
        <% 
          subtopics_count = 0
          track.training_topics.each do |topic|
            subtopics_count += topic.training_sub_topics.count
          end
        %>
        <a class="button hvr-float" style="display:block" href="/training/track/<%= track.id %>">
        <div class="col-xs-3 spacer">
          <div id="track-<%= track.id %>" class="well" style="height:175px; background-color: black;">
            <div align="center" class="font-responsive-large"><font color="white"><%= track.name %></font></div>
            <div align="center" class="font-responsive-small"><font color="white"><%= track.code %></font></div>
            <div align="center" class="font-responsive-small"><font color="white" size="1">Topics: <%= track.training_topics.count %> | SubTopics: <%= subtopics_count %></font></div>
          </div>
        </div>
        </a>
      <% end %>
    <% end %>
  </div>

  <!--Team's overview-->
  <div class="row-fluid">
    <h3>Teams Overview</h3>
    <hr>

    <% if trainers.empty? %>
      No trainers have been associated to any of the teams.
    <% else %>
      <% trainer_teams = trainers.map { |t| t.trainer_topics.map { |tt| { tt.team => tt.domain.upcase } } }.flatten.uniq %>
      <ul class="list-group">
        <% trainer_teams.each do |team_domain_hash| %>
          <li class="list-group-item">
            <span class="pull-right">
              <span class="badge progress-bar-info"><a href="/training/trainer/team/<%= team_domain_hash.keys[0] %>/<%= team_domain_hash.values[0] %>/progress" style="color:white;">Team Progress</a></span>
            </span>
            <strong>Team <%= team_domain_hash.keys[0] %> Progress</strong> (Domain: <%= team_domain_hash.values[0] %>)
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <!-- Classes overview -->
  <div class="row-fluid">
    <h3>Classes Overview</h3>
    <hr>
    <!-- render trainers overview links here -->
    <% if trainers.empty? %>
      No trainers have been associated yet. Please do so by clicking 'Start Here' > 'Associate Trainer to Topic'.
    <% else %>
      <ul class="list-group">
      <% trainers.each do |trainer| %>
        <% trainer.trainer_topics.each do |details| %>
          <li class="list-group-item">
            <span class="pull-right">
              <span class="badge progress-bar-info"><a href="/training/trainer/track/<%= details.track %>/topic/<%= details.topic %>/team/<%= details.team %>" style="color:white;">Goto Class</a></span>
            </span>
            <span class="pull-right">
              <span class="badge progress-bar-success"><%= details.team %></span>
            </span>
            <span class="pull-right">
              <button type="button" id="DisassociateTrainer-<%= details.id %>" class="btn btn-default btn-xs deleteicon"><span class="glyphicon glyphicon-remove deletebutton" data-original-title="Disassociate this trainer"></span></button>
            </span>
            <strong><%= get_user_fullname(trainer.email) %></strong>
            <div>
              <small><%= time_ago_in_words(Time.now, details.created_at) %> ago</small>
            </div>
            <div>
              Associated to track: '<%= get_track_name(details.track) %>', topic: '<%= get_topic_name(details.topic) %>' for team: <%= details.team %>
            </div>
          </li>
        <% end %>
      <% end %>
      </ul>
    <% end %>
  </div>
  <!-- Slack group overviews -->
  <div class="row-fluid">
    <h3>Slack Integration Overview</h3>
    <hr>
    <% if slack_integrations.empty? %>
        No slack integrations have been created for any of the team. You could create some from 'Start Here' > 'Create Slack Integration'.
    <% else %>
      <ul class="list-group">
        <% slack_integrations.each do |integration| %>
          <li class="list-group-item">
            <% training_tracks.each do |track| %>
              <span class="pull-right">
                <span class="badge progress-bar-info"><a href="/training/track/<%= track.id %>/integrations/slack/<%= integration.domain %>/<%= integration.team %>" style="color:white;">Track <%= track.code %></a></span>
              </span>
            <% end %>
            <strong>Team <%= integration.team %></strong>  (Domain: <%= integration.domain %>)
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<style type="text/css">
.spacer {
  margin-top: 20px;
}

.font-responsive-large {
  overflow:auto;
  font-size: 2.5vw;
}
.font-responsive-small {
  overflow:auto;
  font-size: 1.5vw;
}
</style>

<script src="<%= asset_path 'jquery.fittext.js' %>"></script>
<script src="<%= asset_path 'randomColor.min.js' %>"></script>
<script type="text/javascript">
$('.editbutton').tooltip();
$('.deletebutton').tooltip();

$('.deleteicon').hide();

var show = false;
$('#ManageTrainers').click(function() {
  _this = $(this);

  if(show) {
    $('.deleteicon').hide();
    show = false;
    _this.html('Manage Trainers');
  } else {
    $('.deleteicon').show();
    show = true;
    _this.html('Hide Delete');
  }
});

$(".font-responsive-large").fitText(0.7);
$(".font-responsive-small").fitText();

<% training_tracks.each do |track| %>
document.querySelector('#track-<%= track.id %>').style.background = randomColor({hue: 'blue', luminosity: 'dark'});
<% end %>

$("#TrainerTrack").select2();
$("#TrainerEmail").select2();

$('#SubmitCreateTrackBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var tname = $("#TrackName").val();
  var tcode = $("#TrackCode").val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/track/create",
    data: { 'tname': tname, 'tcode': tcode },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateTrackFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#CreateTrackFormLabel').addClass('text-info').html(data.msg);
        $('#CreateTrack').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateTrackFormLabel').addClass('text-danger').html('Something went wrong adding creating new topic!!!');
    }
  });
});

$('#SubmitAssociateTrainerBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var temail = $("#TrainerEmail").val();
  var ttrack = $("#TrainerTrack").val();
  var tteam = $("#TrainerTeam").val();
  var tdomain = $("#TeamDomain").val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/trainer/associate",
    data: { 'temail': temail, 'ttrack': ttrack, 'tteam': tteam, 'tdomain': tdomain },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#AssociateTrainerFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#AssociateTrainerFormLabel').addClass('text-info').html(data.msg);
        $('#AssociateTrainer').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#AssociateTrainerFormLabel').addClass('text-danger').html('Something went wrong associating trainer topic!!!');
    }
  });
});

<% trainers.each do |trainer| %>
  <% trainer.trainer_topics.each do |details| %>
    $('#DisassociateTrainer-<%= details.id %>').click(function() {
      console.log("Initializing call");
      _this = $(this);
      _this.html('<i class="fa fa-spinner fa-spin"></i>');
      _this.attr('disabled', true); // no double submit

      $.ajax({
        type: "POST",
        url: "/training/trainer/disassociate/<%= trainer.id %>/<%= details.track %>/<%= details.topic %>",
        success: function(data){
          location.reload();
        },
        error: function(e){
          alert("Error occurred!");
        }
      });
    });
  <% end %>
<% end %>

$('#SubmitSlackIntegrationBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var team = $("#SlackTeamId").val();
  var domain = $("#SlackDomain").val();

  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/slack_integrations",
    data: { 'team': team, 'domain': domain },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#CreateSlackIntegrationFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Success: " + data.msg);
        _this.html("Submitted");
        $('#CreateSlackIntegrationFormLabel').addClass('text-info').html(data.msg);
        $('#CreateSlackIntegration').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#CreateSlackIntegrationFormLabel').addClass('text-danger').html('Something went wrong creating new slack integration!!!');
    }
  });
});
</script>
