<!-- Modal Definitions -->
<div class="modal fade modal-wide" id="AddAssignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Assignment</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="LLCreateForm">
          <div class="form-group">
            <label for="Heading">Heading:</label>
            <input type="text" class="form-control" id="Heading" name="Heading" placeholder="Heading for the assignment" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label class="control-label" for="Description">Description: (Markdown allowed)</label>
            <textarea rows="5" class="form-control" id="Description" name="Description"></textarea>
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="AthenaeumLink">Athenaeum Link:</label>
            <input type="text" class="form-control" id="AthenaeumLink" name="AthenaeumLink" placeholder="detailed description link (optional)" value="" required="required" />
            <span class="help-block"></span>
          </div>
        </form>
        <p id="AddAssignmentFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="AssignmentSubmitBtn" name="SubmitBtn" class="btn btn-large btn-primary">Add Assignment</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<% sub_topic.training_assignments.each do |assignment| %>
<div class="modal fade modal-wide" id="EditAssignment-<%= assignment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit <%= assignment.name %></h4>
      </div>
      <div class="modal-body">
        <form role="form" id="LLCreateForm">
          <div class="form-group">
            <label for="Heading-<%= assignment.id %>">Heading:</label>
            <input type="text" class="form-control" id="Heading-<%= assignment.id %>" name="Heading-<%= assignment.id %>" placeholder="Heading for the assignment" value="<%= assignment.heading %>" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label class="control-label" for="Description-<%= assignment.id %>">Description: (Markdown allowed)</label>
            <textarea rows="5" class="form-control" id="Description-<%= assignment.id %>" name="Description-<%= assignment.id %>"><%= assignment.description %></textarea>
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="AthenaeumLink-<%= assignment.id %>">Athenaeum Link:</label>
            <input type="text" class="form-control" id="AthenaeumLink-<%= assignment.id %>" name="AthenaeumLink-<%= assignment.id %>" placeholder="detailed description link (optional)" value="<%= assignment.description_link %>" required="required" />
            <span class="help-block"></span>
          </div>
        </form>
        <p id="EditAssignmentFormLabel-<%= assignment.id %>" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="EditAssignmentSubmitBtn-<%= assignment.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Update Assignment</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-wide" id="SubmitAssignment-<%= assignment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Submit <%= assignment.name %></h4>
      </div>
      <div class="modal-body">
        <form role="form" id="LLCreateForm">
          <div class="form-group">
            <label for="AssignmentSubmissionLink-<%= assignment.id %>">Assignment Submission Link:</label>
            <input type="text" class="form-control" id="AssignmentSubmissionLink-<%= assignment.id %>" name="AssignmentSubmissionLink-<%= assignment.id %>" placeholder="Please enter cloudwicklabs github url" value="" required="required" />
            <span class="help-block"></span>
          </div>
        </form>
        <p id="SubmitAssignmentFormLabel-<%= assignment.id %>" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitAssignmentSubmitBtn-<%= assignment.id %>" name="SubmitBtn" class="btn btn-large btn-primary">Submit Assignment</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="modal fade modal-wide" id="EditReferences" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit References</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="LLCreateForm">
          <div class="form-group">
            <label class="control-label" for="References">References: (Markdown allowed)</label>
            <textarea rows="5" class="form-control" id="References" name="References"><%= sub_topic.references %></textarea>
              <span class="help-block"></span>
          </div>
        </form>
        <p id="EditReferencesFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitBtn" name="SubmitBtn" class="btn btn-large btn-primary">Update References</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2><a href="/training">Training Portal</a> <small> <a href="/training/track/<%= track.id %>"><%= track.code %></a> > <a href="/training/track/<%= track.id %>/topic/<%= topic.id %>"><%= topic.code %></a> > Sub Topic</small>
    <% if @user.owner? || @user.administrator? %>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Manage <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a id="ManageAssignments">
              Manage Assignments
            </a>
          </li>
        </ul>
      </div>
    <% end %>
    <% if @user.trainee? %>
      <a data-toggle="tooltip" class="tooltipLink pull-right" data-original-title="Submissions: <%= assignment_submissions %>, Approvals: <%= assignments_approved %>" data-placement="bottom">
        <span style="font-size: 15px">
          <div id="progress-circle"></div>
        </span>
      </a>
    <% end %>
    </h2>
  </div>
  <h3>
    <%= sub_topic.name %>
    <a href="/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/<%= @session_username %>/scratchpad" type="button" class="btn btn-primary pull-right">
      Scratch Pad
    </a>
  </h3>
  <br>

  <!-- Placeholder Table -->
  <table class="table">
    <tr style="height:350px">
      <!-- Slides -->
      <td class="col-xs-6">
        <h4>Slides</h4>
        <hr>
        <!-- Slides area -->  
        <div id="twell-<%= sub_topic.id %>" class="twell" style="height:300px; width:500px">
          <% if slide %>
            <div class="image-in-well" style="position:relative; height:300px; width:500px">
              <img src='data:image/png;base64,<%= slide %>' data-src="holder.js/500x300" class="img-rounded img-responsive" height="300">
              <% if presentation_status == 'SUCCESS' %>
              <div id="spb-<%= sub_topic.id %>" class="hidden" style="position:absolute; bottom:0;">
                <a class="btn btn-primary" style="width:500px" href="/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/ss">Start Presentation</a>
              </div>
              <% end %>
            </div>
          <% else %>
            <div class="image-in-well" style="height:300px; width:500px;">
              <img src="<%= asset_path 'no_presentation_linked.png' %>" data-src="holder.js/500x300" class="img-rounded img-responsive" height="300">
            </div>
          <% end %>
        </div>
        <div class="bwell" style="height:100px; width:500px">
          <p align="left">
            <% if @user.owner? || @user.administrator? %>
              <a class="truncate" href="/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/admin"><font size="+1"><%= sub_topic.name %></font></a>
            <% else %>
              <div class="truncate"><font size="+1"><%= sub_topic.name %></font></div>
            <% end %>
            
            <small>Uploaded <%= uploaded %>, <%= slides_count %> slides</small>
            <br/>
            <i class="fa fa-eye"></i> <small><%= views %> time(s)</small>
          </p>
        </div>
      </td>
      <!--Assignments-->
      <td rowspan="2" class="col-xs-6">
        <h4>Assignments
          <% if @user.owner? || @user.administrator? %>
            <span class="pull-right">
              <a id="AddAssignmentBtn" class="addassignment" href="#AddAssignment" data-toggle="modal" data-placement="left" data-original-title='Add assignment'>
                <i class="fa fa-plus-square-o fa-lg"></i>
              </a>
            </span>
          <% end %>
        </h4>
        <hr>
        <div class="awell spacer sidebar-nav" style="height : 900px;">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% if sub_topic.training_assignments.empty? %>
              No assignments have yet been added, stay tuned for more updates.
            <% else %>
              <% sub_topic.training_assignments.each do |assignment| %>
                <%
                   if @user.trainee?
                     assignment_submission = assignment.training_assignment_submissions.find_by(consultant_id: @session_username)
                     assignment_submission_status = if assignment_submission
                                                      assignment_submission.status
                                                   else
                                                     nil
                                                   end
                   end
                %>
                <% if @user.trainee? %>
                  <% if assignment_submission_status %>
                    <% if assignment_submission_status == 'APPROVED' %>
                    <div class="panel panel-success">
                    <% elsif assignment_submission_status == 'REDO' %>
                    <div class="panel panel-warning">
                    <% else %>
                    <div class="panel panel-default">  
                    <% end %>
                  <% else %>
                  <div class="panel panel-default">
                  <% end %>
                <% else %>
                <div class="panel panel-default">
                <% end %>
                  <div class="panel-heading" role="tab" id="ass-<%= assignment.id %> %>">
                    <h4 class="panel-title">
                      <span class="pull-right">
                        <% if @user.trainee? %>
                          <% unless assignment_submission_status == 'APPROVED' %>
                          <a class="submitassignment" id="SubmitAssignmentBtn-<%= assignment.id %>" data-toggle="modal" href="#SubmitAssignment-<%= assignment.id %>" data-placement="top" data-original-title='Submit assignment'>
                            <i class="fa fa-check-square-o"></i>
                          </a>
                          <% end %>
                        <% end %>
                        <% if @user.owner? || @user.administrator? %>
                          <a class="editassignment" id="EditAssignmentBtn-<%= assignment.id %>" data-toggle="modal" href="#EditAssignment-<%= assignment.id %>" data-placement="top" data-original-title='Edit assignment'>
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <button type="button" id="DeleteAssignment-<%= assignment.id %>" class="btn btn-default btn-xs deleteassignmenticon">
                            <span class="deleteassignment" data-original-title="Delete this assignment">
                              <i class="fa fa-trash-o"></i>  
                            </span>
                          </button>
                        <% end %>
                      </span>
                      <% if assignment.name == 'Assignment #1' %>
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= assignment.id %>" aria-expanded="true" aria-controls="collapse-<%= assignment.id %>">
                      <% else %>
                      <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= assignment.id %>" aria-expanded="false" aria-controls="collapse-<%= assignment.id %>">
                      <% end %>
                        <%= assignment.name %> <%= "(#{assignment.training_assignment_submissions.find_by(consultant_id: @session_username).status.downcase})" if assignment.training_assignment_submissions.find_by(consultant_id: @session_username) %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse-<%= assignment.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ass-<%= assignment.id %> %>">
                    <div class="panel-body assignment-content">
                      <div class="assignment-content-owner">
                        <small>
                          <% if assignment.last_edited_by.nil? %>
                            Created <%= time_ago_in_words(Time.now, assignment.created_at) %> ago, by: <%= assignment.created_by  %>.
                          <% elsif assignment.last_edited_by == assignment.created_by %>
                            Modified <%= time_ago_in_words(Time.now, assignment.last_edited_at) %> ago, by: <%= assignment.last_edited_by %>.
                          <% else %>
                            Modified <%= time_ago_in_words(Time.now, assignment.last_edited_at) %> ago, by: <%= assignment.last_edited_by %>, created by: <%= assignment.created_by %>.
                          <% end %>
                        </small>
                      </div>
                      <h4><%= assignment.heading %></h4>
                      <div id="assignmentcontent-<%= assignment.id %>">
                      </div>
                      <% if !assignment.description_link.empty? %>
                      <br>
                      <a href="<%= assignment.description_link %>">More info</a>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <!-- References -->
    <tr>
      <td>
        <h4>References
          <% if @user.owner? || @user.administrator? %>
          <span class="pull-right">
            <a id="EditReferencesBtn" class="addassignment" href="#EditReferences" data-toggle="modal" data-placement="left" data-original-title='Edit references'>
              <i class="fa fa-pencil-square-o fa-lg"></i>  
            </a>
          </span>
          <% end %>
        </h4>
        <hr>
        <div id="referencescontent" class="rwell spacer"></div>
      </td>
    </tr>
  </table>
</div>

<style type="text/css">
.table {
  border-bottom:0px !important;
}
.table th, .table td {
  border: 0px !important;
}

.twell {
  min-height: 20px;
  padding: 0px;
  border: 1px solid #eeeeee;
  overflow: hidden;
}
.bwell {
  min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.rwell {
  min-height: 20px;
  max-height: 400px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #0160B4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  overflow:scroll;
  overflow-x:hidden;
}
.awell {
  min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #0160B4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  overflow:scroll;
  overflow-x:hidden;
}
.spacer {
  margin-top: 20px;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.deleteicon:hover {
  background-color: #FF7F00;
}
.deleteicon:hover {
  background-color: #FF7F00;
}
#progress-circle {
    width: 50px;
    height: 50px;
}
#progress-circle > svg {
    width: 100%;
    display: block;
}
.assignment-content {
  position:relative;
}
.assignment-content-owner {
  position:absolute;
  top:0;
  right:0;
  margin-right: 5px;
}
</style>

<script src="<%= asset_path 'marked.js' %>"></script>
<script src="<%= asset_path 'progressbar.min.js' %>"></script>
<script type="text/javascript">
$("a.tooltipLink").tooltip();
$(".tooltip").tooltip();
$(".addassignment").tooltip();
$(".editassignment").tooltip();
$(".submitassignment").tooltip();

var showassignmentdelete = false;
$('.deleteassignmenticon').hide();
$('#ManageAssignments').click(function() {
  _this = $(this);

  if(showassignmentdelete) {
    $('.deleteassignmenticon').hide();
    showassignmentdelete = false;
    _this.html('Manage Assignments');
  } else {
    $('.deleteassignmenticon').show();
    showassignmentdelete = true;
    _this.html('Hide Delete');
  }
});

$('#twell-<%= sub_topic.id %>').hover(function () {
    $('#spb-<%= sub_topic.id %>').removeClass('hidden'); 
}, function () {
    $('#spb-<%= sub_topic.id %>').addClass('hidden');
});

<% if @user.trainee? %>
var circle = new ProgressBar.Circle('#progress-circle', {
  color: '#0160B4',
  strokeWidth: 10,
  text: {
    value: '<%= assignments_approved %>/<%= total_assignments %>',
  }
});

// 0.0 to 1.0
circle.animate(<%= (((assignment_submissions * 1.0) + assignments_approved * 2.0) / (total_assignments * 2.0)).to_f %>);
console.log("Submissions: <%= assignment_submissions %>");
console.log("Approved: <%= assignments_approved %>");
console.log("Progress: <%= (((assignment_submissions * 1.0) + assignments_approved * 2.0) / (total_assignments * 2.0)).to_f %>");
<% end %>

document.getElementById('referencescontent').innerHTML = marked(<%= sub_topic.references.dump %>);

<% sub_topic.training_assignments.each do |assignment| %>
document.getElementById('assignmentcontent-<%= assignment.id %>').innerHTML = marked(<%= assignment.description.dump %>);
<% end %>

$('#SubmitBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var references = $("#References").val();
 
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/references",
    data: { 'references': references },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#EditReferencesFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#EditReferencesFormLabel').addClass('text-info').html(data.msg);
        $('#EditReferences').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#EditReferencesFormLabel').addClass('text-danger').html('Something went wrong adding/updating reference!!!');
    }
  });
});

$('#AssignmentSubmitBtn').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var heading = $("#Heading").val();
  var description = $("#Description").val();
  var athenaeumlink = $("#AthenaeumLink").val();
 
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/assignment",
    data: { 'heading': heading, 'description': description, 'athenaeumlink': athenaeumlink },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#AddAssignmentFormLabel').addClass('text-danger').html(data.msg);
      } else {
        console.log("Sucess: " + data.msg);
        _this.html("Submitted");
        $('#AddAssignmentFormLabel').addClass('text-info').html(data.msg);
        $('#AddAssignment').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#AddAssignmentFormLabel').addClass('text-danger').html('Something went wrong adding assignment!!!');
    }
  });
});

<% sub_topic.training_assignments.each do |assignment| %>
$('#EditAssignmentSubmitBtn-<%= assignment.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var heading = $("#Heading-<%= assignment.id %>").val();
  var description = $("#Description-<%= assignment.id %>").val();
  var athenaeumlink = $("#AthenaeumLink-<%= assignment.id %>").val();
 
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/assignment/<%= assignment.id %>/update",
    data: { 'heading': heading, 'description': description, 'athenaeumlink': athenaeumlink },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#EditAssignmentFormLabel-<%= assignment.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Success: " + data.msg);
        _this.html("Submitted");
        $('#EditAssignmentFormLabel-<%= assignment.id %>').addClass('text-info').html(data.msg);
        $('#EditAssignment-<%= assignment.id %>').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#EditAssignmentFormLabel-<%= assignment.id %>').addClass('text-danger').html('Something went wrong updating assignment!!!');
    }
  });
});

$('#SubmitAssignmentSubmitBtn-<%= assignment.id %>').click(function() {
  _this = $(this);
  _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  var submissionlink = $("#AssignmentSubmissionLink-<%= assignment.id %>").val();
 
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/assignment/<%= assignment.id %>/submit",
    data: { 'submissionlink': submissionlink },
    success: function(data) {
      if(!data.success) {
        console.log("Error: " + data.msg);
        _this.attr('disabled', false); // re-enable submit
        _this.html('Re-submit');
        $('#SubmitAssignmentFormLabel-<%= assignment.id %>').addClass('text-danger').html(data.msg);
      } else {
        console.log("Success: " + data.msg);
        _this.html("Submitted");
        $('#SubmitAssignmentFormLabel-<%= assignment.id %>').addClass('text-info').html(data.msg);
        $('#SubmitAssignment-<%= assignment.id %>').modal('hide');
        location.reload();
      }
    },
    error: function(data) {
      _this.attr('disabled', false); // re-enable submit
      _this.text('Re-submit');
      $('#SubmitAssignmentFormLabel-<%= assignment.id %>').addClass('text-danger').html('Something went wrong submitting assignment!!!');
    }
  });
});

$('#DeleteAssignment-<%= assignment.id %>').click(function() {
  console.log("Initializing call");
  _this = $(this);
  _this.html('<i class="fa fa-spinner fa-spin"></i>');
  _this.attr('disabled', true); // no double submit

  $.ajax({
    type: "POST",
    url: "/training/track/<%= track.id %>/topic/<%= topic.id %>/subtopic/<%= sub_topic.id %>/assignment/<%= assignment.id %>/delete",
    success: function(data){
      location.reload();
    },
    error: function(e){
      alert("Error occurred!");
    }
  });
});
<% end %>
</script>
