<% if @user.owner? || @user.administrator? %>
<!-- Modal Definitions -->
<!-- Create a topic -->
<div class="modal fade" id="CreateTopic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a new Training Topic</h4>
      </div>
      <div class="modal-body">
        <form role="form" id="LLCreateForm">
          <div class="form-group">
            <label for="TopicName">Topic Name:</label>
              <input type="text" class="form-control" id="TopicName" name="TopicName" placeholder="Training topic to create (ex: hadoop, spark, ...)" value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="TopicCode">Topic Code: (used for slack group naming convention)</label>
              <input type="text" class="form-control" id="TopicCode" name="TopicCode" placeholder="Short code for the topic to create (ex: HD, SPK, ...) which should be unique." value="" required="required" />
              <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Email">Email Address of content developer:</label>
            <input type="email" class="form-control" id="Email" name="Email" placeholder="email address of the content developer" value="" required="required" />
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Category">Category:</label>
            <select class="form-control" id="Category" name="Category" required="required">
              <option selected value=''>Start typing the category</option>
              <option value='P'>Prerequisite</option>
              <option value='C'>Core</option>
              <option value='A'>Advanced</option>
              <option value='O'>Optional</option>
            </select>
            <span class="help-block"></span>
          </div>
          <div class="form-group">
            <label for="Order">Order (Used for displaying in order by category):</label>
            <input type="text" class="form-control" id="Order" name="Order" placeholder="Please enter the order of this topic" value="" required="required"/>
              <span class="help-block"></span>
          </div>
        </form>
        <p id="CreateTopicFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitCreateTopicBtn" name="SubmitBtn" class="btn btn-large btn-primary">Create Topic</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Definitions -->
<!-- Associate certifications -->
<div class="modal fade" id="AssociateCertification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Associate certification to this track</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="Certification">Certification:</label>
            <select class="form-control" id="Certification" name="Certification" required="required">
              <option selected value=''>Start typing the certification name</option>
              <% c_hash.each do |c| %>
                <option value="<%= c['short'] %>|<%= c['name'] %>"><%= c['name'] %></option>
              <% end %>
            </select>
            <span class="help-block"></span>
          </div>
        </form>
        <p id="AssociateCertificationFormLabel" class="text-center"></p>
        <hr />
        <div class="row-fluid">
          <div class="span3"></div>
          <div class="span6 text-center">
            <button id="SubmitAssociateCertificationBtn" name="SubmitBtn" class="btn btn-large btn-primary">Associate</button>
          </div>
          <div class="span3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- Actual Container -->
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h2><a href="/training">Training Portal</a> <small> <%= track.code %> > Topics</small>
      <% if @user.owner? || @user.administrator? %>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Start Here <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a id="CreateTopicBtn" data-toggle="modal" href="#CreateTopic">
                Create New Training Topic
              </a>
            </li>
            <li>
              <a id="AssociateCertificationBtn" data-toggle="modal" href="#AssociateCertification">
                Associate Certification
              </a>
            </li>
            <li>
              <a id="ManageTopics">
                Manage Topics
              </a>
            </li>
          </ul>
        </div>
      <% end %>
    </h2>
  </div>
  
  <br>

  <table class="table">
    <tr>
      <td class="col-xs-2" style="vertical-align:middle; position:relative;">
        <h3>Prerequisites</h3>
      </td>
      <td class="col-xs-10">
        <% if preqs.count == 0 %>
          <h4>There are no prerequisite courses to this track.</h4>
        <% else %>
          <% preqs.each do |topic| %>
            <div class="col-xs-3 spacer">
              <% if @user.owner? || @user.administrator? %>
                <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#00565A">
                    <div class="font-responsive">
                      <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                    </div>              
                    <button type="button" id="DeleteTopic-<%= topic.id %>" class="btn btn-default btn-xs deleteicon"><span class="glyphicon glyphicon-remove deletebutton" data-original-title="Delete this sub topic"></span></button>
                  </div>
                </a>              
              <% else %>
                <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#00565A">
                    <div class="font-responsive">
                      <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                    </div>
                  </div>
                </a>              
              <% end %>
            </div> <!-- end circle -->
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="col-xs-2" style="vertical-align:middle; position:relative;">
        <h3>Core</h3>
      </td>
      <td class="col-xs-10">
        <% if core.count == 0 %>
          <h4>No core courses have been added yet to this track.</h4>
        <% else %>
          <% core.each do |topic| %>
            <div class="col-xs-3 spacer">
              <% if @user.owner? || @user.administrator? || @user.trainer? %>
                <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#006788">
                    <div class="font-responsive">
                      <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                    </div>
                    <% if @user.owner? || @user.administrator? %>
                    <button type="button" id="DeleteTopic-<%= topic.id %>" class="btn btn-default btn-xs deleteicon"><span class="glyphicon glyphicon-remove deletebutton" data-original-title="Delete this sub topic"></span></button>
                    <% end %>
                  </div>
                </a>
              <% else %>
                <% if access[:core] %>
                  <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                    <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#006788">
                      <div class="font-responsive">
                        <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                      </div>
                    </div>
                  </a>
                <% else %>
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#666666">
                    <div class="font-responsive">
                      <a class="popoverData" class="btn" href="#" data-content="You have to complete 80% of Prerequisite topics to gain access to core topics" rel="popover" data-placement="bottom" data-original-title="No Access" data-trigger="hover" style="color:white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</a>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% if adv.count != 0 %>
      <tr>
        <td class="col-xs-2" style="vertical-align:middle; position:relative;">
          <h3>Advanced</h3>
        </td>
        <td class="col-xs-10">
          <% adv.each do |topic| %>
            <div class="col-xs-3 spacer">
              <% if @user.owner? || @user.administrator? || @user.trainer? %>
                <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#005573">
                    <div class="font-responsive">
                      <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                    </div>
                    <% if @user.owner? || @user.administrator? %>
                    <button type="button" id="DeleteTopic-<%= topic.id %>" class="btn btn-default btn-xs deleteicon"><span class="glyphicon glyphicon-remove deletebutton" data-original-title="Delete this sub topic"></span></button>
                    <% end %>
                  </div>
                </a>
              <% else %>
                <% if access[:adv] %>
                  <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                    <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#005573">
                      <div class="font-responsive">
                        <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                      </div>
                    </div>
                  </a>
                <% else %>
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#666666">
                    <div class="font-responsive">
                      <a class="popoverData" class="btn" href="#" data-content="You have to complete 80% of Core topics to gain access to Advanced topics" rel="popover" data-placement="bottom" data-original-title="No Access" data-trigger="hover" style="color:white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</a>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if opt.count != 0 %>
      <tr>
        <td class="col-xs-2" style="vertical-align:middle; position:relative;">
          <h3>Others</h3>
        </td>
        <td class="col-xs-10">
          <% opt.each do |topic| %>
            <div class="col-xs-3 spacer">
              <% if @user.owner? || @user.administrator? || @user.trainer? %>
                <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#071174">
                    <div class="font-responsive">
                      <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                    </div>
                    <% if @user.owner? || @user.administrator? %>
                    <button type="button" id="DeleteTopic-<%= topic.id %>" class="btn btn-default btn-xs deleteicon"><span class="glyphicon glyphicon-remove deletebutton" data-original-title="Delete this sub topic"></span></button>
                    <% end %>
                  </div>
                </a>
              <% else %>
                <% if access[:opt] %>
                  <a class="button hvr-float" href="/training/track/<%= track.id %>/topic/<%= topic.id %>">
                    <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#071174">
                      <div class="font-responsive">
                        <font color="white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</font>
                      </div>
                    </div>
                  </a>
                <% else %>
                  <div id="topic-<%= topic.id %>" class="circle-multiline" style="background:#666666">
                    <div class="font-responsive">
                      <a class="popoverData" class="btn" href="#" data-content="You have to complete 80% of Advanced topics to gain access to optional topics" rel="popover" data-placement="bottom" data-original-title="No Access" data-trigger="hover" style="color:white"><%= topic.name %> (<%= topic.training_sub_topics.count %>)</a>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="col-xs-2" style="vertical-align:middle; position:relative;">
        <h3>Certifications</h3>
      </td>
      <% if track.certifications.nil? %>
        <td class="col-xs-10" style="vertical-align:middle; position:relative;">
          <h4>No certifications have yet been linked to this track.</h4>
        </td>    
      <% elsif track.certifications.count == 0 %>
        <td class="col-xs-10" style="vertical-align:middle; position:relative;">
          <h4>No certifications have yet been linked to this track.</h4>
        </td>
      <% else %>
        <td class="col-xs-10">
          <% track.certifications.each_with_index do |certification, _i| %>
              <% if @user.owner? || @user.administrator? %>
                  <div class="col-xs-3 spacer">
                    <div id="cert-<%= _i + 1 %>" class="well" style="height:100px; background-color: black;">
                      <p align="center" class="font-responsive-large"><font color="white"><%= certification.split('|').last %></font></p>
                    </div>
                  </div>
              <% else %>
                  <% if access[:certs] %>
                      <div class="col-xs-3 spacer">
                        <div id="cert-<%= _i + 1 %>" class="well" style="height:100px; background-color: black;">
                          <p align="center" class="font-responsive-large"><font color="white"><%= certification.split('|').last %></font></p>
                        </div>
                      </div>
                  <% else %>
                      <div class="col-xs-3 spacer">
                        <div id="cert-<%= _i + 1 %>" class="well" style="height:100px; background:#666666">
                          <a class="popoverData" class="btn font-responsive" href="#" data-content="You have to complete 70% of overall topics to request for certifications" rel="popover" data-placement="bottom" data-original-title="No Access" data-trigger="hover" style="color:white"><%= certification.split('|').last %></a>
                        </div>
                      </div>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
      </td>
    </tr>
  </table>
  </div>
</div>

<style type="text/css">
.table {
  border-bottom:0px !important;
}
.table th, .table td {
  border: 0px !important;
}

.spacer {
  margin-top: 20px;
}

.circle-multiline {
  display: table-cell;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /*background: purple;*/
  color: white;
}

.deleteicon:hover {
  background-color: #FF7F00;
}

.popover-title {
  color: #333333;
}
.popover-content {
  color: #333333;
}
</style>

<script src="<%= asset_path 'jquery.fittext.js' %>"></script>
<script src="<%= asset_path 'randomColor.min.js' %>"></script>
<script type="text/javascript">
$(document).ready(function(){
  console.log('<%= access %>');

  $(".font-responsive").fitText();
  $('#Category').select2();
  $('#Certification').select2();
  $("[rel='tooltip'], .tooltip").tooltip();
  $('.popoverData').popover();

  <% if ! track.certifications.nil? %>
    <% if @user.owner? || @user.administrator? %>
      <% track.certifications.each_with_index do |cert, _i| %>
      document.querySelector('#cert-<%= _i + 1 %>').style.background = randomColor({luminosity: 'dark', hue: 'blue'});
      <% end %>
    <% else %>
      <% if access[:certs] %>
        <% track.certifications.each_with_index do |cert, _i| %>
        document.querySelector('#cert-<%= _i + 1 %>').style.background = randomColor({luminosity: 'dark', hue: 'blue'});
        <% end %>
      <% else %>
        <% track.certifications.each_with_index do |cert, _i| %>
        document.querySelector('#cert-<%= _i + 1 %>').style.background = '#666666';
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @user.owner? || @user.administrator? %>
  $('.deletebutton').tooltip();


  $('#SubmitCreateTopicBtn').click(function() {
    _this = $(this);
    _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    var tname = $("#TopicName").val();
    var tcode = $("#TopicCode").val();
    var email = $("#Email").val();
    var category = $('#Category').val();
    var order = $('#Order').val();

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/training/track/<%= track.id %>/topic/create",
      data: { 'tname': tname, 'tcode': tcode, 'email': email, 'category': category, 'order': order },
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg);
          _this.attr('disabled', false); // re-enable submit
          _this.html('Re-submit');
          $('#CreateTopicFormLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg);
          _this.html("Submitted");
          $('#CreateTopicFormLabel').addClass('text-info').html(data.msg);
          $('#CreateTopic').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        _this.attr('disabled', false); // re-enable submit
        _this.text('Re-submit');
        $('#CreateTopicFormLabel').addClass('text-danger').html('Something went wrong adding creating new topic!!!');
      }
    });
  });

  $('#SubmitAssociateCertificationBtn').click(function() {
    _this = $(this);
    _this.html('<em>Submitting</em> <i class="fa fa-spinner fa-spin"></i>');
    _this.attr('disabled', true); // no double submit

    var cert = $("#Certification").val();

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/training/track/<%= track.id %>/associate/certification",
      data: { 'cert': cert },
      success: function(data) {
        if(!data.success) {
          console.log("Error: " + data.msg);
          _this.attr('disabled', false); // re-enable submit
          _this.html('Re-submit');
          $('#CreateTopicFormLabel').addClass('text-danger').html(data.msg);
        } else {
          console.log("Sucess: " + data.msg);
          _this.html("Submitted");
          $('#CreateTopicFormLabel').addClass('text-info').html(data.msg);
          $('#CreateTopic').modal('hide');
          location.reload();
        }
      },
      error: function(data) {
        _this.attr('disabled', false); // re-enable submit
        _this.text('Re-submit');
        $('#CreateTopicFormLabel').addClass('text-danger').html('Something went wrong associating certification!!!');
      }
    });
  });

  // Disapprove requests
  var show = false;

  $('.deleteicon').hide();

  $('#ManageTopics').click(function() {
    _this = $(this);

    if(show) {
      $('.deleteicon').hide();
      show = false;
      _this.html('Manage Topics');
    } else {
      $('.deleteicon').show();
      show = true;
      _this.html('Hide Delete');
    }
  })

    <% track.training_topics.each do |topic| %>
    $('#DeleteTopic-<%= topic.id %>').click(function() {
      console.log("Initializing call");
      _this = $(this);
      _this.html('<i class="fa fa-spinner fa-spin"></i>');
      _this.attr('disabled', true); // no double submit

      $.ajax({
        type: "POST",
        url: "/training/track/<%= track.id %>/topic/delete/<%= topic.id %>",
        success: function(data){
          location.reload();
        },
        error: function(e){
          alert("Error occurred!");
        }
      });
    });
    <% end %>
  <% end %>
});
</script>
