<!DOCTYPE html>
<html>
	<head>
		<title>Cloudwick Sync</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Cloudwick Sync">
		<meta name="author" content="Ashrith Mekala">

		<link rel="icon" type="image/ico" href="/favicon.ico">
		<link href="<%= asset_path 'bootstrap.min.css' %>" rel="stylesheet">
		<link href="<%= asset_path 'bootstrap-responsive.min.css' %>" rel="stylesheet">

    <style>
		.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    	border: none;
		}

		#slidecontent {
			margin: 0 auto; /* horizontally centers the div */
			/*height: 680px;
			width: 1150px;*/
			height: 90vh;
			width: 80vw;
			text-align: center;
			/*border: 1px solid #021a40;*/
		}

		#slideimg {
			max-height: 100%;
			max-width: 100%;
			/* pinterest pins like drop shadows */
			background-color: white;
  		box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  		-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  		-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
		}

		#wrapper {
			padding-left: 0;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

		#wrapper.toggled {
			padding-left: 220px;
		}

		#sidebar-wrapper {
			z-index: 1000;
			position: fixed;
			left: 250px;
			width: 0;
			height: 100%;
			margin-left: -250px;
			overflow-y: auto;
			background: #000;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

		#wrapper.toggled #sidebar-wrapper {
			width: 250px;
		}

		#page-content-wrapper {
			width: 100%;
			position: absolute;
			padding: 15px;
		}

		#wrapper.toggled #page-content-wrapper {
			position: absolute;
			margin-right: -250px;
		}

		/* Sidebar Styles */

		.sidebar-nav {
			position: absolute;
			top: 0;
			width: 250px;
			margin: 0;
			padding: 0px 10px; /* left slide thumbnail padding */
			list-style: none;
		}

		.sidebar-nav li {
			text-indent: 20px;
			line-height: 40px;
		}

		.sidebar-nav li a {
			display: block;
			text-decoration: none;
			color: #999999;
		}

		.sidebar-nav li a:hover {
			text-decoration: none;
			color: #fff;
			background: rgba(255,255,255,0.2);
		}

		.sidebar-nav li a:active,
		.sidebar-nav li a:focus {
			text-decoration: none;
		}

		.sidebar-nav > .sidebar-brand {
			height: 65px;
			font-size: 18px;
			line-height: 60px;
		}

		.sidebar-nav > .sidebar-brand a {
			color: #999999;
		}

		.sidebar-nav > .sidebar-brand a:hover {
			color: #fff;
			background: none;
		}

		@media(min-width:768px) {
			#wrapper {
				padding-left: 250px;
			}

			#wrapper.toggled {
				padding-left: 0;
			}

			#sidebar-wrapper {
				width: 250px;
			}

			#wrapper.toggled #sidebar-wrapper {
				width: 0;
			}

			#page-content-wrapper {
				padding: 20px;
				position: relative;
			}

			#wrapper.toggled #page-content-wrapper {
				position: relative;
				margin-right: 0;
			}
		}
    </style>

		<script src="<%= asset_path 'jquery-2.1.1.js' %>"></script>
		<script src="<%= asset_path 'bootstrap.min.js' %>"></script>
		<script src="<%= asset_path 'holder.min.js' %>"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
